<%= render partial: "shared/errors", locals: {errors: f.object.errors, model: undescore(f.object.class.name)}%>

<div class="row">
    <div class="small-3 column">
        <%=f.input :name, label_html: { class: ("error" unless f.object.errors[:name].blank?) },
            input_html: {disabled: true, class: ("error" unless f.object.errors[:name].blank?) } %>
    </div>
    <div class="small-3 column">
        <%=f.input :start_year, label_html: { class: ("error" unless f.object.errors[:start_year].blank?) },
            input_html: { class: ("error" unless f.object.errors[:start_year].blank?) } %>
    </div>
    <div class="small-3 column">
        <%=f.input :end_year, label_html: { class: ("error" unless f.object.errors[:end_year].blank?) },
            input_html: { class: ("error" unless f.object.errors[:end_year].blank?) } %>
    </div>
    <div class="small-3 column">
        <% election_date = f.object.election_date.nil? ? '' : f.object.election_date.strftime("%Y-%m-%d") %>
        <%= f.input :election_date, as: :string, input_html: { value: election_date , type: 'date' }%>
    </div>
</div>
<div class="row">
    <div class="small-3 column">
        <% full_constitutional_date = f.object.full_constitutional_date.nil? ? '' : f.object.full_constitutional_date.strftime("%Y-%m-%d") %>
        <%= f.input :full_constitutional_date,as: :string, input_html: { value: full_constitutional_date , type: 'date'} %>
    </div>
    <div class="small-3 column">
        <% end_corporation_date = f.object.end_corporation_date.nil? ? '' : f.object.end_corporation_date.strftime("%Y-%m-%d") %>
        <%= f.input :end_corporation_date,as: :string, input_html: { value: end_corporation_date , type: 'date'} %>
    </div>
    <div class="small-3 column">
        <%=f.input :councillors_num %>
    </div>
    <div class="small-3 column">
        <%=f.input :active %>
    </div>
</div>
<div class="row">
    <div class="column">
        <fieldset>
        <legend><%=t('admin.corporations.electoral_lists')%></legend>           
            <div  class="row">
                <div class="small-6 column">
                    <%= label_tag(:electoral_list, "#{t('admin.corporations.electoral_list')}*") %>
                </div>
                <div class="small-3 column">
                    <%= label_tag(:order, t('admin.corporations.order')) %>
                </div>
                <div class="small-3 column">
                </div>
            </div>
            <div id="corporations_electoral_lists">
                <%= f.fields_for :corporations_electoral_lists  do |ce_list| %>
                    <div  class="row">
                        <div class="small-6 column">
                            <%= ce_list.association :electoral_list, label: false,
                                input_html: { class: ("error" unless ce_list.object.errors[:electoral_list].blank?) } %>
                        </div>
                        <div class="small-3 column">
                            <%= ce_list.input :order, label: false%>
                        </div>
                        <div class="small-3 column" >
                            <%= ce_list.link_to_remove t('shared.delete'), class: "delete", onclick: "reload_data_info(1)" %>
                        </div>
                    </div>
                <%end%>
            </div>
        <div class="row">
            <div class="column">
                <%= f.link_to_add t('shared.add'), :corporations_electoral_lists,:class => "right small button radius success", :data => { :target => "#corporations_electoral_lists" }, onclick: "reload_data_info(0)" %>
            </div>
        </div>
        </fieldset>
    </div>
</div>
    
<div class="actions">
    <%= link_to t('admin.actions.back'), admin_electoral_lists_path, class: "button radius" %>
    <%= f.button :submit, class: "button radius" %>
</div>