<h1><%= t('admin.corporations.edit.title') %></h1>
<%= simple_nested_form_for @corporation, url: admin_corporation_path(@corporation), html: { multipart: true } do |f| %>
  <%= render 'form', f: f %>
<% end %>