<h1><%= t('admin.corporations.index.title') %></h1>
<p>
    <div class="row">
        <div class="column">
            <%= link_to t('admin.corporations.index.new_action'), new_admin_corporation_path, class: 'button small radius ' %>
        </div>
    </div>
</p>
<table>
  <thead>
    <tr>
        <% Corporation.main_columns.each do |col|%>
            <th><%=Corporation.human_attribute_name(col)%></th>
        <%end%>
        <th><%= t("admin.people.headers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @corporations.each do |corp| %>
      <tr>
        <% Corporation.main_columns.each do |col|%>
            <td><%=col.to_s == "active" ? t("booleans.#{corp.try(col).to_s}") : corp.try(col)%></td>
        <%end%>
        <td>
          <%= link_to edit_admin_corporation_path(corp), alt: t('admin.actions.edit'),title:t('admin.actions.edit') do %>
            <i class="fa fa-pen fa-lg"></i>
          <%end%>
          <%= link_to admin_corporation_path(corp), class: "delete", method: :delete, data: {confirm: t("admin.corporations.confirm_deletion", corporation: corp.name)}, alt: t('admin.actions.delete'),title:t('admin.actions.delete') do %>
            <i class="fa fa-trash-alt fa-lg"></i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>