<ul class="tabs">
  <li id="data_log" class="tab-title <%= 'active' if active == 'pending'%>">
    <%= link_to  t('notifications.pending', count: count), eval("#{aux}_admin_notifications_path") %>
  </li>
  <li id="data_log" class="tab-title <%= 'active' if active == 'historic'%>">
    <%= link_to  t('notifications.historic'), eval("#{aux}_historic_admin_notifications_path") %>
  </li>
</ul>


<div class="tabs-content">  
  <div class="small-12 column content active" aria-hidden="false">    
    <% if active == 'pending' %>
      <%=render "search_pending", type: type%>
    <%else%>
      <%=render "search_historic", type: type%>
    <%end%>
    <p>
      <div class="row">
          <div class="column">
              <%= link_to t('filter_people.xls_button'), current_url(:format=>:xls, export_all: :false), class: 'button small radius success' %>
              <%= link_to t('filter_people.all_xls_button'), current_url(:format=>:xls, export_all: :true), class: 'button small radius success' %>
          </div>
      </div>
    </p>
    <%=render "notification", notifications: @notifications, content: active%>
  </div> 
</div>