<h1><%= t('admin.menu.notifications', count: getNumberNotifications) %></h1>

<p>
  <div class="row">
    <div class="column">
      <%= link_to t('notifications.update.title'), update_data_admin_notifications_path, data: {confirm: t('notifications.confirm_update')},class: 'button small radius ' %>
    </div>
  </div>
</p>

<ul class="tabs">
<li id="data_log" class="tab-title <%= 'active' if type == 'Person'%>">
    <%= link_to t('notifications.people', count: getNumberNotificationsPending('Person')), person_admin_notifications_path %>
  </li>
  <li id="data_log" class="tab-title <%= 'active' if type == 'Profile'%>">
    <%= link_to t('notifications.profiles', count: getNumberNotificationsPending('Profile')), profiles_admin_notifications_path %>
  </li>
  <li id="data_log" class="tab-title <%= 'active' if type == 'AssetsDeclaration'%>">
    <%= link_to t('notifications.assets', count: getNumberNotificationsPending('AssetsDeclaration')), assets_admin_notifications_path %>
  </li>
  <li id="data_log" class="tab-title <%= 'active' if type == 'ActivitiesDeclaration'%>">
    <%= link_to t('notifications.activities', count: getNumberNotificationsPending('ActivitiesDeclaration')), activities_admin_notifications_path %>
  </li>

</ul>

<div class="tabs-content">
  <div class="small-12 column content active" aria-hidden="false">
    <%=render "list_data", type: type, count: getNumberNotificationsPending(type), active: active, aux: aux%>
  </div>
</div>
