
<%if !notifications.blank? && notifications.count > 0%>
  <table>
    <thead>
      <tr>
        <%notifications.first.type_data.constantize.especific_columns.each do |c|%>
          <th>
            <%= sortable c, notifications.first.type_data.constantize.human_attribute_name(c) %>
            <% if c.to_s==@sort.to_s%>
              <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
            <%end%>
          </th>
        <%end%>
        <th><%= sortable :created_at, Notification.human_attribute_name(:created_at) %>
          <% if "created_at"==@sort.to_s%>
            <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
          <%end%>
        </th>
        <% if content.to_s == 'historic'%>
          <th><%= sortable :type_action, Notification.human_attribute_name(:type_action) %>
          <% if "type_action"==@sort.to_s%>
            <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
          <%end%>
          </th>
          <th><%= sortable :change_state_at, Notification.human_attribute_name(:change_state_at) %>
          <% if "change_state_at"==@sort.to_s%>
            <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
          <%end%>
          </th>
          <th><%= sortable :administrator, Notification.human_attribute_name(:administrator) %>
          <% if "administrator"==@sort.to_s%>
            <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
          <%end%>
          </th>
          <th><%= sortable :forwards, Notification.human_attribute_name(:forwards) %>
          <% if "forwards"==@sort.to_s%>
            <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
          <%end%>
          </th>
        <%else%>
          <th><%= sortable :no_publish_reason, Notification.human_attribute_name(:no_publish_reason) %>
          <% if "no_publish_reason"==@sort.to_s%>
            <i class="fa <%=@direction.to_s == 'asc' ? 'fa-caret-up' : 'fa-caret-down'%> fa-lg"></i>
          <%end%>
          </th>
        <%end%>    
        <th><%= Notification.human_attribute_name(:actions) %></th>  
      </tr>
    </thead>
    <tbody width="100%">
      <% notifications.each do |notification| %>
        <tr>
          <%notification.type_data.constantize.especific_columns.each do |c|%>            
            <td><%= notification.content_data_hash_formated(c)%></td>            
          <%end%>
          <td><%= notification.try(:created_at) %></td>
          <% if content.to_s == 'historic'%>
            <td><%= notification.try(:no_publish_reason).blank? ? notification.try(:type_action) : notification.try(:no_publish_reason) %></td>
            <td><%= notification.try(:change_state_at) %></td>
            <td><%= notification.try(:author).blank? ? "Administrador del sistema" : notification.try(:author) %></td>
            <td><%= notification.try(:forwards) %></td>        
          <%else%>              
            <td><%= notification.try(:no_publish_reason) %></td>
          <%end%>
          <td>
            <%= link_to admin_notification_path(notification, content: content), alt: Notification.human_attribute_name(:show_notification), title: Notification.human_attribute_name(:show_notification) do %>
              <i class="fa fa-align-justify fa-lg"></i>
            <%end%>
            <%= link_to publicable_admin_notification_path(notification, content: content), alt: Notification.human_attribute_name(:show), title: Notification.human_attribute_name(:show) do %>
              <i class="fa fa-eye fa-lg"></i>
            <%end%>
            <%if content.to_s != 'person' && content.to_s == 'historic' && (!DataPreference.find_by(code: 'num_notification_reintent_manual').try(:content_data).blank? && notification.forwards.to_i < DataPreference.find_by(code: 'num_notification_reintent').try(:content_data).to_i || notification.forwards.to_i < 5) && notification.try(:no_publish_reason).to_s.include?("No se ha realizado el feedback") %>
              <%= link_to forward_admin_notification_path(notification, content: content), alt: t('notifications.forward_button'), title: t('notifications.forward_button') do %>
                <i class="fas fa-redo-alt fa-lg"></i>
              <%end%>
            <%end%>
            <% if content.to_s != 'historic'%>
              <%= link_to permit_admin_notification_path(notification), data: {:confirm => Notification.human_attribute_name(:confirm_message)}, alt: Notification.human_attribute_name(:publish), title: Notification.human_attribute_name(:publish), class: 'success' do %>
                <i class="fa fa-check fa-lg"></i>
              <%end%>
              <%= link_to insert_reject_admin_notification_path(notification), alt: Notification.human_attribute_name(:rejected),title: Notification.human_attribute_name(:rejected) do %>
                <i class="fa fa-ban fa-lg logout"></i>
              <%end%>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= paginate notifications, :params => @section_params %>

<% else %>
    <%=Notification.human_attribute_name(:no_data_list)%>
<%end%>

  

