<fieldset>
    <legend><%=t('filter_notifications.title')%></legend>
        <%= form_tag(@path_content, method: :get,  id: 'form') do %>
        <div class="row">
            <div class="small-4 column">
                <%= label_tag :name, t('filter_notifications.name')%>
                <%= text_field_tag :name,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["name"])||params[:name]||"", placeholder: t('filter_notifications.name')%>
            </div>
            <div class="small-4 column">
                <%= label_tag :last_name, t('filter_notifications.last_name')%> 
                <%= text_field_tag :last_name,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["last_name"])||params[:last_name] || "", placeholder: t('filter_notifications.last_name')%>
            </div>
            <div class="small-4 column">
                <%= label_tag :type_person, t('filter_notifications.type_person')%>
                <%= select_tag :type_person,options_for_select( @person_types ,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["type_person"])||params[:type_person] || ""),:prompt => t('filter_notifications.type_person')%>
            </div>            
        </div>
        <div class="row">
            <div class="small-3 column">
                <%= label_tag :process_start_date, t('filter_notifications.process_start')%>
                <%= date_field_tag :process_start_date,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["process_start_date"])||params[:process_start_date] || "", placeholder: t('filter_people.start_date'), onchange: "validate_dates($(this),$('#process_end_date'),0)"%>
            </div>
            <div class="small-3 column">
                <%= label_tag :process_end_date, t('filter_notifications.process_end')%>
                <%= date_field_tag :process_end_date,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["process_end_date"])||params[:process_end_date] || "", placeholder: t('filter_people.start_date'), onchange: "validate_dates($('#process_start_date'),$(this),1)"%>
            </div>            
            <div class="small-3 column">
                <%= label_tag :update_start_date, t("filter_notifications.#{@field_traduction}_start")%>
                <%= date_field_tag :update_start_date,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["update_start_date"])||params[:update_start_date] || "", placeholder: t('filter_people.start_date'), onchange: "validate_dates($(this),$('#update_end_date'),0)"%>
            </div>
            <div class="small-3 column">
                <%= label_tag :update_end_date, t("filter_notifications.#{@field_traduction}_end")%>
                <%= date_field_tag :update_end_date,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["update_end_date"])||params[:update_end_date] || "", placeholder: t('filter_people.end_date'), onchange: "validate_dates($('#update_start_date'),$(this),1)"%>
            </div>
        </div>  
        <div class="row">
            <div class="small-4 column">
                <%= label_tag :personal_code, t('filter_notifications.personal_code')%>
                <%= text_field_tag :personal_code,(session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["personal_code"])||params[:personal_code]||"", placeholder: t('filter_notifications.personal_code')%>
            </div>
            <div class="small-4 column">
                <%= label_tag :archived, t('filter_notifications.archived') %>
                <%= select_tag :archived, options_for_select(archived_select_options, (session["search_params_not_#{type}_historic".to_sym].blank? ? nil : session["search_params_not_#{type}_historic".to_sym]["archived"])|| params[:archived] || "") %>
            </div>    
            <div class="small-4 column">
            </div>                
        </div>
        <%= hidden_field_tag :historic, "true" %>
         <%= hidden_field_tag :sort, @sort %>
        <%= hidden_field_tag :direction, @direction %>
        <div class="row">
            <div class="column text-right">
                <%= submit_tag t('filter_people.search_button'), class: 'button small radius primary'%>
                <%= button_tag t('filter_people.clean_button'), class: 'button small radius secondary', onclick: "clean_search()"%>
            </div>
        </div>
    <%end%>
</fieldset>