<h1><%= t('notification.reject_title') %></h1>
<%= form_tag(reject_admin_notification_path(@notification), method: :get) do |f| %>
  <div class="row">
    <div class="small-12 large-9 columns">
      <%= label_tag(:reason, t('notification.reject_reason')) %>
      <%= text_field_tag :reason %>
    </div>
  </div>
  <%= link_to t('notifications.back'), @path_content, class: 'button radius' %>
  <%= submit_tag t('shared.submit'), class: "radius success button", data: { :confirm => Notification.human_attribute_name(:rejected_message)}%>
<% end %>