<%=@data_show%>

<p class="text-center">
  <%= link_to t('notifications.back'), @path_content, class: 'button radius' %>
  <%if !@notification.historic?%>
    <%= link_to permit_admin_notification_path(@notification), data: {:confirm => Notification.human_attribute_name(:confirm_message)}, alt: Notification.human_attribute_name(:publish), title: Notification.human_attribute_name(:publish), class: 'button radius success' do %>
        <i class="fa fa-check fa-lg"></i> <%=Notification.human_attribute_name(:publish)%>
    <%end%>
    <%= link_to insert_reject_admin_notification_path(@notification),  alt: Notification.human_attribute_name(:rejected),title: Notification.human_attribute_name(:rejected),  class: 'button radius alert' do %>
        <i class="fa fa-ban fa-lg logout"></i> <%=Notification.human_attribute_name(:rejected)%>
    <%end%>
  <%end%>
   <%= link_to publicable_admin_notification_path(@notification), alt: Notification.human_attribute_name(:show), title: Notification.human_attribute_name(:show), class: 'button radius' do %>
      <i class="fa fa-eye fa-lg"></i> <%=Notification.human_attribute_name(:show)%>
    <%end%>
</p>