<% provide :title do %><%= t('static_pages.accessibility.title') %><% end %>
<div class="row">
  <div class="small-12 column">
    <h1 id="title"><%=t('accessibility.title')%></h1>
    <%=t('accessibility.section_1').html_safe%>
    <h2 id="title1"><%=t('accessibility.title_2').html_safe%></h2>
    <div class="row">
      <div class="small-12 medium-3 column text-center">
        <%= image_tag "marca_aenor.png", alt: t('accessibility.logo_title') %>
      </div>
      <div class="small-12 medium-9 column margin">
        <%=t('accessibility.section_2').html_safe%>
      </div>
    </div>
    <h2 id="title2"><%= t "accessibility.keyboard.title" %></h2>
    <p><%= t "accessibility.keyboard.description" %></p>
    <div class="small-12 medium-6">
      <table>
        <caption class="show-for-sr"><%= t "accessibility.keyboard.navigation.title" %></caption>
        <thead>
          <tr>
            <th scope="col" class="text-center"><%= t "accessibility.keyboard.navigation.key" %></th>
            <th scope="col"><%= t "accessibility.keyboard.navigation.page" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">0</td>
            <td><%= t "accessibility.keyboard.navigation.councillors" %></td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td><%= t "accessibility.keyboard.navigation.directors" %></td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td><%= t "accessibility.keyboard.navigation.temporary_workers" %></td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td><%= t "accessibility.keyboard.navigation.public_workers" %></td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td><%= t "accessibility.keyboard.navigation.spokespeople" %></td>
          </tr>
          <tr>
            <td class="text-center">5</td>
            <td><%= t "accessibility.keyboard.navigation.agends" %></td>
          </tr>
          <tr>
            <td class="text-center">6</td>
            <td><%= t "accessibility.keyboard.navigation.assets_working" %></td>
          </tr>
          <tr>
            <td class="text-center">7</td>
            <td><%= t "accessibility.keyboard.navigation.activities_not_working" %></td>
          </tr>
          <tr>
            <td class="text-center">8</td>
            <td><%= t "accessibility.keyboard.navigation.corporations" %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <p><%= t "accessibility.keyboard.shortcuts.description" %></p>

    <div class="small-12 medium-6">
      <table>
        <caption class="show-for-sr"><%= t "accessibility.keyboard.shortcuts.description" %></caption>
        <thead>
          <tr>
            <th scope="col"><%= t "accessibility.keyboard.shortcuts.navigator" %></th>
            <th scope="col"><%= t "accessibility.keyboard.shortcuts.shorcut" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Explorer</td>
            <td><%= t "accessibility.keyboard.shortcuts.explorer_shortcut" %></td>
          </tr>
          <tr>
            <td>Firefox</td>
            <td><%= t "accessibility.keyboard.shortcuts.firefox_shortcut" %></td>
          </tr>
          <tr>
            <td>Chrome</td>
            <td><%= t "accessibility.keyboard.shortcuts.chrome_shortcut" %></td>
          </tr>
          <tr>
            <td>Safari</td>
            <td><%= t "accessibility.keyboard.shortcuts.safari_shortcut" %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 id="title3"><%=t('accessibility.title_3')%></h2>
    <%=t('accessibility.section_3').html_safe%>

    <h2 id="title4"><%=t('accessibility.title_4')%></h2>
    <%=t('accessibility.section_4').html_safe%>

    <p><%= image_tag "logo_wcag1AA.gif", alt: t('accessibility.logo_AA') %></p>

    <h2 id="title5"><%=t('accessibility.title_5')%></h2>
    <%=t('accessibility.section_5').html_safe%>
  </div>
</div>
