<% provide :title do %><%= t('static_pages.maintance.title') %><% end %>

<div class="small-12 column">
  <h1><%= t("static_pages.maintance.title") %></h1>

  <p>Actualmente la página web se encuentra en mantenimiento, disculpen las molestias</p>
</div>