<%if !logs.blank? && logs.count > 0%>
<table>
  <thead>
    <tr>
      <th><%= model.human_attribute_name(:created_at) %></th>
      <th><%= model.human_attribute_name(:author_email) %></th>
      <th><%= model.human_attribute_name(:translated_successful) %></th>
    </tr>
  </thead>
  <tbody>
    <% logs.each do |p| %>
      <tr>
        <td><%= link_to p.try(:created_at), public_send(path,p,{section_m: section_m}), style: "display: block;"  %></td>
        <td><%= link_to p.try(:author_email), public_send(path,p,{section_m: section_m}), style: "display: block;" %></td>
        <td><%= link_to p.try(:translated_successful), public_send(path,p,{section_m: section_m}), style: "display: block;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate logs %>
<% else %>
    <%=t("admin.#{model.model_name.human.pluralize.gsub(' ','_').downcase}.index.no_rows")%>
<%end%>
