<h1><%= t('admin.dashboard.title') %></h1>
<%= render partial: "shared/errors", locals: {errors: @delete_data.errors, model: undescore(@delete_data.class.name)}%>

<%= form_tag({:controller => "delete_data", :action => "delete_information"}, :method => "post", :enctype =>"multipart/form-data" ) do %>
    <div id="recarga">
        <div class="row" style="margin-top: 10px">
            <div class="column">
                <div class="row">
                    <div class="small-6 column">
                        <%= radio_button_tag("delete_data[delete]",:single,( !@attrs[:delete].blank? && @attrs[:delete]=="single"), :onclick => "reload_form('#{get_url_reload.to_s}')") %>
                        <%= label_tag(:delete_single, t('admin.dashboard.form.delete_single')) %>
                    </div>
                    <div class="small-6 column">
                        <%= radio_button_tag("delete_data[delete]",:complete,(!@attrs[:delete].blank? && @attrs[:delete]=="complete"), :onclick => "reload_form('#{get_url_reload.to_s}')") %>
                        <%= label_tag(:delete_complete, t('admin.dashboard.form.delete_complete')) %>
                    </div>
                </div>
                <%if !@attrs[:delete].blank?%>
                    <div class="row">
                        <div class="small-6 column">
                            <%= label_tag(:type_people, t('admin.dashboard.form.type_people')) %>
                            <%= select_tag "delete_data[type_people]", options_for_select(@type_people, @attrs[:type_people] || ""),:prompt => t('admin.dashboard.form.select_type_people'), :onchange => "reload_form('#{get_url_reload.to_s}')"%>
                        </div>
                        <div class="small-6 column">
                            <%= label_tag(:type_information, t('admin.dashboard.form.type_information')) %>
                            <%= select_tag "delete_data[type_information]", options_for_select(@type_informations, @attrs[:type_information] || ""),:prompt => t('admin.dashboard.form.select_type_information'), :onchange => "reload_form('#{get_url_reload.to_s}')"%>
                        </div>
                    </div>
                    <div class="row">
                        <% if @attrs[:delete].to_s=="single" && !@attrs[:type_information].blank? %>
                        <div class="small-6 column">
                            <%= label_tag(:people, t('admin.dashboard.form.people')) %>
                            <%= select_tag "delete_data[people]", options_from_collection_for_select(@job_levels, "id", "backwards_name", @attrs[:people] || nil),:prompt => t('admin.dashboard.form.select_people'), :onchange => "reload_form('#{get_url_reload.to_s}')"%>
                        </div>
                        <%end%>
                        <% if @attrs[:delete].to_s=="complete" && !@attrs[:type_people].blank? && @attrs[:type_people].to_s == "councillor"%>
                        <div class="small-6 column">
                            <%= label_tag(:corporation, t('admin.dashboard.form.corporation')) %>
                            <%= select_tag "delete_data[corporation]",options_from_collection_for_select(@corporation_list,"id", "name", @attrs[:corporation] || ""),:prompt => t('admin.dashboard.form.select_corporation'), :onchange => "reload_form('#{get_url_reload.to_s}')"%>
                        </div>
                        <%end%>
                        <% if !@attrs[:type_information].blank? && @attrs[:type_information].to_s!="profile"%>
                        <div class="small-6 column">
                            <%= label_tag(:period, t('admin.dashboard.form.period')) %>
                            <%= select_tag "delete_data[period]", options_for_select(@periods, @attrs[:period] || ""),:prompt => t('admin.dashboard.form.select_period'), :onchange => "reload_form('#{get_url_reload.to_s}')"%>
                        </div>
                        <%end%>
                    </div>
                <%end%>
                <div class="row">
                    <div class="column">
                        <%= submit_tag t('admin.dashboard.form.button_delete'),class: "button radius" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%end%>

<h2><%= t('admin.delete_logs.title') %></h2>
<div id="recarga_historico"><%= render partial: 'logs', locals: {logs: @logs, model: DeleteData, path: "admin_delete_datum_path", section_m: false} %></div>
