<h1><%= t('admin.delete_data.show.title') %></h1>
<%= @delete_data.try(:log).html_safe%>
<p class="text-center">
  <%= link_to t('admin.delete_data.show.back'), admin_delete_data_path, class: 'button' %>
</p>
