<ul class="breadcrumbs" aria-label="breadcrumbs">
  <li><%= link_to t("home"), root_path %></li>
  <% if !intermediate_links.blank?%>
    <% intermediate_links.each do |inter|%>
      <%if !inter.blank?%>
        <li><%=link_to inter[:title], inter[:link_path]%></li>
      <%end%>
    <%end%>
  <%end%>
  <%if !title.blank?%>
    <li class="unavailable" aria-disabled="true">
      <%= title %>
    </li>
  <%end%>
</ul>