<% provide :title do %><%= t("transparency") %> - <%= t("people.titles.councillors") %><% end %>
<%= render partial: 'breadcrumbs', locals: { title: t("people.titles.councillors"), intermediate_links: nil }%>

<div class="people">
  <div class="small-12 column">
    <h1><%= t("people.titles.councillors") %></h1>
    <ul class="tabs margin-top divider">
      <li class="tab-title"><%=link_to t('people.working'),councillors_people_path, accesskey: "6"%></li>
      <li class="tab-title active"><%=link_to t('people.not_working'),councillors_not_work_people_path, accesskey: "7"%></li>
      <li class="tab-title"><%=link_to t('people.corporation_oldest'),councillors_other_people_path, accesskey: "8"%></li>     
    </ul>
    <div class="tabs-content margin-top">
      <div class="content active">
        <%= render partial: 'people/partials/index/councillors_list', locals: {councillors: @councillors_not_work, section: @text_not_working, corporation: @corporation_now} %>
      </div>     
    </div>
  </div>
</div>
