<% provide :title do %><%= t("transparency") %> - <%= t("people.titles.directors") %><% end %>
<%= render partial: 'breadcrumbs', locals: { title: t("people.titles.directors"), intermediate_links: nil }%>

<div class="people">
  <div class="small-12 column">
    <h1><%= t("people.titles.directors") %></h1>
    <ul class="tabs margin-top divider">
      <li class="tab-title"><%=link_to t('people.director_working'),directors_people_path, accesskey: "6"%></li>
      <li class="tab-title active"><%=link_to t('people.director_not_working'),directors_not_work_people_path, accesskey: "7"%></li>
    </ul>
    <div class="tabs-content margin-top">
      <div class="content active">
        <%= render partial: "people/partials/index/people_by_initial", locals: {people_by_initial: @directors_not_working, section: @text_not_working}%>
      </div>
    </div>
  </div>
</div>
