<% provide :title do %><%= t("transparency") %> - <%= t("people.titles.public_workers") %><% end %>
<%= render partial: 'breadcrumbs', locals: { title: t("people.titles.public_workers"), intermediate_links: nil }%>

<div class="people">
  <div class="small-12 column">
    <h1><%= t("people.titles.public_workers") %></h1>
    <%if !@public_workers_working.blank? && @public_workers_working.count >0%>
      <%= render "people/partials/index/people_by_initial", people_by_initial: @public_workers_working, section: @text_working %>
    <%else%>
      <p><%=@text_not_data%></p>
    <%end%>
  </div>
</div>
