<%= render partial: 'breadcrumbs', locals: { title: upper_case(@person.try(:full_name)), 
  intermediate_links: [
    breadcrumb_person_hash_title_link(@job_level),
    breadcrumb_corporation_hash_title_link(@corporation),
    breadcrumb_person_hash_pre_title_link(@job_level,@corporation)
  ]
}%>
<section class="people-card">
  <div class="small-12 medium-3 column">
    <div class="relative">
      <div data-magellan-expedition class="fixed-left-sidebar">
        <%= render 'people/partials/show/menu' %>
      </div>
    </div>
  </div>
  <div class="small-12 medium-9 column" >
    <%= render "people/partials/show/person_data", events: @events%>
    <%= (render "people/partials/show/administrator_data") if administrator_signed_in?%>
    <%= (render "people/partials/show/appointment_data") unless @job_level.public_worker? || @job_level.spokesperson? %>
    <%= render "people/partials/show/economic_data" unless @job_level.public_worker? %>
    <%= (render "people/partials/show/profile_data") if @job_level.should_display_profile?(@corporation) %>
    
    <% if @job_level.should_display_declarations?(@corporation)%>
      <div id="assets_declarations"><%= render 'people/partials/show/assets_declarations' %></div>
      <div id="activities_declarations"><%= render 'people/partials/show/activities_declarations' %></div>
    <% end %>
    
    <p><%= t('people.show.disclaimer') %></p>
  </div>
</section>
