<% provide :title do %><%= t("transparency") %> - <%= t("people.titles.spokespeople") %><% end %>
<%= render partial: 'breadcrumbs', locals: { title: t("people.titles.spokespeople"), intermediate_links: nil }%>

<div class="people">
  <div class="small-12 column">
    <h1><%= t("people.titles.spokespeople") %></h1>
    <%if !@spokespeople_working.blank? && @spokespeople_working.count > 0%>
      <%= render "people/partials/index/people_by_initial", people_by_initial: @spokespeople_working, section:  @text_working%>
    <%else%>
      <p><%=@text_not_data %></p>
    <%end%>
  </div>
</div>
