<% provide :title do %><%= t("transparency") %> - <%= t("people.titles.temporary_workers") %><% end %>
<%= render partial: 'breadcrumbs', locals: { title: t("people.titles.temporary_workers"), intermediate_links: nil }%>

<div class="people">
  <div class="small-12 column">
    <h1><%= t("people.titles.temporary_workers") %></h1>
    <%if !@temporary_workers_working.blank? && @temporary_workers_working.count >0%>
      <%= render "people/partials/index/people_by_initial", people_by_initial: @temporary_workers_working, section:  @text_working %>
    <%else%>
      <p><%=@text_not_data %></p>
    <%end%>
  </div>
</div>
