<%= section unless section.blank? %>
<% if !councillors.blank? %>
  <ul class="people-list">
    <% councillors.each do |councillor| %>
      <li>
        <% union = councillor.try(:councillors_corporations).try {|cc| cc.corporation(corporation).first}%>
        <%= link_to person_path(councillor.slug, corporation: corporation.try(:name)) do %>
          <% if !union.blank? && union.try(:corporation).try(:active) %>
            <% if union.try(:job_level).try{|job| job.should_display_image?(corporation)} %>
              <div class="people-photo">
                <figure>
                  <%= profile_picture(union.try(:job_level).try(:person).try(:profile), :medium) %>
                  <span class="people-affiliation"><%= union.try(:electoral_list).try(:name)%></span>
                </figure>
              </div>
            <%end%>
          <%end%>
          <div class="people-name"><%= upper_case(councillor.try(:person).try(:full_name)) %></div>
        <% end %>
        <% unless union.blank? %>
          <p style="color:#575757"><%= upper_case(union.try(:appointment).try(:position))%></p>
        <%end%>
      </li>
    <% end %>
  </ul>
<%else%>
  <p>No hay datos de concejales en el listado</p>
<%end%>
