<%if !@corporations_old.blank? %>
  <ul class="tabs margin-top divider" data-tab>
    <%@corporations_old.each_with_index do |corporation, index|%>
      <li class="tab-title <%= 'active' if (index==0 && params[:path_corporation].blank? || params[:path_corporation].to_s == corporation.name)%>">
        <a href="#corporation_<%=corporation.try(:name) %>"><%= t('people.corporation_old',corporation: corporation.try(:name)) %>
      </a></li>
    <% end %>
  </ul>

  <div class="tabs-content margin-top" data-tab>
    <%@corporations_old.each_with_index do |corporation, index|%>
      <%= @text_other_corporation[corporation.try(:name)] %>
      <div class="content <%= 'active' if (index==0 && params[:path_corporation].blank? || params[:path_corporation].to_s == corporation.name)%>" id="corporation_<%=corporation.try(:name)%>">
        <%councillors.grouped_by_electoral_list(corporation.id).each do |electoral_list, councillors| %>
          <h2 class="lead"><%= electoral_list.try(:name).blank? ? "Sin grupo político asignado" : electoral_list.try(:name) %></h2>
          <%= render 'people/partials/index/councillors_list', councillors: councillors, section: nil, corporation: corporation  %>
        <%end%>
      </div>
    <%end%>
  </div>
<%end%>
