<%= section unless section.blank? %>
<%if !people_by_initial.blank?%>
  <% people_by_initial.each do |initial, job_levels| %>
      <h2 class="lead"><%= initial.blank? ? "-" : initial.upcase %></h2>
      <ul class="people-list-text">
        <% job_levels.each do |job| %>
          <li>
            <h3 class="inline-block"><%= link_to upper_case(job.try(:person).try(:backwards_name)), person_path(job.try(:slug)) %></h3> - <%= upper_case(job.try(:appointment).try(:position)) %>
          </li>
        <% end %>
      </ul>
  <% end %>
<%else%>
  <p>No hay datos de personas en el listado</p>
<%end%>
