<h1><%= t('admin.assets_uploads.index.title') %></h1>
<p class="text-center">
  <%= link_to t('admin.assets_uploads.index.new_button'), new_admin_assets_upload_path, class: 'button' %>
</p>

<%= render partial: 'admin/delete_data/logs', locals: {logs: @assets_uploads, model: AssetsUpload, path: "admin_assets_upload_path", section_m: false} %>
