<h1><%= t('admin.assets_uploads.show.title') %></h1>
<%=render "/shared/logs_emails", obj: @assets_upload, 
  url_send: send_mailer_admin_assets_upload_path(@assets_upload), 
  model: AssetsEmailLog, 
  url_model: "show_mailer_admin_assets_upload_path",
  url: "/admin/assets_uploads/"%>
<p class="text-center">
  <%= link_to t('admin.assets_uploads.show.back'), admin_assets_uploads_path, class: 'button' %>
</p>
