<h1><%= t('admin.activities_email_uploads.show.title') %></h1>
<%= render "/shared/log_data", log_data: @asset_mailer.try(:log)%>
<p class="text-center">
  <%= link_to t('admin.activities_email_uploads.show.back'), admin_assets_upload_path(@asset_mailer.try(:log_id),{section_m: true}), class: 'button' %>
</p>