<% if params[:controller] == "admin/assets_uploads" 
    controller = "assets_uploads"
    type_export = @assets_upload
else
    controller = "activities_uploads"
    type_export = @activities_upload
end%>

<h1><%= t('admin.assets_uploads.index.export') %></h1>
<%= render partial: "shared/errors", locals: {errors: type_export.errors, model: undescore(controller.class.name)}%>

<%= form_tag({:controller => controller, :action => "export"}, :method => "post", :enctype =>"multipart/form-data" ) do %>
    <div id="recarga">
        <div class="row" style="margin-top: 10px">
            <div class="column">
                <div class="row">
                    <div class="small-6 column">
                        <%= radio_button_tag("export_data[export_type]",:single,( !@attrs[:export_type].blank? && @attrs[:export_type]=="single"), :onclick => "reload_form_export('#{get_url_reload.to_s}', '#{controller}')") %>
                        <%= label_tag(:export_single, t('admin.dashboard.form.export_single')) %>
                    </div>
                    <div class="small-6 column">
                        <%= radio_button_tag("export_data[export_type]",:complete,(!@attrs[:export_type].blank? && @attrs[:export_type]=="complete"), :onclick => "reload_form_export('#{get_url_reload.to_s}', '#{controller}')") %>
                        <%= label_tag(:export_complete, t('admin.dashboard.form.export_complete')) %>
                    </div>
                </div>
                <%if !@attrs[:export_type].blank?%>
                    <div class="row">
                        <div class="small-6 column">
                            <%= label_tag(:type_people, t('admin.dashboard.form.type_people')) %>
                            <%= select_tag "export_data[type_people]", options_for_select(@type_people, @attrs[:type_people] || ""),:prompt => t('admin.dashboard.form.select_type_people'), :onchange => "reload_form_export('#{get_url_reload.to_s}', '#{controller}')"%>
                        </div>
                        <div class="small-6 column">
                            <%= label_tag(:period, t('admin.dashboard.form.period')) %>
                            <%= select_tag "export_data[period]", options_for_select(@periods, @attrs[:period] || ""),:prompt => t('admin.dashboard.form.select_period'), :onchange => "reload_form_export('#{get_url_reload.to_s}', '#{controller}')"%>
                        </div>
                    </div>
                    <div class="row">
                        <% if !@attrs[:type_people].blank? && @attrs[:type_people].to_s == "councillor"%>
                            <div class="small-6 column">
                                <%= label_tag(:corporation, t('admin.dashboard.form.corporation')) %>
                                <%= select_tag "export_data[corporation]",options_from_collection_for_select(@corporation_list,"id", "name", @attrs[:corporation] || ""),:prompt => t('admin.dashboard.form.select_corporation'), :onchange => "reload_form_export('#{get_url_reload.to_s}', '#{controller}')"%>
                            </div>
                        <%end%>
                        <% if @attrs[:export_type].to_s=="single" %>
                            <div class="small-6 column">
                                <%= label_tag(:people, t('admin.dashboard.form.people')) %>
                                <%= select_tag "export_data[people]", options_from_collection_for_select(@job_levels, "id", "backwards_name", @attrs[:people] || nil),:prompt => t('admin.dashboard.form.select_people'), :onchange => "reload_form_export('#{get_url_reload.to_s}', '#{controller}')"%>
                            </div>
                        <% end %>
                    </div>
                <%end%>
                <div class="row">
                    <div class="column">
                        <%= submit_tag t('admin.dashboard.form.button_export'),class: "button radius"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%end%>