<h1><%= t('admin.activities_uploads.index.title') %></h1>
<p class="text-center">
  <%= link_to t('admin.activities_uploads.index.new_button'), new_admin_activities_upload_path, class: 'button' %>
</p>

<%= render partial: 'admin/delete_data/logs', locals: {logs: @activities_uploads, model: ActivitiesUpload, path: "admin_activities_upload_path", section_m: false} %>
