
<!--<ul class="tabs" data-tab>
  <li id="data_log" class="tab-title <%= "active" if params[:export].blank?%>">
    <a href="#upload" onclick="change_param_parametrize([], 'activities_uploads')"><%= t('profile.upload') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:export]%>">
    <a href="#export" onclick="change_param_parametrize(['export',true], 'activities_uploads')"><%= t('profile.export') %></a>
  </li>
</ul>-->

<!--<div class="tabs-content">
  <div id="upload" class="small-12 column content <%= "active" if params[:export].blank?%>" aria-hidden="<%= !params[:export].blank? || true%>">-->
   <%=render "upload"%>
  <!--</div>
  <div id="export" class="small-12 column content <%= "active" if params[:export]%>" aria-hidden="<%= !params[:export] || true%>">
    <%=render "export"%>
  </div>
</div>-->