<h1><%= t('admin.activities_uploads.new.title') %></h1>
<%= render partial: "shared/errors", locals: {errors: @activities_upload.errors, model: undescore(@activities_upload.class.name) }%>


<%= form_tag({:controller => "activities_uploads", :action => "create"}, :method => "post", :enctype =>"multipart/form-data" ) do %>
  <div class="row">
    <div class="column">
      <%= label_tag "#{t('admin.activities_uploads.fields.file')}*",nil, class: ("error" unless @activities_upload.errors[:file].blank?)%>
      <%= file_field_tag "activities_upload[file]", class: ("error" unless @activities_upload.errors[:file].blank?) %>
      <% unless @activities_upload.errors[:file].blank?%>
        <small class="error error"><%=@activities_upload.errors[:file][0]%></small>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="small-4 column">
      <%= label_tag "#{t('admin.activities_uploads.fields.job')}*", nil, class: ("error" unless @activities_upload.errors[:job].blank?)%>
      <%= select_tag "activities_upload[job]", options_for_select(@list_jobs || {}), include_blank: true,:onchange => "reload_form_declaration('#{get_url_reload.to_s}', $(this))", class: ("error" unless @activities_upload.errors[:job].blank?) %>
      <% unless @activities_upload.errors[:job].blank?%>
        <small class="error error"><%=@activities_upload.errors[:job][0]%></small>
      <%end%>
    </div>
     <div id="recarga">
      <% if !params[:activities_upload].blank? && params[:activities_upload][:job].to_s == "councillor" %>
        <div class="small-4 column">
          <%= label_tag t('admin.activities_uploads.fields.corporation')%>
          <%= select_tag "activities_upload[corporation]", options_from_collection_for_select(@corporation_list,"id", "name"), include_blank: true %>
        </div>
      <%end%>
    </div>
    <script>reload_form_declaration("<%=get_url_reload.to_s%>", $("#activities_upload_job"))</script>
    <div class="small-4 column">
      <%= label_tag "#{t('admin.activities_uploads.fields.period')}*", nil, class: ("error" unless @activities_upload.errors[:period].blank?)%>
      <%= select_tag "activities_upload[period]", options_for_select(@periods_list || {}), include_blank: true, class: ("error" unless @activities_upload.errors[:period].blank?) %>
      <% unless @activities_upload.errors[:period].blank?%>
        <small class="error error"><%=@activities_upload.errors[:period][0]%></small>
      <%end%>
    </div>
  </div>
  <%= submit_tag t("shared.submit"), class: "button radius" %>
<% end %>
