<h1><%= t('admin.activities_uploads.show.title') %></h1>
<%=render "/shared/logs_emails", obj: @activities_upload, 
  url_send: send_mailer_admin_activities_upload_path(@activities_upload), 
  model: ActivitiesEmailLog, 
  url_model: "show_mailer_admin_activities_upload_path",
  url: "/admin/activities_uploads/"%>
<p class="text-center">
  <%= link_to t('admin.activities_uploads.show.back'), admin_activities_uploads_path, class: 'button' %>
</p>
