<nav class="admin-sidebar">
  <ul id="admin_menu">
    <li><%= link_to t('admin.menu.title'), admin_root_path %></li>

    <li class="<%= 'active' if controller_name == 'delete_data' %>">
      <%= link_to admin_delete_data_path do %>
        <i class="icon-deleted"></i>
        <%= t('admin.menu.delete_data') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'profile_uploads' %>">
      <%= link_to admin_profile_uploads_path do %>
        <i class="icon-document"></i>
        <%= t('admin.menu.profile_uploads') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'assets_uploads' %>">
      <%= link_to admin_assets_uploads_path do %>
        <i class="icon-document"></i>
        <%= t('admin.menu.assets_uploads') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'activities_uploads' %>">
      <%= link_to admin_activities_uploads_path do %>
        <i class="icon-document"></i>
        <%= t('admin.menu.activities_uploads') %>
      <% end %>
    </li>

     <li class="<%= 'active' if controller_name == 'data_exports' %>">
      <%= link_to admin_data_exports_path do %>
        <i class="icon-document"></i>
        <%= t('admin.menu.data_exports') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'people' %>">
      <%= link_to admin_people_path do %>
        <i class="icon-user"></i>
        <%= t('admin.menu.people') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'statistics' %>">
      <%= link_to profiles_admin_statistics_path do %>
        <i class="icon-stats"></i>
        <%= t('admin.menu.statistics') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'notifications' %>">
      <%= link_to person_admin_notifications_path do %>
        <i class="icon-letter"></i>
        <%= t('admin.menu.notifications', count: getNumberNotifications) %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'electoral_lists' %>">
      <%= link_to admin_electoral_lists_path do %>
        <i class="icon-settings"></i>
        <%= t('admin.menu.electoral_lists') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'corporations' %>">
      <%= link_to admin_corporations_path do %>
        <i class="icon-settings"></i>
        <%= t('admin.menu.corporations') %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'preferences' %>">
      <%= link_to admin_preferences_path do %>
        <i class="icon-settings"></i>
        <%= t('admin.menu.preferences') %>
      <% end %>
    </li>

    <li>
      <%= link_to destroy_administrator_session_path, class: "logout", method: 'delete' do %>
        <i class="icon-x"></i>
        <%= t('admin.menu.close_session') %>
      <% end %>
    </li>
  </ul>
</nav>

