<ul class="tabs" data-tab>
    <% @corporations.each_with_index do |c, i|%>
        <li id="data_log" class="tab-title <%= "active" if params[:corporation].to_i == c.id || params[:corporation].blank? && i == 0%>">
            <a href="#corporation_<%= c.id %>" onclick="change_param_parametrize(['corporation',<%= c.id %>], 'data_exports/?councillors=true')"><%= c.name %></a>
        </li>
    <% end %>
</ul>

<div class="tabs-content">
    <% @corporations.each_with_index do |c, i|%>
        <div id="corporation_<%= c.id %>" class="small-12 column content <%= "active" if params[:corporation].to_i == c.id || params[:corporation].blank? && i == 0%>" aria-hidden="<%= !(params[:corporation] == c.id || params[:corporation].blank? && i == 0) || true%>">
            <%=render "list_data", type: :councillors, corporation: c.id%>
        </div>
    <% end %>
</div>