<div>
    <table>
        <thead>
            <tr>
                <th><%= t("data_exports.period") %></th>
                <th><%= t("data_exports.assets") %></th>
                <th><%= t("data_exports.activities") %></th>
            </tr>
        </thead>
        <tbody>
            <% @exports[type].select {|x| x[:corporation] == corporation}.each do | data| %>
                <tr>
                    <td><strong><%=data[:period]%></strong></td>
                    <td class="text-center">
                    <% if !data[:content].find {|x| x[:type] == "assets"}.blank? && File.exist?("#{Rails.root}/public/export/#{data[:content].find {|x| x[:type] == "assets"}[:path]}")%>
                        <%= link_to current_url(format: :xls,url: data[:content].find {|x| x[:type] == "assets"}[:path], corporation: corporation, type: type), alt: t('data_exports.button_download'), title: t('data_exports.button_download') do %>
                            <i class="fa fa-file-excel fa-2x"></i>
                        <%end%> | 
                        <%= link_to t("data_exports.public_url") , "#{get_url_reload}export/#{data[:content].find {|x| x[:type] == "assets"}[:path]}"%>
                    <%end%>
                    </td>
                    <td class="text-center">
                    <% if !data[:content].find {|x| x[:type] == "activities"}.blank? && File.exist?("#{Rails.root}/public/export/#{data[:content].find {|x| x[:type] == "activities"}[:path]}")%>
                        <%= link_to current_url(format: :xls, url: data[:content].find {|x| x[:type] == "activities"}[:path], corporation: corporation, type: type),  alt: t('data_exports.button_download'), title: t('data_exports.button_download') do %>
                            <i class="fa fa-file-excel fa-2x"></i>
                        <%end%> | 
                        <%= link_to t("data_exports.public_url"), "#{get_url_reload}export/#{data[:content].find {|x| x[:type] == "activities"}[:path]}"%>
                    <%end%>
                    </td>
                </tr> 
            <% end %>
        </tbody>
    </table>
</div>