<h1><%= t('admin.menu.data_exports') %></h1>

<ul class="tabs" data-tab>
  <li id="data_log" class="tab-title <%= "active" if ![:councillors, :directors].any? {|x| !params[x].blank? }   || params[:councillors] %>">
    <a href="#councillors" onclick="change_param_parametrize(['councillors', true], 'data_exports')"><%= t('data_exports.councillors') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:directors]%>">
    <a href="#directors" onclick="change_param_parametrize(['directors',true], 'data_exports')"><%= t('data_exports.directors') %></a>
  </li>
</ul>

<div class="tabs-content">
  <div id="councillors" class="small-12 column content <%= "active" if ![:councillors, :directors].any? {|x| !params[x].blank? } || params[:councillors] %>"
    aria-hidden="<%=!(![:councillors, :directors].any? {|x| !params[x].blank? } || params[:councillors]) || true%>">
    <%=render "corporations"%>
  </div>
  <div id="directors" class="small-12 column content <%= "active" if params[:directors]%>" aria-hidden="<%= !params[:directors] || true%>">
    <%=render "list_data", type: :directors, corporation: nil%>
  </div>
</div>
