<div class="row">
    <div class="small-6 column">
        <%=fc.input :councillors, as: :string, label: t("person.titles.councillors"), input_html: {value: obj['councillors'], onkeyup: "change_input_email($(this), true)"} %> 
    </div>
    <div class="small-6 column">
        <%=fc.input :directors, as: :string, label: t("person.titles.directors"),input_html: {value: obj['directors'],onkeyup: "change_input_email($(this), true)"} %>
    </div>
</div>
<div class="row">
    <div class="small-6 column">
        <%=fc.input :public_workers, as: :string, label: t("person.titles.public_workers"),input_html: {value: obj['public_workers'], onkeyup: "change_input_email($(this), true)"} %>
    </div>
    <div class="small-6 column">
        <%=fc.input :temporary_workers, as: :string, label: t("person.titles.temporary_workers"),input_html: {value: obj['temporary_workers'], onkeyup: "change_input_email($(this), true)"} %>
    </div>
</div>
<div class="row">
    <div class="small-6 column">
        <%=fc.input :spokespeople, as: :string, label: t("person.titles.spokespeople"),input_html: {value: obj['spokespeople'], onkeyup: "change_input_email($(this), true)"} %>
    </div>
</div>