
<h1><%= t('admin.manage_emails.edit.title') %></h1>

<%= simple_form_for(@manage_email, url: admin_manage_email_path(@manage_email)) do |f| %>
  <%= render partial: "shared/errors", locals: {errors: f.object.errors, model: undescore(f.object.class.name)}%>
  <div class="row">
    <div class="column">
      <p><%=t("manage_email.types.#{f.object.try(:type_data)}") %></p>
    </div>
  </div>
  <div class="row">
    <div class="small-4 column">
        <%=f.input :sender, input_html: { onkeyup: "change_input_email($(this), false)"}%>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <fieldset>
      <legend>CC</legend>
      <%= f.fields_for :fields_cc do |fcc| %>
          <%=render "fields_c", {obj: f.object.fields_cc, fc: fcc}%>
      <%end%>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <fieldset>
      <legend>CCO</legend>
        <%= f.fields_for :fields_cco do |fcco| %>
          <%=render "fields_c", {obj: f.object.fields_cco, fc: fcco}%>
      <%end%>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="column">
        <%=f.input :subject %>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <%=f.input :email_body, input_html: { class: "tinymce" ,  :rows => 20}%>
    </div>
  </div>
  <div class="actions" style="margin-top: 30px">
    <%= link_to t('admin.actions.back'), admin_preferences_path, class: "button radius" %>
    <%= f.button :submit, class: "button radius", id: "btn_submit" %>
  </div>
<% end %>