<%declarations = @activities_declarations.in_temporality(temporality, year_period)%>

<% if declarations.count > 1%>
    <ul class="tabs" data-tab>
        <% declarations.each_with_index do |declaration, index| %>
            <% active = index == declarations.length - 1 %>
            <li class="tab-title <%= 'active' if active %>">
                <a href="#activities_declaration_<%= declaration.try(:year_period) %>_<%=index%>">
                <%= activities_declarations_tab_name(declaration) %>
                </a>
            </li>
        <% end %>
    </ul>
<%end%>

<div class="tabs-content">
    <% declarations.each_with_index do |declaration, index| %>
        <% active = declarations.length - 1 == 0 || index == declarations.length - 1 %>
        <div id="activities_declaration_<%= declaration.try(:year_period) %>_<%=index%>"
            aria-hidden="<%= !active %>" class="content <%= 'active' if active %>">

            <p style="margin: 0.75rem 0 0.375rem; line-height: 1.3; font-size: 1.25rem; font-weight: 700;"><%= t('activities_declarations.date', date: format_date(declaration.try(:declaration_date))) %></p>

            <table>
                <caption><%= t('public_activities.title') %></caption>
                <thead>
                <tr>
                    <th scope="col" class="th-big"><%= PublicActivity.human_attribute_name(:entity) %></th>
                    <th scope="col"><%= PublicActivity.human_attribute_name(:position) %></th>
                    <th scope="col" class="th-small"><%= PublicActivity.human_attribute_name(:start_date) %></th>
                    <th scope="col" class="th-small"><%= PublicActivity.human_attribute_name(:end_date) %></th>
                </tr>
                </thead>
                <tbody>
                <% if declaration.try(:public_activities).any? %>
                    <% declaration.try(:public_activities).order(table_order: :asc).each do |activity| %>
                    <tr>
                        <td><%= activity.try(:entity) %></td>
                        <td><%= activity.try(:position) %></td>
                        <td><%= activity.try(:start_date).try{|t| t[0..9]} %></td>
                        <td><%= activity.try(:end_date).try{|t| t[0..9]} %></td>
                    </tr>
                    <% end %>
                <% else %>
                    <tr><td colspan="4" scope="colgroup"><%= t("shared.no_data") %></td></tr>
                <% end %>
                </tbody>
            </table>

            <table>
                <caption><%= t('private_activities.title') %></caption>
                <thead>
                <tr>
                    <th scope="col"><%= PrivateActivity.human_attribute_name(:private_activity_type_show) %></th>
                    <th scope="col"><%= PrivateActivity.human_attribute_name(:description) %></th>
                    <th scope="col"><%= PrivateActivity.human_attribute_name(:entity) %></th>
                    <th scope="col"><%= PrivateActivity.human_attribute_name(:position) %></th>
                    <th scope="col" class="th-small"><%= PrivateActivity.human_attribute_name(:start_date) %></th>
                    <th scope="col" class="th-small"><%= PrivateActivity.human_attribute_name(:end_date) %></th>
                </tr>
                </thead>
                <tbody>
                <% if declaration.try(:private_activities).any? %>
                    <% declaration.try(:private_activities).order(table_order: :asc).each do |activity| %>
                    <tr>
                        <td><%= activity.try(:private_activity_type) %></td>
                        <td><%= activity.try(:description) %></td>
                        <td><%= activity.try(:entity) %></td>
                        <td><%= activity.try(:position) %></td>
                        <td><%= activity.try(:start_date).try{|t| t[0..9]} %></td>
                        <td><%= activity.try(:end_date).try{|t| t[0..9]} %></td>
                    </tr>
                    <% end %>
                <% else %>
                    <tr><td colspan="6" scope="colgroup"><%= t("shared.no_data") %></td></tr>
                <% end %>
                </tbody>
            </table>

            <table>
                <caption><%= t('other_activities.title') %></caption>
                <thead>
                <tr>
                    <th scope="col"><%= OtherActivity.human_attribute_name(:description) %></th>
                    <th scope="col" class="th-small"><%= OtherActivity.human_attribute_name(:start_date) %></th>
                    <th scope="col" class="th-small"><%= OtherActivity.human_attribute_name(:end_date) %></th>
                </tr>
                </thead>
                <tbody>
                <% if declaration.try(:other_activities).any? %>
                    <% declaration.try(:other_activities).order(table_order: :asc).each do |activity| %>
                    <tr>
                        <td><%= activity.try(:description) %></td>
                        <td><%= activity.try(:start_date).try{|t| t[0..9]} %></td>
                        <td><%= activity.try(:end_date).try{|t| t[0..9]} %></td>
                    </tr>
                    <% end %>
                <% else %>
                    <tr><td colspan="3" scope="colgroup"><%= t("shared.no_data") %></td></tr>
                <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>