<a name="activities_declarations" data-magellan-destination="activities_declarations"></a>
<h2 class="lead"><%= t("people.activities_declarations") %></h2>

<% if @activities_declarations.blank? %>
  <p><%= t("people.show.no_declaration") %></p>
<% else %>
  <p><%= t("people.show.activities_explanation") %></p>
  <%declarations = @activities_declarations.original%>
  <ul class="tabs" data-tab>
    <% declarations.each_with_index do |declaration, index| %>
      <% active = index == declarations.length - 1 %>
      <li class="tab-title <%= 'active' if active %>">
        <a href="#activities_declaration_original_<%= declaration.try(:year_period) %>_<%=index%>">
          <%= activities_declarations_tab_name(declaration) %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tabs-content">
    <% declarations.each_with_index do |declaration, index| %>
      <% active = index == declarations.length - 1 %>
      <div id="activities_declaration_original_<%= declaration.try(:year_period) %>_<%=index%>"
        aria-hidden="<%= !active %>" class="content <%= 'active' if active %>">
        <%= render '/people/partials/show/activity_declaration', temporality: declaration.try(:temporality), year_period: declaration.try(:year_period)%>
      </div>
    <%end%>
  </div>
<% end %>
