<div class="row">
    <div class="small-12 columns">
        <%= link_to t("shared.edit"), edit_admin_person_path(@job_level, public_data: true, corporation: @corporation.try(:name)), class: "small button radius" %>
        <%= link_to t("shared.delete"),
                        admin_person_path(@job_level), method: :delete, data: {confirm: t("people.show.confirm_deletion")},
                        class: "small button radius alert" %>
        <% if @job_level.not_working?(@corporation) %>
            <%= link_to t("shared.unhide"),
                        '#',
                        data: {toggle: "##{dom_id(@job_level)}_unhide_form", hide: "##{dom_id(@job_level)}_delete_form"},
                        class: "small button radius info" %>
            <div id="<%= dom_id(@job_level) %>_unhide_form" style="display: none;">
            <%= render 'admin/people/unhide_form', job_level: @job_level, corporation: @corporation %>
            </div>
        <% else %>
            <%= link_to t("shared.hide"),
                        '#',
                        data: {toggle: "##{dom_id(@job_level)}_hide_form", hide: "##{dom_id(@job_level)}_delete_form"},
                        class: "small button radius info" %>
            <div id="<%= dom_id(@job_level) %>_hide_form" style="display: none;">
            <%= render 'admin/people/hide_form',  job_level: @job_level, corporation: @corporation %>
            </div>
        <% end %>
    </div>
</div>