<a name="appointment" data-magellan-destination="appointment"></a>
<h2 class="lead appointment"><%= t("people.appointment") %></h2>
<% if !@appointment.blank? && (!@appointment.start_date.blank? || !@appointment.description.blank? || !@appointment.end_date.blank? || !@appointment.url_possession.blank? || !@appointment.description_possession.blank?) %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t("people.start_date") %></th>
        <th scope="col"><%= t("people.end_date") %></th>
        <% if @job_level.councillor?%>
          <th scope="col"><%= t("people.url_possession") %></th>
        <% end %>
        <% if @job_level.director? || @job_level.temporary_worker? %>
          <th scope="col"><%= t("people.description_possession") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @appointment.try(:start_date).strftime("%d-%m-%Y") if @appointment.start_date %></td>
        <td><%= @appointment.try(:end_date) %></td>
        <% if @job_level.councillor?%>
          <td><%= link_to @url_possession_text.blank?  ? "Texto de enlace de posesión" :  @url_possession_text, @appointment.url_possession_format, target: "_blank" if !@appointment.url_possession.blank? %> </td>
        <% end %>
        <% if @job_level.director? || @job_level.temporary_worker? %>
          <td><%= Nokogiri::HTML.parse(@appointment.try(:description_possession)).try(:content) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<%else%>
  No hay datos del cargo
<% end %>
<% if !@appointment.blank? && !@appointment.functions.blank? %>
  <table>
    <thead>
      <tr>
        <% if @job_level.director? || @job_level.councillor? || @job_level.temporary_worker? %>
          <th scope="col"><%= t("people.functions") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @job_level.director? || @job_level.councillor? || @job_level.temporary_worker? %>
          <td><%= strip_tags(@appointment.try(:functions)) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
<% if !@appointment.try(:commisions).blank? %>
  <table>
    <thead>
      <tr>
        <th><%= t("people.commisions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @appointment.try(:commisions).each do |commision|%>
        <tr>
          <td><%= commision.try(:commision) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @councillor && @councillor.organisms.count > 0%>
  <table>
    <caption><%= t("job_level.organisms") %></caption>
    <thead>
        <th scole="col"><%= t("organisms.title") %></th>
    </thead>
    <tbody>
      <% @councillor.organisms.each do |org| %>
        <tr>
          <td><%= org.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @councillor && @councillor.dedications.count > 0%>
  <table>
    <caption><%= t("job_level.dedications_regime") %></caption>
    <thead>
      <tr>
        <th scole="col"><%= t("dedications.start_date") %></th>
        <th scole="col"><%= t("dedications.end_date") %></th>
        <th scole="col"><%= t("dedications.percentage") %></th>
        <th scole="col"><%= t("dedications.dedication") %></th>
      </tr>
    </thead>
    <tbody>
      <% @councillor.dedications.each do |ded| %>
        <tr>
          <td><%= ded.start_date.strftime("%d-%m-%Y") if ded.start_date %></td>
          <td><%= ded.end_date.strftime("%d-%m-%Y") if ded.end_date %></td>
          <td><%= ded.percentage %></td>
          <td><%= Nokogiri::HTML.parse(ded.description).content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if !@job_level.compatibility_activities.blank? || !@councillor.blank? && !@councillor.compatibility_activities.blank? %>
  <% if @concillor && @concillor.compatibility_activities.where("resolution_date is not null OR (compatibility_description  is not null and TRIM(compatibility_description) != '') or (public_private is not null and TRIM(public_private) != '')").count > 0 || @job_level.compatibility_activities.where("resolution_date is not null OR (compatibility_description  is not null and TRIM(compatibility_description) != '') or (public_private is not null and TRIM(public_private) != '')").count > 0 %>
  <table>
   <caption><%= t("people.compatibility") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.resolution_date") %></th>
        <th scope="col"><%= t("people.compatibility_description") %></th>
        <th scope="col"><%= t("people.public_private") %></th>
      </tr>
    </thead>
    <tbody>
      <% if @councillor %>
          <% @councillor.compatibility_activities.each do |ca| %>
            <tr>
              <td><%= ca.try(:resolution_date).strftime("%d-%m-%Y") if !ca.try(:resolution_date).blank? %></div></td>
              <td><%= Nokogiri::HTML.parse(ca.try(:compatibility_description)).content %></div></td>
              <td><%= ca.try(:public_private).to_s == "1" ? "Pública" :  ca.try(:public_private).to_s == "2" ? "Privada" : ca.try(:public_private) %></div></td>
            </tr>
          <% end %>
      <% else %>
        <% @job_level.compatibility_activities.each do |ca| %>
          <tr>
            <td><%= ca.try(:resolution_date).strftime("%d-%m-%Y %H:%M") if !ca.try(:resolution_date).blank? %></div></td>
            <td><%= Nokogiri::HTML.parse(ca.try(:compatibility_description)).content %></div></td>
            <td><%= ca.try(:public_private).to_s == "1" ? "Pública" :  ca.try(:public_private).to_s == "2" ? "Privada" : ca.try(:public_private) %></div></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>

<% if !@job_level.termination_authorizations.blank? || !@councillor.blank? && !@councillor.termination_authorizations.blank?  %>
  <% if @concillor && @concillor.termination_authorizations.where("authorization_date is not null OR (authorization_description is not null and TRIM(authorization_description) != '')").count > 0 || @job_level.termination_authorizations.where("authorization_date is not null OR (authorization_description is not null and TRIM(authorization_description) != '')").count > 0 %>

  <table>
    <caption><%= t("people.authorizations") %></caption>
    <thead>
      <tr>
        <th scope="col"><%=t("people.authorization_date")%></th>
        <th scope="col"><%=t("people.authorization_description") %></th>
      </tr>
    </thead>
    <tbody>
      <% if @councillor %>
        <% @councillor.termination_authorizations.each do |ta| %>
          <tr>
            <td><%= ta.try(:authorization_date).strftime("%d-%m-%Y %H:%M") if !ta.try(:authorization_date).blank?%></td>
            <td><%= Nokogiri::HTML.parse(ta.try(:authorization_description)).content %></td>
          </tr>
        <% end %>
      <% else %>
        <% @job_level.termination_authorizations.each do |ta| %>
          <tr>
            <td><%= ta.try(:authorization_date).strftime("%d-%m-%Y %H:%M") if !ta.try(:authorization_date).blank?%></td>
            <td><%= Nokogiri::HTML.parse(ta.try(:authorization_description)).content %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%end%>
<% end %>
