<%declarations = @assets_declarations.in_temporality(temporality, year_period)%>

<% if declarations.count > 1%>
    <ul class="tabs" data-tab>
        <% declarations.each_with_index do |declaration, index| %>
            <% active = index == declarations.length - 1 %>
            <li class="tab-title <%= 'active' if active %>">
                <a href="#assets_declaration_<%= declaration.try(:year_period) %>_<%=index%>">
                    <%= assets_declarations_tab_name(declaration) %>
                </a>
            </li>
        <% end %>
    </ul>
<%end%>

<div class="tabs-content">
  <% declarations.each_with_index do |declaration, index| %>
    <% active = declarations.length - 1 == 0 || index == declarations.length - 1 %>
    <div id="assets_declaration_<%= declaration.try(:year_period) %>_<%=index%>" aria-hidden="<%= !active %>"
      class="content <%= 'active' if active %>">

      <div class="declaration-date"><%= t('assets_declarations.date', date: format_date(declaration.try(:declaration_date))) %></div>

      <table>
        <caption><%= t("real_estate_properties.title") %></caption>
        <thead>
          <tr id="real_estate_properties">
            <th scope="col"><%= RealEstateProperty.human_attribute_name(:kind) %></th>
            <th scope="col"><%= RealEstateProperty.human_attribute_name(:straight_type) %></th>
            <th scope="col"><%= RealEstateProperty.human_attribute_name(:adquisition_title) %></th>
            <th scope="col"><%= RealEstateProperty.human_attribute_name(:municipality) %></th>
            <th scope="col" class="th-tiny">
              <abbr title="<%= RealEstateProperty.human_attribute_name(:participation_percentage) %>">Part.</abbr> (%)</th>
            <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:cadastral_value) %></th>
            <th scope="col" class="th-tiny"><%= RealEstateProperty.human_attribute_name(:purchase_date) %></th>
            <th scope="col"><%= RealEstateProperty.human_attribute_name(:observations) %></th>
          </tr>
        </thead>
        <tbody>
        <% if declaration.try(:real_estate_properties).any? %>
          <% declaration.try(:real_estate_properties).order(table_order: :asc).each do |property| %>
            <tr>
              <td><%= property.try(:kind) %></td>
              <td><%= property.try(:straight_type) %></td>
              <td><%= property.try(:adquisition_title) %></td>
              <td><%= property.try(:municipality) %></td>
              <td><%= property.try(:participation_percentage) %></td>
              <td><%= get_currency_value(property.try(:cadastral_value)) %></td>
              <td><%= property.try(:purchase_date) %></td>
              <td><%= property.try(:observations) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="8" scope="colgroup" headers="real_estate_properties"><%= t("shared.no_data") %></td></tr>
        <% end %>
        </tbody>
      </table>

      <table>
        <caption><%= t("account_deposits.title") %></caption>
        <thead>
          <tr id="account_deposits">
            <th scope="col" class="th-big"><%= AccountDeposit.human_attribute_name(:kind) %></th>
            <th scope="col"><%= AccountDeposit.human_attribute_name(:entity_show) %></th>
            <th scope="col" class="th-small"><%= AccountDeposit.human_attribute_name(:balance) %></th>
          </tr>
        </thead>
        <tbody>
          <% if declaration.try(:account_deposits).any? %>
            <% declaration.try(:account_deposits).order(table_order: :asc).each do |deposit| %>
              <tr>
                <td><%= deposit.try(:kind) %></td>
                <td><%= deposit.try(:entity) %></td>
                <td><%= strip_tags(get_currency_value(deposit.try(:balance))) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="3" scope="colgroup" headers="account_deposits"><%= t("shared.no_data") %></td></tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <caption><%= t("other_deposits.title") %></caption>
        <thead>
          <tr id="other_deposits">
            <th scope="col" class="th-big"><%= OtherDeposit.human_attribute_name(:types_show) %></th>
            <th scope="col" class="th-small"><%= OtherDeposit.human_attribute_name(:descriptions) %></th>
            <th scope="col"><%= OtherDeposit.human_attribute_name(:value_show) %></th>
            <th scope="col" class="th-small"><%= OtherDeposit.human_attribute_name(:purchase_date) %></th>
          </tr>
        </thead>
        <tbody>
          <% if declaration.try(:other_deposits).any? %>
            <% declaration.try(:other_deposits).order(table_order: :asc).each do |asset| %>
              <tr>
                <td><%= asset.try(:types) %></td>
                <td><%= asset.try(:description) %></td>
                <td><%= asset.try(:value) %></td>
                <td><%= asset.try(:purchase_date) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="4" scope="colgroup" headers="other_deposits"><%= t("shared.no_data") %></td></tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <caption><%= t("vehicles.title") %></caption>
        <thead>
          <tr id="vehicles">
            <th scope="col" class="th-big"><%= Vehicle.human_attribute_name(:kind_show) %></th>
            <th scope="col"><%= Vehicle.human_attribute_name(:model) %></th>
            <th scope="col" class="th-small"><%= Vehicle.human_attribute_name(:purchase_date) %></th>
          </tr>
        </thead>
        <tbody>
          <% if declaration.try(:vehicles).any? %>
            <% declaration.try(:vehicles).order(table_order: :asc).each do |vehicle| %>
              <tr>
                <td><%= vehicle.try(:kind) %></td>
                <td><%= vehicle.try(:model) %></td>
                <td><%= vehicle.try(:purchase_date) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="3" scope="colgroup" headers="vehicles"><%= t("shared.no_data") %></td></tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <caption><%= t("other_personal_properties.title") %></caption>
        <thead>
          <tr id="other_personal_properties">
            <th scope="col"><%= OtherPersonalProperty.human_attribute_name(:types) %></th>
            <th scope="col" class="th-small"><%= OtherPersonalProperty.human_attribute_name(:purchase_date) %></th>
          </tr>
        </thead>
        <tbody>
          <% if declaration.try(:other_personal_properties).any? %>
            <% declaration.try(:other_personal_properties).order(table_order: :asc).each do |property| %>
              <tr>
                <td><%= property.try(:types) %></td>
                <td><%= property.try(:purchase_date) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="2" scope="colgroup" headers="other_personal_properties"><%= t("shared.no_data") %></td></tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <caption><%= t("debts.title") %></caption>
        <thead>
          <tr id="debts">
            <th scope="col" class="th-big"><%= Debt.human_attribute_name(:kind_show) %></th>
            <th scope="col"><%= Debt.human_attribute_name(:observations) %></th>
            <th scope="col" class="th-small"><%= Debt.human_attribute_name(:import_show) %></th>
          </tr>
        </thead>
        <tbody>
          <% if declaration.try(:debts).any? %>
            <% declaration.try(:debts).order(table_order: :asc).each do |debt| %>
              <tr>
                <td><%= debt.try(:kind) %></td>
                <td><%= debt.try(:observations) %></td>
                <td><%= get_currency_value(debt.try(:import)) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="3" scope="colgroup" headers="debts"><%= t("shared.no_data") %></td></tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <caption><%= t("tax_data.title") %></caption>
        <thead>
          <tr id="tax_data">
            <th scope="col" class="th-big"><%= TaxDatum.human_attribute_name(:tax) %></th>
            <th scope="col"><%= TaxDatum.human_attribute_name(:fiscal_data) %></th>
            <th scope="col"><%= TaxDatum.human_attribute_name(:comments) %></th>
            <th scope="col" class="th-small"><%= TaxDatum.human_attribute_name(:amount) %></th>
          </tr>
        </thead>
        <tbody>
          <% if declaration.tax_data.any? %>
            <% declaration.tax_data.ordering_data.each do |tax_data| %>
              <tr>
                <td><%= tax_data.try(:tax) %></td>
                <td><%= tax_data.try(:fiscal_data) %></td>
                <td><%= tax_data.try(:observation) %></td>
                <td><%= get_currency_value(tax_data.try(:import)) %></td>
              </tr>            
            <% end %>
          <% else %>
            <tr><td colspan="4" scope="colgroup" headers="tax_data"><%= t("shared.no_data") %></td></tr>
          <% end %>
        </tbody>
      </table>

    </div>
  <% end %>
</div>