<a name="contact" data-magellan-destination="contact"></a>
<% if !@appointment.try(:email).blank? || !@appointment.try(:url_form).blank?  %>
  <h2 class="lead contact"><%= t("people.contact") %></h2>
  <p><%= !@appointment.try(:email).blank? ? @appointment.try(:email) : link_to((@preference_transparency.blank? ? t("people.councillor_contact") : @preference_transparency.try(:content_data)), @appointment.try(:url_form), target: "_blank") %></p>
    
<% end %>