<% if @councillor && @councillor.dedications.count > 0%>
  <table class="same-width">
    <thead>
      <tr>
        <th scole="col"><%= t("dedications.dedication") %></th>
        <th scole="col"><%= t("dedications.percentage") %></th>
      </tr>
    </thead> 
    <tbody>
        <tr>
            <td><%= Nokogiri::HTML.parse(@councillor.dedications.last.try(:description)).try(:content) %></td>
            <td><%= @councillor.dedications.last.try(:percentage) %></td>
        </tr>
    </tbody>
  </table>
<% end %>