<a name="economic" data-magellan-destination="economic"></a>

<h2 class="lead economic"><%= t("people.economic") %></h2>

<% if !@appointment.blank? && (!@appointment.retribution.blank? || !@appointment.retribution_year.blank? || !@appointment.observations.blank? ) %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= @job_level.councillor? ? t("people.retribution_councillors") : t("people.retribution") %></th>
        <th scope="col"><%= t("people.retribution_year") %>
        <th scope="col"><%= t("people.retribution_observations") %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @appointment.try(:retribution_custom).to_s %></td>
        <td><%= @appointment.try(:retribution_year).to_s %></td>
        <td><%= Nokogiri::HTML.parse(@appointment.try(:observations).to_s).content %></td>
      </tr>
    </tbody>
  </table>
<%end%>

<% if !@appointment.blank? && !@appointment.try(:transparency_link).blank? %>
  <%= link_to (@preference_retribution.blank? ? t("people.retribuccion") : @preference_retribution.try(:content_data)), @appointment.try(:transparency_link), target: '_blank' %>
<% elsif !@preference.blank? && !@preference.try(:content_data).blank? %>
  <%= link_to (@preference_retribution.blank? ? t("people.retribuccion") : @preference_retribution.try(:content_data)), @preference.try(:content_data), target: '_blank' %>
<%end%>

