<% if !@appointment.blank? && (!@appointment.retribution.blank? || !@appointment.retribution_year.blank?) %>
  <table class="same-width">
    <thead>
      <tr>
        <th scope="col"><%= @job_level.councillor? ? t("people.retribution_councillors") : t("people.retribution") %></th>
        <th scope="col"><%= t("people.retribution_year") %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @appointment.try(:retribution_custom).to_s %></td>
        <td><%= @appointment.try(:retribution_year).to_s %></td>
      </tr>
    </tbody>
  </table>
<%end%>
