<% if @job_level.should_display_image?(@corporation)%>
  <div class="people-photo"><figure><%=profile_picture(@job_level.get_profile)%></figure></div>
<% end %>

<ul class="side-nav">
  <% load_menu(@job_level, @corporation, @appointment).each do |option|%>
    <li data-magellan-arrival="<%=option[:path]%>">
      <a href="#<%=option[:path]%>" accesskey="<%=option[:accesskey]%>">
        <%= t("people.#{option[:path]}") %>
      </a>
    </li>
  <%end%>

</ul>
