<% if @job_level.should_display_calendar?(@corporation) && @job_level.get_profile.try(:calendar_url).present? && ( @job_level.director? || @job_level.councillor? || @job_level.temporary_worker?) %>
       

    <%= form_tag current_path_with_query_params(params), method: :get do %>
        <div class="mb20">
            <%=hidden_field_tag :corporation, params[:corporation]%>
            <div class="small-2 columns text-left calendar_columns">
                <%=link_to "<", set_previous_month( params, @current_date_calendar, :select), class: "button", style: "padding: 15px;" %>
            </div>
            <div class="small-8 columns calendar_columns">
                <div class="small-4 columns calendar_columns">
                    <%=label_tag :select_month, "Mes", class: "sr-only" %>
                    <%= select_month(@current_date_calendar, {prefix: :select},{onchange: 'this.form.submit()', style: "height: 3rem;"})%>
                </div>
                <div class="small-4 columns calendar_columns">
                    <%=label_tag :select_year, "Año", class: "sr-only" %>
                    <%= select_year(@current_date_calendar, {prefix: :select,start_year: 2019},{onchange: 'this.form.submit()', style: "height: 3rem;"})%>
                </div>
                <div class="small-4 columns calendar_columns">
                    <%= link_to t("calendar.now"), set_now_calendar(params,:select), class: "button calendar_buttons", style: "padding: 15px;" %>
                </div>
            </div>
            <div class="small-2 columns calendar_columns text-right">
            <%=link_to ">", set_next_month(params, @current_date_calendar, :select), class: "button", style: "padding: 15px;"  %>
            </div>
            <div class="small-12 columns" style="padding: 0px">
                <table class="table table-striped" style="width: 100%; height: 17rem;">
                    <thead>
                        <tr>
                            <%=get_week_first_monday%>
                        </tr>
                    </thead>
                    <tbody>
                        <%=get_days_month_range(@current_date_calendar.beginning_of_month,@current_date_calendar.end_of_month, events, params, @current_date_calendar, :select, true)%>
                    </tbody>
                </table>
            </div>
            <div class="small-12 columns text-left" style="padding: 1rem 0rem">
                <%= link_to t("people.calendar.agend"), @job_level.get_profile.try(:calendar_url), target: '_blank' %>
            </div>
            <div class="small-12 columns text-left" style="padding: 0px">
                <p><strong>Eventos agendados en el mes:</strong></p>
                <%if @events.blank? || @events['events'].blank?%>
                    <p style="height: 15rem;">No hay eventos</p>
                <%else%>
                    <ul style="overflow-x: hidden;overflow-y: auto;height: 15rem;">
                    <%@events['events'].sort_by{|a| a["scheduled"]}.each do |event|%>
                        <li>
                            <%=link_to "<strong>#{ Time.zone.parse(event['scheduled']).strftime("%d/%m/%Y %H:%M")}</strong>: <i>#{event['title']}</i>".html_safe, "#{Rails.application.secrets.agend_url}/show/#{event['slug']}", target: "_blank"%>
                        </li>
                    <%end%>
                    </ul>
                <%end%>
            </div>
        </div>
    <%end%> 
<% end %>
