<% unless @job_level.get_profile.try(:other).try{|i| i.first}.try(:information).blank? %>
  <p class="margin"><%= @job_level.get_profile.try(:other).try{|i| i.first}.try(:information) %></p>
<% else %>
  <p class="margin"><%= t('people.show.no_profile') %></p>
<% end %>
