<div class="row">
    <div class="medium-7 columns">
    <h1 class="inline-block"><%= upper_case(@person.try(:full_name)) %></h1>
    <% if @job_level.should_display_personal_data?(@corporation) %>
        <p>
            <%if !@appointment.blank?%>
              <% @appointment.try(:charges).each do |charge|%>
                  <span class="secondary-role"><%= charge.try(:charge) %></span>
              <% end %>
            <% end %>
        </p>
        <p>
            <% if @councillor.blank? %>
                <%= upper_case(@appointment.try(:unit)) %>
                <% if @appointment.try(:area).present? %>
                    <span class="secondary-role"><%= upper_case(@appointment.try(:area)) if upper_case(@appointment.try(:area)) != upper_case(@appointment.try(:unit)) %></span>
                <%end%>
            <% else %>
                <%= upper_case(@councillor.try(:electoral_list).try(:long_name)) %>
            <% end%>
        </p>
    <%end%>
    <% if @job_level.not_leaving_date?(@corporation)%>
        <p>
            <% if @person.try(:profile).try(:twitter).present? %>
                <%= link_to twitter_url( @person.try(:profile).try(:twitter)), target: :blank do %>
                <i class="icon-twitter"></i>
                <%=  @person.try(:profile).try(:twitter) %>
                <% end %>
            <% end %>

            <% if  @person.try(:profile).try(:twitter).present? && @person.try(:profile).try(:facebook).present? %>
                &nbsp;|&nbsp;
            <% end %>

            <% if @person.try(:profile).try(:facebook).present? %>
                <%= link_to facebook_url(@person.try(:profile).try(:facebook)), target: :blank do %>
                <i class="icon-facebook"></i>
                <%= @person.try(:profile).try(:facebook)%>
                <% end %>
            <% end %>
        </p>
    <% end %>
    <%if (@job_level.councillor? || @job_level.director?) && (!@appointment.try(:email).blank? || !@appointment.try(:url_form).blank?)  %>

        <p><%= !@appointment.try(:email).blank? ? @appointment.try(:email) : link_to((@preference_transparency.blank? ? t("people.councillor_contact") : @preference_transparency.try(:content_data)), @appointment.try(:url_form), target: "_blank") %></p>

    <%end%>
    <%if !@job_level.temporary_worker? && !@job_level.spokesperson? %>
      <%= render "people/partials/show/economic_data_top" %>
    <%end%>
    <%= render "people/partials/show/dedication_data_top" %>
    </div>
    <div class="medium-5 columns text-right">
        <%unless @councillor.blank?%>
            <%=logo_picture_public(@councillor.try(:electoral_list))%>
            <p style="margin-top: 20px"><b>
                <%=@councillor.try(:corporation).try {|c| upper_case(t('people.corporation_old', corporation: c.try(:name)))}%>
            </b></p>
        <%end%>
        <%= (render 'people/partials/show/month_calendar', events: events)  if !((@job_level.councillor? && (@job_level.not_working?(@corporation) || !@corporation.active)) || (@job_level.director? && @job_level.not_working?))%>
    </div>
</div>
