<% if @job_level.get_profile.try(:studies).count > 0   %>
  <table>
    <caption><%=t('profiles.studies_data')%></caption>
    <thead>
      <tr>
        <th scope="col"><%= Study.human_attribute_name(:official_degree) %></th>
        <th scope="col" class="th-big"><%= Study.human_attribute_name(:center) %></th>
        <th scope="col" class="th-small"><%= Study.human_attribute_name(:start_year) %></th>
        <th scope="col" class="th-small"><%= Study.human_attribute_name(:end_year) %></th>
      </tr>
    </thead>
    <tbody>
      <%@job_level.get_profile.try(:studies).order(table_order: :asc).each do |study| %>
        <tr>
          <td><%= study.try(:official_degree) %></td>
          <td><%= study.try(:center) %></td>
          <td><%= study.try(:start_year) %></td>
          <td><%= study.try(:end_year) %></td>
        </tr>
      <% end %>
      <% if !@job_level.get_profile.try(:studies_comments).blank? %>
        <tr>
          <td colspan=4>
            <%= format_free_text @job_level.get_profile.try(:studies_comments).try{|i| i.first}.try(:information) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if !@job_level.get_profile.try(:studies_comments).try{|i| i.first}.try(:information).try{|t| t.strip}.blank? && @job_level.get_profile.try(:studies).count <= 0 %>
  <table>
    <caption><%=t('profiles.studies_data')%></caption>
    <tbody>
      <tr>
        <td colspan=4>
          <%= format_free_text @job_level.get_profile.try(:studies_comments).try{|i| i.first}.try(:information).try{|t| t.strip} %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if @job_level.get_profile.try(:courses).count > 0 %>
  <table>
    <caption><%=t('profiles.courses_data')%></caption>
    <thead>
      <tr>
        <th scope="col"><%= Course.human_attribute_name(:title) %></th>
        <th scope="col" class="th-big"><%= Course.human_attribute_name(:center) %></th>
        <th scope="col" class="th-small"><%= Course.human_attribute_name(:start_year) %></th>
        <th scope="col" class="th-small"><%= Course.human_attribute_name(:end_year) %></th>
      </tr>
    </thead>
    <tbody>
      <% @job_level.get_profile.try(:courses).order(table_order: :asc).each do |course| %>
        <tr>
          <td><%= course.try(:title) %></td>
          <td><%= course.try(:center) %></td>
          <td><%= course.try(:start_year) %></td>
          <td><%= course.try(:end_year) %></td>
        </tr>
      <% end %>
      <% if !@job_level.get_profile.try(:courses_comments).blank? %>
        <tr>
          <td colspan=4>
            <%= simple_format @job_level.get_profile.try(:courses_comments).try{|i| i.first}.try(:information) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @job_level.get_profile.try(:courses).count <= 0 && !@job_level.get_profile.try(:courses_comments).try{|i| i.first}.try(:information).try{|t| t.strip}.blank? %>
  <table>
    <caption><%=t('profiles.courses_data')%></caption>
    <tbody>
      <tr>
        <td colspan=4>
          <%= simple_format @job_level.get_profile.try(:courses_comments).try{|i| i.first}.try(:information).try{|t| t.strip} %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if @job_level.get_profile.try(:languages).count > 0 %>
  <table>
    <caption><%=t('profiles.languages_data')%></caption>
    <thead>
      <tr>
        <th scope="col"><%=Language.human_attribute_name(:name) %></th>
        <th scope="col" class="th-small"><%= Language.human_attribute_name(:level)  %></th>
      </tr>
    </thead>
    <tbody>
      <% @job_level.get_profile.try(:languages).order(table_order: :asc).each do |language| %>
        <tr>
          <td><%= language.try(:name) %></td>
          <td><%= language.try(:level) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @job_level.has_career? %>
  <h3><%= t("people.career") %></h3>
  <% if @job_level.get_profile.try(:public_jobs).count > 0 %>
    <table>
      <caption><%= t("profiles.public_jobs_data") %></caption>
      <thead>
        <tr>
          <th scope="col" class="th-small"><%= PublicJob.human_attribute_name(:body_scale) %></th>
          <th scope="col" class="th-small"><%= PublicJob.human_attribute_name(:init_year) %></th>
          <th scope="col" class="th-small"><%= PublicJob.human_attribute_name(:consolidation_degree) %></th>
          <th scope="col" class="th-small"><%= PublicJob.human_attribute_name(:position) %></th>
          <th scope="col" class="th-big"><%= PublicJob.human_attribute_name(:public_administration) %></th>
          <th scope="col" class="th-small"><%= PublicJob.human_attribute_name(:start_year) %></th>
          <th scope="col" class="th-small"><%= PublicJob.human_attribute_name(:end_year) %></th>
        </tr>
      </thead>
      <tbody>
        <% @job_level.get_profile.try(:public_jobs).order(table_order: :asc).each do |job| %>
          <tr>
            <td><%= job.try(:body_scale) %></td>
            <td><%= job.try(:init_year) %></td>
            <td><%= job.try(:consolidation_degree) %></td>
            <td><%= job.try(:position) %></td>
            <td><%= job.try(:public_administration) %></td>
            <td><%= job.try(:start_year) %></td>
            <td><%= job.try(:end_year) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>


  <% if @job_level.get_profile.try(:private_jobs).count > 0 %>
    <table>
      <caption><%= t("profiles.private_jobs_data") %></caption>
      <thead>
        <tr>
          <th scope="col"><%= PrivateJob.human_attribute_name(:position) %></th>
          <th scope="col" class="th-big"><%= PrivateJob.human_attribute_name(:entity) %></th>
          <th scope="col" class="th-small"><%= PrivateJob.human_attribute_name(:start_year) %></th>
          <th scope="col" class="th-small"><%= PrivateJob.human_attribute_name(:end_year) %></th>
        </tr>
      </thead>
      <tbody>
        <% @job_level.get_profile.try(:private_jobs).order(table_order: :asc).each do |job| %>
          <tr>
            <td><%= job.try(:position) %></td>
            <td><%= job.try(:entity) %></td>
            <td><%= job.try(:start_year) %></td>
            <td><%= job.try(:end_year) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if !@job_level.get_profile.try(:career_comments).try{|i| i.first}.try(:information).blank?   %>
    <table>
      <caption><%= t("people.career_comment") %></caption>
      <thead>
        <tr>
          <th><%= t("people.career_comment") %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= simple_format @job_level.get_profile.try(:career_comments).try{|i| i.first}.try(:information) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<% if @job_level.get_profile.try(:political_posts).count > 0 %>
  <table>
    <caption><%= t("profiles.political_post_data") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= PoliticalPost.human_attribute_name(:position) %></th>
        <th scope="col" class="th-big"><%= PoliticalPost.human_attribute_name(:entity) %></th>
        <th scope="col" class="th-small"><%= PoliticalPost.human_attribute_name(:start_year) %></th>
        <th scope="col" class="th-small"><%= PoliticalPost.human_attribute_name(:end_year) %></th>
      </tr>
    </thead>
    <tbody>
      <% @job_level.get_profile.try(:political_posts).order(table_order: :asc).each do |post| %>
        <tr>
          <td><%= post.try(:position) %></td>
          <td><%= post.try(:entity) %></td>
          <td><%= post.try(:start_year) %></td>
          <td><%= post.try(:end_year) %></td>
        </tr>
      <% end %>
      <% if !@job_level.get_profile.try(:political_posts_comments).blank? %>
        <tr>
          <td colspan=4>
            <%= simple_format @job_level.get_profile.try(:political_posts_comments).try{|i| i.first}.try(:information) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if !@job_level.get_profile.try(:publications).blank? %>
<div class="publications-container"><h3><%= t("people.publications") %></h3>
  <p><% if @job_level.get_profile.try(:publications).count > 0
    @job_level.get_profile.try(:publications).order(table_order: :asc).each do |pub| %>
      <% unless pub.try(:information).blank?%>
        <% if pub.try(:information_at).blank?%>
          <%= format_free_text "#{pub.try(:information)}" %>
        <%else%>
          <%= format_free_text "#{pub.try(:information)}(#{format_date(pub.try(:information_at))})" %>
        <%end%>
      <%end%>
    <%end
  end%></p></div>
<% end %>

<% if !@job_level.get_profile.try(:theacher_activity).try{|i| i.first}.try(:information).blank? %>
  <div class="teaching-activity-container"><h3><%= t("people.teaching_activity") %></h3>
  <%= format_free_text @job_level.get_profile.try(:theacher_activity).try{|i| i.first}.try(:information) %></div>
<% end %>

<% if !@job_level.get_profile.try(:special_mentions).try{|i| i.first}.try(:information).blank? %>
  <div class="special-mentions-container"><h3><%= t("people.special_mentions") %></h3>
  <%= format_free_text @job_level.get_profile.try(:special_mentions).try{|i| i.first}.try(:information) %></div>
<% end %>

<% if !@job_level.get_profile.try(:other).try{|i| i.first}.try(:information).blank? %>
  <div class="other-container"><h3><%= t("people.other") %></h3>
  <%= format_free_text @job_level.get_profile.try(:other).try{|i| i.first}.try(:information) %></div>
<% end %>
