<br><br>
<a name="profile" data-magellan-destination="profile"></a>
<h2 class="lead"><%= t("people.profile") %></h2>
<% if @job_level.get_profile.try(:updated_at).present? %>
  <p><%= t('people.show.profile_date', profile_date: format_date(@job_level.get_profile.try(:updated_at), format: :datetime)) %></p>
<% end %>
<% unless @job_level.get_profile.blank? %>
    <%= render 'people/partials/show/profile' %>
<% else %>
    <%= render 'people/partials/show/no_profile' %>
<% end %>