<% unless errors.blank?%>
  <small class="error error">
    <%= t('errors.title', count: errors.count ) %><br>
    <ul>
    <% errors.each do |attribute, error|%>
      <li><%=get_min_errors(attribute, model)%> <%=error%></li>
    <%end%>
    </ul>
  </small>
<%end%>