<ul class="tabs" data-tab>
  <li id="data_log" class="tab-title <%= params[:section_m].blank? || params[:section_m].to_s != "true" ? "active" : "" %>">
    <a href="#log" onclick="change_param(<%=obj.try(:id)%>,false,'<%=url%>')"><%= t('logs.section_data') %></a>
  </li>
  <li id="data_email_log" class="tab-title <%= !params[:section_m].blank? && params[:section_m].to_s=="true" ? "active" : "" %>">
    <a href="#email_log" onclick="change_param(<%=obj.try(:id)%>,true,'<%=url%>')"><%= t('logs.section_email') %></a>
  </li>
</ul>

<div class="tabs-content">
  <div id="log" class="small-12 column content <%= params[:section_m].blank? || params[:section_m].to_s != "true" ? "active" : "" %>" aria-hidden="false">
    <%= render "/shared/log_data", log_data: obj.try(:log)%>
  </div>
  <div id="email_log" class="small-12 column content <%= !params[:section_m].blank? && params[:section_m].to_s=="true" ? "active" : "" %>" aria-hidden="true" >
    <fieldset>
    <legend><%=t('logs.section_data_emails')%></legend>
    <% unless obj.try(:emails).blank? %>
      <div class="row">
        <% obj.try(:emails).values.uniq.each do |email| %>
          <div class="column">
            <%=label_tag do %>
              <%=check_box_tag "emails[]", email, false, onclick: "send_data_email('#{url_send.to_s}')"%>
              <%="#{email[0]} (#{t("person.titles.#{email[1]}")})"%>
            <%end%>
          </div>
        <%end%>
      </div>
      </fieldset>
      <div id="recarga">
        <%= link_to t('logs.button_email'), params[:emails].blank? ? "?"+{section_m: true}.to_param : url_send+"?"+{section_m: true, emails: params[:emails]}.to_param, disabled: params[:emails].blank?,id: "send",method: :post, class: 'button' %>
      <div>
    <%else%>
      </fieldset>
      <%=t('logs.no_emails')%>
    <%end%>
    <%unless  obj.try(:emails).blank? %>
      <fieldset>
      <legend><%=t('logs.section_emails_history')%></legend>
        <%= render partial: 'admin/delete_data/logs', locals: {logs: obj.try(:logs_children).page(params[:page]), model: model, path: url_model, section_m: true} %>
      </fieldset>
    <%end%>
  </div>
</div>
<script>
 $('input[name^="emails[]"]').each(function(){
    $(this).prop("checked",false)
  })
</script>