
<% template_path =  local_assigns[:template_path] || "#{params[:controller]}/#{params[:action]}" %>
<% html_content  =  j(render file: template_path) %>


$('person-form', {
  id: 'dialog',
  }).appendTo('body').
html("<%= html_content %>").
dialog({
  title:       '',
  draggable:   false,
  resizable:   false,
  closeText:   "X",
  stack:       false,
  classes: {
    "ui-dialog": "highlight"
  },
  dialogClass: "no-close",
  modal:       false,
  width:       500,
 
  buttons: [
    {
      text: "<%= t('action.close') %>",
      class: "btn btn-default",
      click: function() {
         $(this).remove();
       
      }
    }
  ]
});