<%= render partial: "shared/errors", locals: {errors: f.object.errors, model: undescore(f.object.class.name)}%>

<div class="row">
    <div class="small-6 column">
        <div class="row">
            <div class="column">
                <%=f.input :name, label_html: { class: ("error" unless f.object.errors[:name].blank?) },
                    input_html: { class: ("error" unless f.object.errors[:name].blank?) } %>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <%=f.input :long_name, label_html: { class: ("error" unless f.object.errors[:long_name].blank?) },
                    input_html: { class: ("error" unless f.object.errors[:long_name].blank?) } %>
            </div>
        </div>
    </div>
    <div class="small-6 column">
        <div class="row">
            <div class="column">
                <%=f.input :logo %>
            </div>
        </div>
        <div class="row">
            <div class="column">
                 <div id="image_preview" style="height: 200px;width: 200px">
                <%= logo_picture(f.object, :thumb) %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <%= link_to t('admin.actions.back'), admin_electoral_lists_path, class: "button radius" %>
    <%= f.button :submit, class: "button radius" %>
</div>
