<h1><%= t('admin.electoral_lists.edit.title') %></h1>
<%= simple_nested_form_for(@electoral_list, url: admin_electoral_list_path(@electoral_list), html: { multipart: true }) do |f| %>
  <%= render 'form', f: f %>
<% end %>