<h1><%= t('admin.electoral_lists.index.title') %></h1>
<p>
    <div class="row">
        <div class="column">
            <%= link_to t('admin.electoral_lists.index.new_action'), new_admin_electoral_list_path, class: 'button small radius ' %>
        </div>
    </div>
</p>
<table>
  <thead>
    <tr>
        <% ElectoralList.main_columns.each do |col|%>
            <th><%=ElectoralList.human_attribute_name(col)%></th>
        <%end%>
        <th><%= t("admin.people.headers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @electoral_lists.each do |electoral| %>
      <tr>
        <% ElectoralList.main_columns.each do |col|%>
            <td><%=electoral.try(col)%></td>
        <%end%>
        <td>
          <%= link_to edit_admin_electoral_list_path(electoral), alt: t('admin.actions.edit'),title:t('admin.actions.edit') do %>
            <i class="fa fa-pen fa-lg"></i>
          <%end%>
          <%= link_to admin_electoral_list_path(electoral), class: "delete", method: :delete, data: {confirm: t("admin.electoral_lists.confirm_deletion", name: electoral.name)}, alt: t('admin.actions.delete'),title:t('admin.actions.delete') do %>
            <i class="fa fa-trash-alt fa-lg"></i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>