<h2><%= t('admin.menu.councillors') %></h2>
<br>

<ul class="tabs" data-tab>
    <% Corporation.all.order(name: :desc).each_with_index do |c, i|%>
        <li id="data_log" class="tab-title <%= "active" if params[:corporation].to_i == c.id || params[:corporation].blank? && i == 0%>">
            <a href="#corporation_<%= c.id %>"><%= c.name %></a>
        </li>
    <% end %>
</ul>

<div class="tabs-content">
    <% Corporation.all.order(name: :desc).each_with_index do |c, i|%>
        <div id="corporation_<%= c.id %>" class="small-12 column content <%= "active" if params[:corporation].to_i == c.id || params[:corporation].blank? && i == 0%>" aria-hidden="<%= !(params[:corporation] == c.id || params[:corporation].blank? && i == 0) || true%>">
            <%=render "corporation", corporation: c.id%>
        </div>
    <% end %>
</div>

