<div class="row">
    <div class="small-6 column">
        <%= radio_button_tag("export[directors]",:csv,(params[:export].blank? || params[:export]=="csv"), :onclick => "change_param_parametrize_url(['export', 'csv'], 'statistics/?directors=true','#recarga_directors')") %>
        <%= label_tag(:export_csv, t('admin.dashboard.form.export_csv')) %>
    </div>
    <div class="small-6 column">
        <%= radio_button_tag("export[directors]",:xls,(params[:export]=="xls"), :onclick => "change_param_parametrize_url(['export', 'xls'], 'statistics/?directors=true','#recarga_directors')") %>
        <%= label_tag(:export_xls, t('admin.dashboard.form.export_xls')) %>
    </div>
</div>
<h2><%= t('admin.menu.directors') %></h2>
<br>

<div id="recarga_directors">
    <h3><%= t('admin.menu.active_directors') %></h3><br>
    <table>
        <thead>
            <tr>
                <th><%= t("admin.menu.period") %></th>
                <th><%= t("admin.menu.type_declaration") %></th>
                <th><%= t("admin.menu.duties") %></th>
                <th><%= t("admin.menu.with") %></th>
                <th><%= t("admin.menu.without") %></th>
            </tr>
        </thead>
        <tbody>
            <%@data_directors_active.each do |data| %>
                <tr>
                    <td><strong><%=data[:temporality]%></strong></td>
                    <td><strong><%=t(data[:declaration])%></strong></td>
                    <% [:all, :with, :without].each do |t|%>
                        <td>
                            <% if data[t] > 0 && data[:declaration].to_s != 'Total'%>
                                <%= link_to data[t], current_url(params.merge(:format=> params[:export].blank? ? "csv" : params[:export], section: 'directors', active: true, temporality: data[:temporality], declaration: data[:declaration], part: t)) %>
                            <% else %>
                                <%= data[t] %>
                            <% end %>
                        </td>
                    <%end%>
                </tr> 
            <% end %>
        </tbody>
    </table>

    <br><h3><%= t('admin.menu.inactive_directors') %></h3><br>
    <table>
        <thead>
            <tr>
                <th><%= t("admin.menu.period") %></th>
                <th><%= t("admin.menu.type_declaration") %></th>
                <th><%= t("admin.menu.duties") %></th>
                <th><%= t("admin.menu.with") %></th>
                <th><%= t("admin.menu.without") %></th>
            </tr>
        </thead>
       <tbody>
            <%@data_directors_inactive.each do |data| %>
                <tr>
                    <td><strong><%=data[:temporality]%></strong></td>
                    <td><strong><%=t(data[:declaration])%></strong></td>
                    <% [:all, :with, :without].each do |t|%>
                        <td>
                            <% if data[t] > 0 && data[:declaration].to_s != 'Total'%>
                                <%= link_to data[t], current_url(params.merge(:format=> params[:export].blank? ? "csv" : params[:export], section: 'directors', temporality: data[:temporality], declaration: data[:declaration], part: t)) %>
                            <% else %>
                                <%= data[t] %>
                            <% end %>
                        </td>
                    <%end%>
                </tr> 
            <% end %>
        </tbody>
    </table>

    <br><h3><%= t('admin.menu.editable_directors') %></h3><br>
    <table>
        <thead>
            <tr>
                <th><%= t("admin.menu.period") %></th>
                <th><%= t("admin.menu.type_declaration") %></th>
                <th><%= t("admin.menu.duties") %></th>
                <th><%= t("admin.menu.editable") %></th>
            </tr>
        </thead>
       <tbody>
            <%@data_directors_editable.each do |data| %>
                <tr>
                    <td><strong><%=data[:temporality]%></strong></td>
                    <td><strong><%=t(data[:declaration])%></strong></td>
                    <% [:all, :editable].each do |t|%>
                        <td>
                            <% if data[t] > 0 && data[:declaration].to_s != 'Total'%>
                                <%= link_to data[t], current_url(params.merge(:format=> params[:export].blank? ? "csv" : params[:export], section: 'directors', temporality: data[:temporality], declaration: data[:declaration], part: t, editable: true)) %>
                            <% else %>
                                <%= data[t] %>
                            <% end %>
                        </td>
                    <%end%>
                </tr> 
            <% end %>
        </tbody>
    </table>
</div>