<div class="row">
  <div class="small-6 column">
    <h1><%= t('admin.menu.statistics') %></h1>
  </div>
  <div class="small-6 column text-right">
    <%= link_to t('statistics.update_data'), update_data_admin_statistics_path, data: {confirm: t('statistics.confirm_update')}, class: 'button small radius ' %>
  </div>
</div>
<br>

<ul class="tabs">
  <li id="data_log" class="tab-title <%= "active" if type.blank? || type == "profiles"%>">
    <%= link_to t('profile.statistics_profiles'), profiles_admin_statistics_path %>
  </li>
  <li id="data_log" class="tab-title <%= "active" if type == "councillors"%>">
    <%= link_to t('profile.statistics_councillors'), councillors_admin_statistics_path %>
  </li>
  <li id="data_log" class="tab-title <%= "active" if type == "directors"%>">
    <%= link_to t('profile.statistics_director'), directors_admin_statistics_path %>
  </li>
</ul>

<div class="tabs-content">
  <div class="small-12 column content active" aria-hidden="false">
    <%=render "#{type.blank? ? "profiles" : type}"%>
  </div> 
</div>