<div class="row">
    <div class="small-6 column">
        <%= radio_button_tag("export[profiles]",:csv,(params[:export].blank? || params[:export]=="csv"), :onclick => "change_param_parametrize_url(['export', 'csv'], 'statistics/?profiles=true', '#recarga_profiles')") %>
        <%= label_tag(:export_csv, t('admin.dashboard.form.export_csv')) %>
    </div>
    <div class="small-6 column">
        <%= radio_button_tag("export[profiles]",:xls,(params[:export]=="xls"), :onclick => "change_param_parametrize_url(['export', 'xls'], 'statistics/?profiles=true', '#recarga_profiles')") %>
        <%= label_tag(:export_xls, t('admin.dashboard.form.export_xls')) %>
    </div>
</div>
<h2><%= t('admin.menu.profiles') %></h2>
<br>

<div id="recarga_profiles">
    <table>
        <thead>
            <tr>
                <th><%= t("admin.menu.person") %></th>
                <th><%= t("admin.menu.n_active") %></th>
                <th><%= t("admin.menu.profile_published") %></th>
                <th><%= t("admin.menu.without_profile_published") %></th>
            </tr>
        </thead>
        <tbody>
            <% @profiles_count.each do |item|%>
                <tr>
                    <td><strong><%= t("admin.dashboard.#{item[:type]}") %></strong></td>
                    <% [:all, :profile, :unprofile].each do |t|%>
                        <td>
                            <% if item[t] > 0%>
                                <%= link_to item[t], current_url(params.merge(:format=> params[:export].blank? ? "csv" : params[:export], section: 'profiles', person: item[:type], part: t)) %>
                            <% else %>
                                <%= item[t] %>
                            <% end %>
                        </td>
                    <%end%>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>