<table>
  <thead>
    <tr>
      <th><%= ManageEmail.human_attribute_name(:type_data) %></th>
      <th><%= ManageEmail.human_attribute_name(:subject) %></th>
      <th><%= ManageEmail.human_attribute_name(:fields_cc) %></th>
      <th><%= ManageEmail.human_attribute_name(:fields_cco) %></th>
      <th><%= t("admin.people.headers.actions") %></th>
    </tr>
  </thead>
  <tbody data-no-turbolink>
    <% @manage_emails.each do |mail| %>
      <tr>
        <td><%= t("manage_email.types.#{mail.try(:type_data)}") %></td>
        <td><%= mail.try(:subject) %></td>
        <td><%= sanitize mail.try(:cc) %></td>
        <td><%= sanitize mail.try(:cco) %></td>
        <td>
          <%= link_to edit_admin_manage_email_path(mail), alt: t('admin.actions.edit'),title:t('admin.actions.edit') do %>
            <i class="fa fa-pen fa-lg"></i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



