<%= simple_nested_form_for :datas, url: update_all_admin_data_preferences_path, html: { multipart: true }  do |f| %>
  <%= f.submit(class: "button radius", value: t("shared.submit")) %>
  <table>
    <thead>
      <tr>
        <th><%= DataPreference.human_attribute_name(:title) %></th>
        <th><%= DataPreference.human_attribute_name(:type_data) %></th>
        <th><%= DataPreference.human_attribute_name(:content_data) %></th>
      </tr>
    </thead>
    <tbody>
      <% @data_preferences.each do |data| %>
        <%= f.fields_for :"info[#{data.try(:id)}]" do |fd|%>
          <%=fd.input :id, as: :hidden, input_html: {value: data.try(:id)}%>
          <tr>
            <td><%= data.try(:title) %></td>
            <td><%= get_type_preference(data.try(:type_data)) %></td>
            <% if data.try(:type_data).to_i == 3 %>
              <td><%= fd.input :content_data,label: false, input_html: { placeholder: "dd/mm/aaaa", type: "datetime", value: Time.zone.parse(data.try(:content_data)).strftime("%Y-%m-%d"), class: "fdatepicker"} %></td>
            <% else %>
              <td>
              <%= fd.input :content_data,label: false, as: type_preference(data.try(:type_data)), input_html: { value: data.try(:content_data)}%></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<%end%>