<table>
  <thead>
    <tr>
      <th><%= TextContent.human_attribute_name(:section) %></th>
      <th><%= TextContent.human_attribute_name(:content) %></th>
      <th><%= t("admin.people.headers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @text_contents.each do |sec| %>
      <tr>
        <td><%= TextContent.human_attribute_name(sec.try(:section)) %></td>
        <td><%= sec.try(:content) %></td>
        <td>
          <%= link_to edit_admin_text_content_path(sec), alt: t('admin.actions.edit'),title:t('admin.actions.edit') do %>
            <i class="fa fa-pen fa-lg"></i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
