<ul class="tabs" data-tab>
  <li id="data_log" class="tab-title <%= "active" if params[:generic].blank? && params[:text_content].blank? %>">
    <a href="#email" onclick="change_param_parametrize([], 'preferences')"><%= t('preferences.email') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:generic]%>">
    <a href="#generic" onclick="change_param_parametrize(['generic',true], 'preferences')"><%= t('preferences.generic') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:text_content]%>">
    <a href="#textcontent" onclick="change_param_parametrize(['text_content',true], 'preferences')"><%= t('preferences.textcontent') %></a>
  </li>
</ul>

<div class="tabs-content">
  <div id="email" class="small-12 column content <%= "active" if params[:generic].blank? && params[:text_content].blank? %>" aria-hidden="<%=!(params[:generic].blank? && params[:text_content].blank?) || true%>">
   <%=render "email"%>
  </div>
  <div id="generic" class="small-12 column content <%= "active" if params[:generic]%>" aria-hidden="<%= !params[:generic] || true%>">
    <%=render "generic"%>
  </div>
  <div id="textcontent" class="small-12 column content <%= "active" if params[:text_content]%>" aria-hidden="<%=  !params[:text_content] || true %>">
    <%=render "text_content"%>
  </div>
  
</div>