<%= f.link_to_add t('activities_declarations.new'), :activities_declarations, :class => "small button radius success",
  data: {target: "#activities_declarations_#{job}", identificador: "#{job}"} %>

<ul class='tabs' role='tablist' id="activities_declarations_headers_<%=job%>"></ul>
<div class="tabs-content" >
  <div id="activities_declarations_<%=job%>">
    <%= f.simple_fields_for :activities_declarations, :wrapper => false do |activity| %>
      <div class="fields">
        <div name="<%=activities_declarations_tab_name(activity.object)%>" id="activity_declaration_<%=job%>_<%= activity.index %>" class="small-12 column content activity_declaration_<%=job%>"  >
          <%= render 'activity_declaration_form', f: activity, job: job, remove_id: "activity_declaration_#{job}_#{ activity.index }" %>
        </div>
        <script>addtabs($(".activity_declaration_<%=job%>"),$("#activities_declarations_headers_<%=job%>"))</script>
      </div>
    <% end %>
  </div>
</div>
