<div class="row">
  <div class="small-3 column">
    <%= f.association :temporality,label: ActivitiesDeclaration.human_attribute_name(:temporality), 
      input_html: {onchange: "change_visibility_year($(this), $('.year_period_#{job}_#{f.index}'), #{Temporality.find_by(name: "Anual").try(:id)})", class: "temporality_#{job}_#{f.index}"}%>
  </div>
  <div class="small-3 column">
    <%= f.input :declaration_date, as: :string,  label: ActivitiesDeclaration.human_attribute_name(:declaration_date), input_html: {type: :date,
      value: (f.object.declaration_date.nil? ? Time.zone.now.strftime("%Y-%m-%d") : f.object.declaration_date.strftime("%Y-%m-%d"))} %>
  </div>
  <div class="small-3 column">
    <%= f.input :year_period, label: ActivitiesDeclaration.human_attribute_name(:year_period), 
      input_html: {class: "year_period_#{job}_#{f.index}", style: (f.object.temporality.blank? || f.object.temporality.try(:id) != Temporality.find_by(name: "Anual").try(:id) ? "display:none" : "display:block")},
      label_html: {class: "year_period_#{job}_#{f.index}", style: (f.object.temporality.blank? || f.object.temporality.try(:id) != Temporality.find_by(name: "Anual").try(:id) ? "display:none" : "display:block")} %>
  </div>
  <div class="small-3 column">
    <%= f.input :editable, label: ActivitiesDeclaration.human_attribute_name(:editable)%>
  </div>
  <div class="small-3 column end">
    <%= f.link_to_remove t('shared.delete'), class: "delete", onclick: "deletetabs(#{remove_id})" %>
  </div>  
</div>
<script>
  change_visibility_year($('.temporality_<%=job%>_<%=f.index%> option:selected'), $('.year_period_<%=job%>_<%=f.index%>'), <%=Temporality.find_by(name: "Anual").try(:id)%>)
</script>
<h2><%= t("public_activities.title") %></h2>
<table id="public_activities_<%=job%>_<%=f.index%>">
  <thead>
    <tr>
      <th scope="col"><%=PublicActivity.human_attribute_name(:entity)%>*</th>
      <th scope="col" class="th-big"><%=PublicActivity.human_attribute_name(:position)%>*</th>
      <th scope="col" class="th-small"><%=PublicActivity.human_attribute_name(:start_date)%></th>
      <th scope="col" class="th-small"><%=PublicActivity.human_attribute_name(:end_date)%></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :public_activities,  :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :entity, label: false, id: nil %></td>
        <td><%= fs.input :position, label: false, id: nil %></td>
        <td><%= fs.input :start_date, as: :string, label: false, id: nil%></td>
        <td><%= fs.input :end_date, as: :string, label: false, id: nil%></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>  
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5" id="public-activities-add" >
      <%= f.link_to_add t('shared.add'), :public_activities,:class => "right small button radius success", :data => { :target => "#public_activities_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>
<h2><%= t("private_activities.title") %></h2>
<table id="private_activities_<%=job%>_<%=f.index%>">
  <thead>
    <tr>
      <th scope="col" class="th-big"><%=PrivateActivity.human_attribute_name(:private_activity_type) %></th>
      <th scope="col" class="th-big"><%=PrivateActivity.human_attribute_name(:description)%>*</th>
      <th scope="col" class="th-big"><%=PrivateActivity.human_attribute_name(:entity) %>*</th>
      <th scope="col" class="th-big"><%=PrivateActivity.human_attribute_name(:position) %>*</th>
      <th scope="col" class="th-small"><%=PrivateActivity.human_attribute_name(:start_date) %></th>
      <th scope="col" class="th-small"><%=PrivateActivity.human_attribute_name(:end_date) %></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :private_activities, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :private_activity_type, label: false, id: nil %></td>
        <td><%= fs.input :description,as: :string, label: false, id: nil %></td>
        <td><%= fs.input :entity, label: false, id: nil %></td>
        <td><%= fs.input :position, label: false, id: nil %></td>
        <td><%= fs.input :start_date, as: :string, label: false, id: nil%></td>
        <td><%= fs.input :end_date, as: :string, label: false, id: nil%></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>  
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="7" id="private-activities-add" >
      <%= f.link_to_add t('shared.add'), :private_activities,:class => "right small button radius success", :data => { :target => "#private_activities_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("other_activities.title") %></h2>
<table id="other_activities_<%=job%>_<%=f.index%>">
  <thead>
    <tr>
      <th scope="col" class="th-big"><%=OtherActivity.human_attribute_name(:description) %>*</th>
      <th scope="col" class="th-big"><%=OtherActivity.human_attribute_name(:start_date) %></th>
      <th scope="col" class="th-big"><%=OtherActivity.human_attribute_name(:end_date) %></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :other_activities, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :description, as: :string, label: false, id: nil %></td>
        <td><%= fs.input :start_date, as: :string, label: false, id: nil%></td>
        <td><%= fs.input :end_date, as: :string, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>  
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5"  id="other-activities-add" >
      <%= f.link_to_add t('shared.add'), :other_activities,:class => "right small button radius success", :data => { :target => "#other_activities_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>