<fieldset>
<legend><%=t('job_levels.appointment_data')%></legend>
    <%= f.fields_for :appointment, (Appointment.new if f.object.appointment.blank?) do |appointment| %>
        <div class="row">
            <div class="small-3 column">
                <%= appointment.input :position, label: t('appointments.position') %>
            </div>
            <div class="small-3 column">
                <%= appointment.input :position_alt, label: t('appointments.position_alt') %>
            </div>
            <div class="small-3 column">
                <%= appointment.input :start_date, as: :string, label: t('appointments.start_date'), input_html: {type: :date,
                    value: (appointment.object.start_date.nil? ? '' : appointment.object.start_date.strftime("%Y-%m-%d"))} %>
            </div>
            <div class="small-3 column">
                <%= appointment.input :end_date, as: :string, label: t('appointments.end_date'), input_html: {type: :date,
                    value: (appointment.object.end_date.nil? ? '' : appointment.object.end_date.strftime("%Y-%m-%d"))}  %>
            </div>   
        </div>
        <div class="row">         
            <div class="small-3 column end">
                <%= appointment.input :unit, label: t('appointments.unit')  %>
            </div>
            <% unless job.councillor?%>
                <div class="small-3 column end">
                    <%= appointment.input :area, label: t('appointments.area')  %>
                </div>
            <%end%>   
        </div>
        <% unless job.public_worker? %>
            <fieldset>
                <legend>Toma de posesión</legend>
                <div class="row">                
                    <div class="small-3 column">
                        <%= appointment.input :possession_date, as: :string, label: t('appointments.possession_date'), input_html: {type: :date,
                            value: (appointment.object.possession_date.nil? ? '' : appointment.object.possession_date.strftime("%Y-%m-%d"))}  %>
                    </div> 
                    <% unless job.councillor?%>
                        <div class="small-9 column">
                            <%= appointment.input :description_possession, as: :string, label: t('appointments.description_possession') %>
                        </div>   
                    <%else%>
                        <div class="small-9 column">
                            <%= appointment.input :url_possession, as: :string, label: t('appointments.url_possession') %>
                        </div>
                    <%end%>               
                </div>
            </fieldset>
        <%end%>  
        <% if job.councillor? || job.director? %>
            <fieldset>
                <legend>Cargos</legend>
                <table id="charges_<%=job.person_type%>_<%=f.index%>">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= appointment.simple_fields_for :charges, :wrapper => false do |charge| %>
                            <tr class="fields">
                                <td><%= charge.input :charge, as: :string, label: false, id: nil, input_html: { maxlength: 300 } %></td>
                                <td class="text-center"><%= charge.link_to_remove t('shared.delete'), class: "delete" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="5" id="charges-add" >
                            <%= appointment.link_to_add t('shared.add'), :charges, :class => "right small button radius success", :data => { :target => "#charges_#{job.person_type}_#{f.index}" } %>
                        </td></tr>
                    </tfoot>
                </table>
            </fieldset>
        <% end %>
        <% unless job.public_worker? %>
            <% if !job.spokesperson?%>
                <fieldset>
                    <legend>Funciones</legend>
                    <div class="row"> 
                        <div class="small-12 column">
                            <%= appointment.input :functions, as: :text, label: t('appointments.functions') %>            
                        </div>                
                    </div>
                </fieldset>
            <%end%>
                <fieldset>
                    <legend>Retribuciones</legend>
                    <div class="row">                
                        <div class="small-3 column">
                            <%= appointment.input :retribution, as: :integer, label: t('appointments.retribution') %>            
                        </div>
                        <div class="small-3 column">
                            <%= appointment.input :retribution_year, as: :integer, label: t('appointments.retribution_year') %>            
                        </div>
                        <div class="small-6 column end">
                            <%= appointment.input :observations, as: :string, label: t('appointments.observations') %>
                        </div>               
                    </div>
                </fieldset>
            
            <div class="row">
                <div class="small-12 column">
                    <%= appointment.input :transparency_link, label: t('appointments.transparency_link') %>
                </div>
            </div>
        <% end %>
        <% if job.councillor? %>
            <h2><%= t("job_levels.dedications") %></h2>
            <table id="dedications_<%=job.person_type%>_<%=f.index%>">
                <thead>
                    <tr>
                        <th scope="col" class="th-small"><%= t('dedications.start_date') %></th>
                        <th scope="col" class="th-small"><%= t('dedications.end_date') %></th>
                        <th scope="col" class="th-small"><%= t('dedications.percentage') %></th>
                        <th scope="col" class="th-big"><%= t('dedications.description') %></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <%= f.simple_fields_for :dedications,  :wrapper => false do |ded| %>
                        <tr class="fields">
                            <td>
                                <%= ded.input :start_date, as: :string, label: false, id: nil, input_html: {type: :date,
                                    value: (ded.object.start_date.nil? ? '' : ded.object.start_date.strftime("%Y-%m-%d"))} %>
                            </td>
                            <td>
                                <%= ded.input :end_date, as: :string, label: false, id: nil, input_html: {type: :date,
                                    value: (ded.object.end_date.nil? ? '' : ded.object.end_date.strftime("%Y-%m-%d"))} %>
                            </td>
                            <td><%= ded.input :percentage, as: :integer, label: false, id: nil %></td>
                            <td><%= ded.input :description, as: :string, label: false, id: nil %></td>
                            <td class="text-center"><%= ded.link_to_remove t('shared.delete'), class: "delete" %></td>
                        </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr><td colspan="5" id="dedications-add" >
                        <%= f.link_to_add t('shared.add'), :dedications,:class => "right small button radius success", :data => { :target => "#dedications_#{job.person_type}_#{f.index}" } %>
                    </td></tr>
                </tfoot>
            </table>
        <%end%>
        <% if job.public_worker?%>
            <fieldset>
                <legend>Toma de posesión</legend>
                <div class="row">                
                    <div class="small-3 column">
                        <%= appointment.input :possession_date, as: :string, label: t('appointments.possession_date'), input_html: {type: :date,
                            value: (appointment.object.possession_date.nil? ? '' : appointment.object.possession_date.strftime("%Y-%m-%d"))}  %>
                    </div>        
                </div>
            </fieldset>
        <%end%>
        <% unless job.public_worker? %>
            <% if job.director? || job.councillor?%>
                <fieldset>
                    <legend>Datos de contacto publico</legend>
                    <div class="row"> 
                        <% unless job.councillor?%>
                            <div class="small-3 column end">
                                <%= appointment.input :email, as: :string, label: t('appointments.email') %>
                            </div>
                            
                        <%else%>
                            <div class="small-9 column end">
                                <%= appointment.input :url_form, as: :string, label: t('appointments.url_form') %>
                            </div>
                        <%end%>               
                    </div>
                </fieldset>
            <%end%>

            <% if job.director? %>
            <fieldset>
                <legend>Datos de compatibilidad</legend>
                    <legend>Actividades para las que tienen concedida la compatibilidad</legend>
                    <table id="compatibility_activities<%=job.person_type%>_<%=f.index%>">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2"><%=t('job_levels.resolution_date')%></th>
                                <th scope="col" colspan="6"><%=t('job_levels.compatibility_description')%></th>
                                <th scope="col" colspan="2"><%=t('job_levels.public_private')%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= f.simple_fields_for :compatibility_activities,  :wrapper => false do |com_act| %>
                                <tr class="fields">
                                    <td colspan="2">
                                        <%= com_act.input :resolution_date ,as: :string, label: false, id: nil, input_html: {placeholder: "dd/mm/aaaa hh:mm", type: "datetime",
                                            value: (com_act.object.resolution_date.nil? ? nil : com_act.object.resolution_date.strftime("%Y-%m-%d %H:%M")), class: "fdatepicker"} %>
                                    </td>
                                    <td colspan="6"><%= com_act.input :compatibility_description, as: :string, label: false, id: nil %></td>
                                    <td colspan="2"><%= com_act.input :public_private, label: false, id: nil %></td>
                                    <td class="text-center" colspan="2"><%= com_act.link_to_remove t('shared.delete'), class: "delete" %></td>
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                            <tr><td colspan="12" id="compatibility_activities-add" >
                                <%= f.link_to_add t('shared.add'), :compatibility_activities,:class => "right small button radius success", :data => { :target => "#compatibility_activities#{job.person_type}_#{f.index}" } %>
                            </td></tr>
                        </tfoot>
                    </table>
                <legend>Autorizaciones tras el cese</legend>
                <table id="termination_authorizations<%=job.person_type%>_<%=f.index%>">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3"><%=t('job_levels.authorization_date')%></th>
                            <th scope="col" colspan="6"><%=t('job_levels.authorization_description')%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= f.simple_fields_for :termination_authorizations,  :wrapper => false do |term_auth| %>
                            <tr class="fields">
                                <td colspan="3"><%= term_auth.input :authorization_date,as: :string, label: false, id: nil, input_html: {placeholder: "dd/mm/aaaa hh:mm", type: "datetime",
                                value: (term_auth.object.authorization_date.nil? ? nil : term_auth.object.authorization_date.strftime("%Y-%m-%d %H:%M")), class: "fdatepicker"} %></td>
                                <td colspan="6"><%= term_auth.input :authorization_description, as: :string, label: false, id: nil %></td>
                                <td class="text-center" colspan="3"><%= term_auth.link_to_remove t('shared.delete'), class: "delete" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="12" id="termination_authorizations-add" >
                            <%= f.link_to_add t('shared.add'), :termination_authorizations,:class => "right small button radius success", :data => { :target => "#termination_authorizations#{job.person_type}_#{f.index}" } %>
                        </td></tr>
                    </tfoot>
                </table>
            </fieldset>
            <% end %>

            <% if job.councillor? || job.director? %>
            <fieldset>
                <legend>Comisiones del Pleno</legend>
                <table id="commisions_<%=job.person_type%>_<%=f.index%>">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= appointment.simple_fields_for :commisions, :wrapper => false do |commision| %>
                            <tr class="fields">
                                <td><%= commision.input :commision, as: :string, label: false, id: nil, input_html: { maxlength: 300 } %></td>
                                <td class="text-center"><%= commision.link_to_remove t('shared.delete'), class: "delete" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="5" id="commisions-add" >
                            <%= appointment.link_to_add t('shared.add'), :commisions, :class => "right small button radius success", :data => { :target => "#commisions_#{job.person_type}_#{f.index}" } %>
                        </td></tr>
                    </tfoot>
                </table>
            </fieldset>
            <fieldset>
                <legend>Datos de compatibilidad</legend>
                    <legend>Actividades para las que tienen concedida la compatibilidad</legend>
                    <table id="compatibility_activities<%=job.person_type%>_<%=f.index%>">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2"><%=t('job_levels.resolution_date')%></th>
                                <th scope="col" colspan="6"><%=t('job_levels.compatibility_description')%></th>
                                <th scope="col" colspan="2"><%=t('job_levels.public_private')%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= f.simple_fields_for :compatibility_activities,  :wrapper => false do |com_act| %>
                                <tr class="fields">
                                    <td colspan="2">
                                        <%= com_act.input :resolution_date ,as: :string, label: false, id: nil, input_html: {placeholder: "dd/mm/aaaa hh:mm", type: "datetime",
                                            value: (com_act.object.resolution_date.nil? ? nil : com_act.object.resolution_date.strftime("%Y-%m-%d %H:%M")), class: "fdatepicker"} %>
                                    </td>
                                    <td colspan="6"><%= com_act.input :compatibility_description, as: :string, label: false, id: nil %></td>
                                    <td colspan="2"><%= com_act.input :public_private, label: false, id: nil %></td>
                                    <td class="text-center" colspan="2"><%= com_act.link_to_remove t('shared.delete'), class: "delete" %></td>
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                            <tr><td colspan="12" id="compatibility_activities-add" >
                                <%= f.link_to_add t('shared.add'), :compatibility_activities,:class => "right small button radius success", :data => { :target => "#compatibility_activities#{job.person_type}_#{f.index}" } %>
                            </td></tr>
                        </tfoot>
                    </table>
                <legend>Autorizaciones tras el cese</legend>
                <table id="termination_authorizations<%=job.person_type%>_<%=f.index%>">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3"><%=t('job_levels.authorization_date')%></th>
                            <th scope="col" colspan="6"><%=t('job_levels.authorization_description')%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= f.simple_fields_for :termination_authorizations,  :wrapper => false do |term_auth| %>
                            <tr class="fields">
                                <td colspan="3"><%= term_auth.input :authorization_date,as: :string, label: false, id: nil, input_html: {placeholder: "dd/mm/aaaa hh:mm", type: "datetime",
                                value: (term_auth.object.authorization_date.nil? ? nil : term_auth.object.authorization_date.strftime("%Y-%m-%d %H:%M")), class: "fdatepicker"} %></td>
                                <td colspan="6"><%= term_auth.input :authorization_description, as: :string, label: false, id: nil %></td>
                                <td class="text-center" colspan="3"><%= term_auth.link_to_remove t('shared.delete'), class: "delete" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="12" id="termination_authorizations-add" >
                            <%= f.link_to_add t('shared.add'), :termination_authorizations, :class => "right small button radius success", :data => { :target => "#termination_authorizations#{job.person_type}_#{f.index}" } %>
                        </td></tr>
                    </tfoot>
                </table>
            </fieldset>
            <% end %>

            <% if job.councillor? %>
                <h2><%= t("job_level.organisms") %></h2>
                <table id="organisms_<%=job.person_type%>_<%=f.index%>">
                    <thead>
                        <tr>
                        <th scope="col"><%=t('organisms.title')%></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= f.simple_fields_for :organisms,  :wrapper => false do |org| %>
                        <tr class="fields">
                            <td><%= org.input :title, label: false, id: nil %></td>
                            <td class="text-center"><%= org.link_to_remove t('shared.delete'), class: "delete" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="5" id="organisms-add" >
                        <%= f.link_to_add t('shared.add'), :organisms, :class => "right small button radius success", :data => { :target => "#organisms_#{job.person_type}_#{f.index}" } %>
                        </td></tr>
                    </tfoot>
                </table>
            <% end %>

            <% if job.director? %>
                <%= f.fields_for :councillors_corporations  do |cc| %>
                    <h2><%= t("job_level.organisms") %></h2>
                    <table id="organisms_<%=job.person_type%>_<%=cc.index%>">
                        <thead>
                            <tr>
                            <th scope="col"><%=t('organisms.title')%></th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= cc.simple_fields_for :organisms,  :wrapper => false do |org| %>
                            <tr class="fields">
                                <td><%= org.input :title, label: false, id: nil %></td>
                                <td class="text-center"><%= org.link_to_remove t('shared.delete'), class: "delete" %></td>
                            </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                            <tr><td colspan="5" id="organisms-add" >
                            <%= cc.link_to_add t('shared.add'), :organisms,:class => "right small button radius success", :data => { :target => "#organisms_#{job.person_type}_#{cc.index}" } %>
                            </td></tr>
                        </tfoot>
                    </table>
                <% end %>
            <% end %>

            <% if !job.spokesperson? %>
                <div class="row">
                    <div class="small-12 column">
                        <%= appointment.input :other_expenses, as: :text, label: t('appointments.other_expenses') %>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 column">
                        <%= appointment.input :gifts, as: :text, label: t('appointments.gifts') %>
                    </div>
                </div>     
            <%end%>
        <% end %>
    <%end%>
</fieldset>
