<div class="row">
  <div class="small-3 column">
    <%= f.association :temporality,label: AssetsDeclaration.human_attribute_name(:temporality),
      input_html: {onchange: "change_visibility_year($(this), $('.year_period_assets_#{job}_#{f.index}'), #{Temporality.find_by(name: "Anual").try(:id)})", class: "temporality_assets_#{job}_#{f.index}"}%>
  </div>
  <div class="small-3 column">
    <%= f.input :declaration_date, as: :string,  label: AssetsDeclaration.human_attribute_name(:declaration_date), input_html: {type: :date,
      value: (f.object.declaration_date.nil? ? Time.zone.now.strftime("%Y-%m-%d") : f.object.declaration_date.strftime("%Y-%m-%d"))} %>
  </div>
  <div class="small-3 column">
    <%= f.input :year_period, label: AssetsDeclaration.human_attribute_name(:year_period),
      input_html: {class: "year_period_assets_#{job}_#{f.index}", style: (f.object.temporality.blank? || f.object.temporality.try(:id) != Temporality.find_by(name: "Anual").try(:id) ? "display:none" : "display:block")},
      label_html: {class: "year_period_assets_#{job}_#{f.index}", style: (f.object.temporality.blank? || f.object.temporality.try(:id) != Temporality.find_by(name: "Anual").try(:id) ? "display:none" : "display:block")} %>
  </div>
  <div class="small-3 column">
    <%= f.input :editable, label: ActivitiesDeclaration.human_attribute_name(:editable)%>
  </div>
  <div class="small-3 column end">
    <%= f.link_to_remove t('shared.delete'), class: "delete", onclick: "deletetabs(#{remove_id})" %>
  </div>
</div>
<script>
  change_visibility_year($('.temporality_assets_<%=job%>_<%=f.index%> option:selected'), $('.year_period_assets_<%=job%>_<%=f.index%>'), <%=Temporality.find_by(name: "Anual").try(:id)%>)
</script>

<h2><%= t("real_estate_properties.title") %></h2>
<table id='real_estate_properties_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col" class="th-big"><%= RealEstateProperty.human_attribute_name(:kind) %>*</th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:straight_type) %>*</th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:adquisition_title) %>*</th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:municipality) %>*</th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:participation_percentage) %>*</th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:purchase_date) %></th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:cadastral_value) %>*</th>
      <th scope="col" class="th-small"><%= RealEstateProperty.human_attribute_name(:observations) %></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :real_estate_properties, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :kind,  label: false, id: nil %></td>
        <td><%= fs.input :straight_type,  label: false, id: nil %></td>
        <td><%= fs.input :adquisition_title,  label: false, id: nil %></td>
        <td><%= fs.input :municipality,as: :string, label: false, id: nil %></td>
        <td><%= fs.input :participation_percentage, label: false, id: nil %></td>
        <td><%= fs.input :purchase_date,  label: false, id: nil %></td>
        <td><%= fs.input :cadastral_value, label: false, id: nil %></td>
        <td><%= fs.input :observations,as: :string, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="10">
      <%= f.link_to_add t('shared.add'), :real_estate_properties,:class => "right small button radius success", :data => { :target => "#real_estate_properties_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("account_deposits.title") %></h2>
<table id='account_deposits_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col"><%= AccountDeposit.human_attribute_name(:kind) %>*</th>
      <th scope="col"><%= AccountDeposit.human_attribute_name(:entity)%>*</th>
      <th scope="col"><%= AccountDeposit.human_attribute_name(:balance) %>*</th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :account_deposits, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :kind, label: false, id: nil %></td>
        <td><%= fs.input :entity, label: false, id: nil %></td>
        <td><%= fs.input :balance, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5">
      <%= f.link_to_add t('shared.add'), :account_deposits,:class => "right small button radius success", :data => { :target => "#account_deposits_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("other_deposits.title") %></h2>
<table id='other_deposits_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col"><%= OtherDeposit.human_attribute_name(:types) %>*</th>
      <th scope="col"><%= OtherDeposit.human_attribute_name(:purchase_date) %></th>
      <th scope="col"><%= OtherDeposit.human_attribute_name(:value) %>*</th>
      <th scope="col" class="th-big"><%=  OtherDeposit.human_attribute_name(:descriptions) %>*</th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :other_deposits, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :types, label: false, id: nil %></td>
        <td><%= fs.input :purchase_date, label: false, id: nil %></td>
        <td><%= fs.input :value, label: false, id: nil %></td>
        <td><%= fs.input :description,as: :string, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="6" >
      <%= f.link_to_add t('shared.add'), :other_deposits,:class => "right small button radius success", :data => { :target => "#other_deposits_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("vehicles.title") %></h2>
<table id='vehicles_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col"><%= Vehicle.human_attribute_name(:kind) %>*</th>
      <th scope="col"><%= Vehicle.human_attribute_name(:model) %>*</th>
      <th scope="col"><%= Vehicle.human_attribute_name(:purchase_date) %></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :vehicles,  :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :kind,as: :string, label: false, id: nil %></td>
        <td><%= fs.input :model,as: :string, label: false, id: nil %></td>
        <td><%= fs.input :purchase_date, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5">
      <%= f.link_to_add t('shared.add'), :vehicles,:class => "right small button radius success", :data => { :target => "#vehicles_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("other_personal_properties.title") %></h2>
<table id='other_personal_properties_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col"><%= OtherPersonalProperty.human_attribute_name(:types) %>*</th>
      <th scope="col"><%= OtherPersonalProperty.human_attribute_name(:purchase_date) %></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :other_personal_properties, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :types, label: false, id: nil %></td>
        <td><%= fs.input :purchase_date, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="4" >
      <%= f.link_to_add t('shared.add'), :other_personal_properties,:class => "right small button radius success", :data => { :target => "#other_personal_properties_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("debts.title") %></h2>
<table id='debts_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col"><%= Debt.human_attribute_name(:kind) %>*</th>
      <th scope="col"><%= Debt.human_attribute_name(:import) %>*</th>
      <th scope="col"><%= Debt.human_attribute_name(:observations) %></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :debts, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :kind, label: false, id: nil %></td>
        <td><%= fs.input :import, label: false, id: nil %></td>
        <td><%= fs.input :observations,as: :string, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5">
      <%= f.link_to_add t('shared.add'), :debts,:class => "right small button radius success", :data => { :target => "#debts_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("tax_data.title") %></h2>
<table id='tax_data_<%=job%>_<%=f.index%>'>
  <thead>
    <tr>
      <th scope="col" ><%= TaxDatum.human_attribute_name(:tax)%></th>
      <th scope="col" ><%= TaxDatum.human_attribute_name(:fiscal_data)%></th>
      <th scope="col" ><%= TaxDatum.human_attribute_name(:observation)%></th>
      <th scope="col" ><%= TaxDatum.human_attribute_name(:import)%></th>
      <th scope="col" class="th-small"><%= t('table_orders') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :tax_data, :wrapper => false do |fs| %>
      <tr class="fields">
        <td><%= fs.input :tax, label: false, id: nil %></td>
        <td><%= fs.input :fiscal_data, label: false, id: nil %></td>
        <td><%= fs.input :observation,as: :string, label: false, id: nil %></td>
        <td><%= fs.input :import,as: :string, label: false, id: nil %></td>
        <td><%= fs.number_field :table_order, min: 0, label: false, id: nil %></td>
        <td class="text-center"><%= fs.link_to_remove t('shared.delete'), class: "delete" %></td>
      </tr>
    <%end%>
  </tbody>
  <tfoot>
    <tr><td colspan="6">
      <%= f.link_to_add t('shared.add'), :tax_data,:class => "right small button radius success", :data => { :target => "#tax_data_#{job}_#{f.index}" } %>
    </td></tr>
  </tfoot>
</table>
