<%= f.link_to_add t('assets_declarations.new'), :assets_declarations, :class => "small button radius success",
  data: {target: "#assets_declarations_#{job}", identificador: "#{job}"} %>

<ul class='tabs' role='tablist' id="assets_declarations_headers_<%=job%>"></ul>

<div class="tabs-content" >
  <div id="assets_declarations_<%=job%>">
    <%= f.simple_fields_for :assets_declarations,:wrapper => false  do |asset| %>
      <div class="fields">
        <div name="<%=assets_declarations_tab_name(asset.object)%>" id="asset_declaration_<%=job%>_<%= asset.index %>" class="small-12 column content asset_declaration_<%=job%>"  >
          <%= render 'asset_declaration_form', f: asset, job: job, remove_id: "asset_declaration_#{job}_#{ asset.index }" %>
        </div>
        <script>addtabs($('.asset_declaration_<%=job%>'),$("#assets_declarations_headers_<%=job%>"))</script>
      </div>
    <% end %>
  </div>
</div>