<div class="row">
    <div class="right small-12 column">
        <%= f.link_to_remove t('shared.delete'), class: "delete", onclick: "deletetabs(#{remove_id})" %>
    </div>
</div>
<div class="row">
    <div class="small-3 column">
        <%= f.association :corporation,  label: t('job_levels.corporation') %>
    </div>
    <div class="small-3 column">
        <%= f.input :order_num, label: t('job_levels.orden_num') %>
    </div>
    <div class="small-3 column end">
        <%= f.association :electoral_list, label: t('job_levels.electoral_list'),
        :collection => f.object.corporation.try(:corporations_electoral_lists) || CorporationsElectoralList.all || [],
        :label_method => :electoral_list_name, :value_method => :electoral_list_id
        %>
    </div>
</div>
<%= render 'appointment_form', f: f, job: job.object %>
<%= render partial:'job_level_main_form', locals: {f: f, job: reference}  %>
