<fieldset>
    <legend><%=t('filter_people.title')%></legend>
        <%= form_tag(admin_people_path, method: :get) do %>
        <div class="row">
            <div class="small-2 column">
                <%= label_tag :name, t('filter_people.name')%>
                <%= text_field_tag :name,(session[:search_params].blank? ? nil : session[:search_params]["name"])||params[:name]||"", placeholder: t('filter_people.name')%>
            </div>
            <div class="small-3 column">
                <%= label_tag :last_name, t('filter_people.last_name')%> 
                <%= text_field_tag :last_name,(session[:search_params].blank? ? nil : session[:search_params]["last_name"])||params[:last_name] || "", placeholder: t('filter_people.last_name')%>
            </div>
            <div class="small-4 column">
                <%= label_tag :full_name, t('filter_people.full_name')%>
                <%= text_field_tag :full_name,(session[:search_params].blank? ? nil : session[:search_params]["full_name"])||params[:full_name] || "", placeholder: t('filter_people.full_name')%>
            </div>
            <div class="small-3 column">
                <%= label_tag :area, t('filter_people.area')%>
                <%= text_field_tag :area,(session[:search_params].blank? ? nil : session[:search_params]["area"]||params[:area]) || "", placeholder: t('filter_people.area')%>
            </div>
        </div>
        <div class="row">
            <div class="small-3 column">
                <%= label_tag :corporation, t('filter_people.corporation')%>
                <%= select_tag :corporation, options_for_select(@corporations,(session[:search_params].blank? ? nil : session[:search_params]["corporation"])||params[:corporation] || ""),:prompt => t('filter_people.corporation')%>
            </div>
            <div class="small-2 column">
                <%= label_tag :status, t('filter_people.status')%>
                <%= select_tag :status, options_for_select(@status_type,(session[:search_params].blank? ? nil : session[:search_params]["status"])||params[:status] || ""),:prompt => t('filter_people.status')%>
            </div>
            <div class="small-3 column ">
                <%= label_tag :update_date, t('filter_people.update_date'), style: "margin: 30px 0 0 0"%>
            </div>
            <div class="small-2 column">
                <%= label_tag :start_date, t('filter_people.start_date')%>
                <%= date_field_tag :start_date,(session[:search_params].blank? ? nil : session[:search_params]["start_date"])||params[:start_date] || "", placeholder: t('filter_people.start_date'), onchange: "validate_dates($(this),$('#end_date'),0)"%>
            </div>
            <div class="small-2 column">
                <%= label_tag :end_date, t('filter_people.end_date')%>
                <%= date_field_tag :end_date,(session[:search_params].blank? ? nil : session[:search_params]["end_date"])||params[:end_date] || "", placeholder: t('filter_people.end_date'), onchange: "validate_dates($('#start_date'),$(this),1)"%>
            </div>
        </div>
        <div class="row">
            <div class="small-3 column">
                <%= label_tag :person_type, t('filter_people.person_type')%>
                <%= select_tag :person_type, options_for_select(@people_type,(session[:search_params].blank? ? nil : session[:search_params]["person_type"])||params[:person_type] || ""),:prompt => t('filter_people.person_type')%>
            </div>
             <div class="small-3 column end">
                <%= label_tag :personal_code, t('filter_people.personal_code')%>
                <%= number_field_tag :personal_code,(session[:search_params].blank? ? nil : session[:search_params]["personal_code"])||params[:personal_code]||"", placeholder: t('filter_people.personal_code')%>
            </div>
        </div>
        <div class="row">
            <div class="small-2 column ">
                <%= label_tag :update_date, t('filter_people.incorporate_date'), style: "margin: 30px 0 0 0"%>
            </div>
            <div class="small-2 column ">
                <%= label_tag :start_incorporate_date, t('filter_people.start_date')%>
                <%= date_field_tag :start_incorporate_date,(session[:search_params].blank? ? nil : session[:search_params]["start_incorporate_date"])||params[:start_incorporate_date] || "", placeholder: t('filter_people.start_incorporate_date'), onchange: "validate_dates($(this),$('#end_incorporate_date'),0)"%>
            </div>
            <div class="small-2 column">
                <%= label_tag :end_incorporate_date, t('filter_people.end_date')%>
                <%= date_field_tag :end_incorporate_date, (session[:search_params].blank? ? nil : session[:search_params]["end_incorporate_date"])||params[:end_incorporate_date] || "", placeholder: t('filter_people.end_incorporate_date'), onchange: "validate_dates($('#start_incorporate_date'),$(this),1)"%>
            </div>
            <div class="small-2 column ">
                <%= label_tag :update_date, t('filter_people.cessation_date'), style: "margin: 30px 0 0 0"%>
            </div>
            <div class="small-2 column ">
                <%= label_tag :start_cessation_date, t('filter_people.start_date')%>
                <%= date_field_tag :start_cessation_date,(session[:search_params].blank? ? nil : session[:search_params]["start_cessation_date"])||params[:start_cessation_date] || "", placeholder: t('filter_people.start_cessation_date'), onchange: "validate_dates($(this),$('#end_cessation_date'),0)"%>
            </div>
            <div class="small-2 column">
                <%= label_tag :end_cessation_date, t('filter_people.end_date')%>
                <%= date_field_tag :end_cessation_date,(session[:search_params].blank? ? nil : session[:search_params]["end_cessation_date"])||params[:end_cessation_date] || "", placeholder: t('filter_people.end_cessation_date'), onchange: "validate_dates($('#start_cessation_date'),$(this),1)"%>
            </div>
        </div>
        <div class="row">
            <div class="column text-right">
                <%= submit_tag t('filter_people.search_button'), class: 'button small radius primary'%>
                <%= button_tag t('filter_people.clean_button'), class: 'button small radius secondary', onclick: "clean_search()"%>
            </div>
        </div>
    <%end%>
</fieldset>

<p>
    <div class="row">
        <div class="column">
            <%= link_to t('people.new.title'), new_admin_person_path, class: 'button small radius ' %>
            <%= link_to t('filter_people.csv_button'), current_url(:format=>:csv, export_all: :false), class: 'button small radius success' %>
            <%= link_to t('filter_people.xls_button'), current_url(:format=>:xls, export_all: :false), class: 'button small radius success' %>
            <%= link_to t('filter_people.all_csv_button'), current_url(:format=>:csv, export_all: :true), class: 'button small radius success' %>
            <%= link_to t('filter_people.all_xls_button'), current_url(:format=>:xls, export_all: :true), class: 'button small radius success' %>
        </div>
    </div>
</p>