<fieldset>
    <legend><%=t('people.data_person')%></legend>
    <div class="row">
      <div class="small-3 column">
        <%= f.input :name, label: t('people.name') %>
      </div>
      <div class="small-3 column">
        <%= f.input :last_name, label: t('people.last_name') %>
      </div>
      <div class="small-3 column">
        <%= f.input :personal_code, label: t('people.personal_code') %>
      </div>
      <div class="small-3 column">
        <%= f.input :sex, as: :select, :collection => get_sex_type_collect || [], label: t('people.sex') %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 column">
        <%= f.association :document_type, label: t('people.document_type') %>
      </div>
      <div class="small-3 column">
        <%= f.input :document_nif, label: t('people.document_nif') %>
      </div>
      <div class="small-6 column"></div>
    </div>
</fieldset>
<%= render 'main_form', f: f %>

<%= f.submit(class: "button radius", value: t("shared.submit")) %>
