<%= form_tag(admin_person_hide_path(job_level), method: :put) do |f| %>
  <%= hidden_field_tag :corporation, corporation.try(:name) %>
  <%= hidden_field_tag :public_data, true %>
  <div class="row">
   <div class="small-3 large-3 columns">
      <%= label_tag(:hidden_at, t('admin.people.actions.hidden_at')) %>
      <%= date_field_tag :hidden_at %>
    </div>
    <div class="small-12 large-9 columns">
      <%= label_tag(:hidden_reason, t('admin.people.actions.hidden_reason')) %>
      <%= text_field_tag :hidden_reason %>
    </div>
  </div>
  <%= submit_tag t('shared.submit'), class: "small radius success button"%>
<% end %>
