<% unless (job.to_s=="spokesperson" || job.to_s=="public_worker" || job.to_s=="temporary_worker")%>
    <ul class="tabs" role="tablist" id="tabs_index_activities_<%=job%>" >
        <li id="tab_header_activities_<%=job%>" class="tab-title active <%="data_exist" if f.object.activities_declarations.count >= 1 %>">
            <a href="#tabs_index_activities_<%=job%>" onclick="show_tab_single($('#activities_<%=job%>'),$('#tab_header_activities_<%=job%>'), 
                [$('#assets_<%=job%>'),$('#activities_<%=job%>')],[$('#tab_header_assets_<%=job%>'), $('#tab_header_activities_<%=job%>')])">
                <%= t('people.activities_declarations') %>
            </a>
        </li>
        <li id="tab_header_assets_<%=job%>" class="tab-title <%="data_exist" if f.object.activities_declarations.count >= 1%>">
            <a href="#tabs_index_activities_<%=job%>" onclick="show_tab_single($('#assets_<%=job%>'),$('#tab_header_assets_<%=job%>'), 
                [$('#assets_<%=job%>'),$('#activities_<%=job%>')],[$('#tab_header_assets_<%=job%>'), $('#tab_header_activities_<%=job%>')])">
                <%= t('people.assets_declarations') %>
            </a>
        </li>
    </ul>

    <div class="tabs-content">
        <div id="activities_<%=job%>" class="small-12 column content active " aria-hidden="false" >
            <%= render 'activities_declaration_form', f: f, job: job %>
        </div>

        <div id="assets_<%=job%>" class="small-12 column content" aria-hidden="true" >
            <%= render 'assets_declaration_form', f: f, job: job %>
        </div>
    </div>
<%end%>