<fieldset>
    <legend><%=t('job_levels.data')%></legend>
    <div class="row">
        <div class="small-3 column">
            <%= job.input :slug, label: t('job_levels.slug') %>
        </div>
        <div class="small-3 column end">
            <%= job.input :updated_at,as: :string, label: t('job_levels.updated_at'), input_html: {placeholder: "dd/mm/aaaa hh:mm", type: "datetime",
                value: (job.object.updated_at.nil? ? Time.zone.now.strftime("%Y-%m-%d %H:%M") : job.object.updated_at.strftime("%Y-%m-%d %H:%M")), class: "fdatepicker"} %>
        </div>
    </div>
    
    
<% if !job.object.councillor? %>
    </fieldset>
<%end%>
<% if job.object.councillor? %>
    <fieldset>
        <legend><%=t('job_levels.councillor_corporation_data') %></legend>
        <%= job.link_to_add t('shared.add'), :councillors_corporations, :class => "small button radius success",
            data: {target: "#councillors_corporations_#{job.object.person_type}"} %>
        <ul class='tabs' role='tablist' id="councillors_corporations_headers_<%=job.object.person_type %>"></ul>
        <div class="tabs-content" >
            <div id="councillors_corporations_<%=job.object.person_type%>">
                <%= job.fields_for :councillors_corporations  do |cc| %>
                    <div class="fields">
                        <div name="<%=t("corporation_name.name", name: cc.object.try(:corporation).try(:name))%>" id="councillors_corporation_<%=job.object.person_type%>_<%= cc.index %>" class="small-12 column content councillors_corporation_<%=job.object.person_type%>"  >
                            <%= render partial: 'corporation_form', locals: {f: cc, job: job, reference: "#{job.object.person_type}_id_#{cc.index}", remove_id: "councillors_corporation_#{job.object.person_type}_#{ cc.index }"} %>
                        </div>
                        <script>addtabs($('.councillors_corporation_<%=job.object.person_type%>'),$("#councillors_corporations_headers_<%=job.object.person_type%>"))</script>
                    </div>
                <% end %>
            </div>
        </div>
    </fieldset>
<%else%>
    <%= render 'appointment_form', f: job, job: job.object %>
    <%= render 'job_level_main_form', f: job, job: job.object.person_type  %>
<%end%>

