<ul class="tabs" data-tab>
  <li id="data_form_profiles" class="tab-title <%="data_exist" if f.object.job_levels.count >= 1%> active">
    <a href="#main_form_profiles"><%= t('people.profile_data') %></a>
  </li>
  
  <li id="data_form_job_levels" class="tab-title <%="data_exist" if f.object.job_levels.count >= 1%>">
    <a href="#main_form_job_levels"><%= t('people.job_levels_data') %></a>
  </li>
</ul>

<div class="tabs-content">
  <div id="main_form_profiles" class="small-12 column content active" aria-hidden="false" >
    <%= render 'profile_form', f: f %>
  </div>
  <div id="main_form_job_levels" class="small-12 column content" aria-hidden="true" >
    <%= render 'main_job', f: f %>
  </div>
</div>