<fieldset>
  <legend><%=t('people.job_level_data')%></legend>
  <ul class="tabs" data-tab>
    <li id="data_councillor" class="tab-title <%="data_exist" if f.object.councillors.count >= 1%> active">
      <a href="#councillor"><%= t('people.councillor_data') %></a>
    </li>
    <li id="data_director" class="tab-title <%="data_exist" if f.object.directors.count >= 1%>">
      <a href="#director"><%= t('people.director_data') %></a>
    </li>
    <li id="data_temporary_worker" class="tab-title <%="data_exist" if f.object.temporary_workers.count >= 1%>">
      <a href="#temporary_worker"><%= t('people.temporary_worker_data') %></a>
    </li>
    <li id="data_public_worker" class="tab-title <%="data_exist" if f.object.public_workers.count >= 1%>">
      <a href="#public_worker"><%= t('people.public_worker_data') %></a>
    </li>
    <li id="data_spokespeople" class="tab-title <%="data_exist" if f.object.spokespeople.count >= 1%>">
      <a href="#spokespeople"><%= t('people.spokespeople_data') %></a>
    </li>
  </ul>

  <div class="tabs-content">
    <div id="councillor" class="small-12 column content active" aria-hidden="false">
      <%= f.link_to_add t('shared.add'), :councillors,:class => "small button radius success", 
          data: {target: "#councillors"}, id: "added_councillors", style: element_display?(f.object.councillors),
          onclick: "show_button_add($('#added_councillors'), 0) " %>
      <div id="councillors">
        <%= f.fields_for :councillors do |job_councillor| %>
          <div class="fields">
            <div class="row">
              <div class="right small-12 column">
                  <%= job_councillor.link_to_remove t('shared.delete'), class: "delete" ,
                  onclick: "show_button_add($('#added_councillors'), 1); $('#data_councillor').removeClass('data_exist'); $('#data_job_levels').removeClass('data_exist'); delete_data_job_levels(); "%>
              </div>
            </div>
            <%= job_councillor.input :person_type,as: :hidden, label: false, input_html: {value: "councillor" }%>
            <% job_councillor.object.person_type= "councillor" %>
            <%= render "job_level_form", job: job_councillor %>
          </div>
        <%end%>
      </div>
    </div>

    <div id="director" class="small-12 column content" aria-hidden="true" >
      <%= f.link_to_add t('shared.add'), :directors,:class => "small button radius success", 
          data: {target: "#directors"}, id: "added_directors", style: element_display?(f.object.directors),
          onclick: "show_button_add($('#added_directors'), 0)" %>
      <div id="directors">
        <%= f.fields_for :directors do |job_director| %>
          <div class="fields">
            <div class="row">
              <div class="right small-12 column">
                  <%= job_director.link_to_remove t('shared.delete'), class: "delete" ,
                  onclick: "show_button_add($('#added_directors'), 1); $('#data_director').removeClass('data_exist'); delete_data_job_levels();"%>
              </div>
            </div>
            <%= job_director.input :person_type, as: :hidden, label: false, input_html: {value: "director" }%>
            <% job_director.object.person_type= "director" %>
            <%= render "job_level_form", job: job_director %>
          </div>
        <%end%>
      </div>
    </div>

    <div id="temporary_worker" class="small-12 column content" aria-hidden="true" >
      <%= f.link_to_add t('shared.add'), :temporary_workers,:class => "small button radius success", 
          data: {target: "#temporary_workers"}, id: "added_temporary_workers", style: element_display?(f.object.temporary_workers),
          onclick: "show_button_add($('#added_temporary_workers'), 0) " %>
      <div id="temporary_workers">
        <%= f.fields_for :temporary_workers do |job_temporary_worker| %>
          <div class="fields">
            <div class="row">
              <div class="right small-12 column">
                  <%= job_temporary_worker.link_to_remove t('shared.delete'), class: "delete" ,
                  onclick: "show_button_add($('#added_temporary_workers'), 1); $('#data_temporary_worker').removeClass('data_exist'); delete_data_job_levels();"%>
              </div>
            </div>
            <%= job_temporary_worker.input :person_type, as: :hidden, label: false, input_html: {value: "temporary_worker" }%>
            <% job_temporary_worker.object.person_type= "temporary_worker" %>
            <%= render "job_level_form", job: job_temporary_worker %>
          </div>
        <%end%>
      </div>
    </div>

    <div id="public_worker" class="small-12 column content" aria-hidden="true" >
      <%= f.link_to_add t('shared.add'), :public_workers,:class => "small button radius success", 
          data: {target: "#public_workers"}, id: "added_public_workers", style: element_display?(f.object.public_workers),
          onclick: "show_button_add($('#added_public_workers'), 0) " %>
      <div id="public_workers">
        <%= f.fields_for :public_workers do |job_public_worker| %>
          <div class="fields">
            <div class="row">
              <div class="right small-12 column">
                  <%= job_public_worker.link_to_remove t('shared.delete'), class: "delete" ,
                  onclick: "show_button_add($('#added_public_workers'), 1); $('#data_public_worker').removeClass('data_exist'); delete_data_job_levels();"%>
              </div>
            </div>
            <%= job_public_worker.input :person_type, as: :hidden, label: false, input_html: {value: "public_worker" }%>
            <% job_public_worker.object.person_type= "public_worker" %>
            <%= render "job_level_form", job: job_public_worker %>
          </div>
        <%end%>
      </div>
    </div>

    <div id="spokespeople" class="small-12 column content" aria-hidden="true" >
      <%= f.link_to_add t('shared.add'), :spokespeople,:class => "small button radius success", 
          data: {target: "#spokespeople"}, id: "added_spokespeople", style: element_display?(f.object.spokespeople),
          onclick: "show_button_add($('#added_spokespeople'), 0) " %>
      <div id="spokespeople">
        <%= f.fields_for :spokespeople do |job_spokespeople| %>
          <div class="fields">
            <div class="row">
              <div class="right small-12 column">
                  <%= job_spokespeople.link_to_remove t('shared.delete'), class: "delete" ,
                  onclick: "show_button_add($('#added_spokespeople'), 1); $('#data_spokespeople').removeClass('data_exist'); delete_data_job_levels();"%>
              </div>
            </div>
            <%= job_spokespeople.input :person_type, as: :hidden, label: false, input_html: {value: "spokesperson" }%>
            <% job_spokespeople.object.person_type= "spokesperson" %>
            <%= render "job_level_form", job: job_spokespeople %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</fieldset>