<td><%= job_level['updated_at'] %></td>
<td><%=  job_level['person_type'].blank? ? upper_case(job_level['full_name']) : (link_to upper_case(job_level['full_name']), person_path(job_level['slug'],corporation: job_level['corporation'])) %></td>
<td><%= job_level['profile_at']%></td>
<td><%= t("admin.dashboard.#{job_level['person_type']}") if !job_level['person_type'].blank?%></td>
<td><%= JobLevel.get_active(job_level)%></td>
<td><%= job_level['position']%></td>
<td><%= job_level['start_date']%></td>
<td><%= job_level['end_date']%></td>
<td><%= job_level['unit']%></td>
<td><%= job_level['corporation'] %></td>

<td>
    <%= link_to audits_admin_person_path(job_level['slug'],is_person: job_level['person_type'].blank?), alt: t('admin.actions.audits'),title:t('admin.actions.audits') do %>
      <i class="fa fa-file-alt fa-lg"></i>
    <%end%>
    <%= link_to edit_admin_person_path(job_level['slug'],is_person: job_level['person_type'].blank?), alt: t('admin.actions.edit'),title:t('admin.actions.edit') do %>
      <i class="fa fa-pen fa-lg"></i>
    <%end%>
    <%if !job_level['person_type'].blank?%>
      <%if job_level['end_date'].blank?%>
          <%= link_to show_hide_admin_person_path(job_level['slug'], corporation: job_level['corporation']),alt: t('admin.actions.hide'),title:t('admin.actions.hide') do %>
              <i class="fa fa-eye-slash fa-lg"></i>
          <%end%>
      <%elsif !job_level['end_date'].blank?%>
          <%= link_to show_unhide_admin_person_path(job_level['slug'], corporation: job_level['corporation']), alt: t('admin.actions.show'),title:t('admin.actions.show') do %>
              <i class="fa fa-eye fa-lg"></i>
          <%end%>
      <%end%>
    <%end%>
    <%= link_to admin_person_path(job_level['slug'],is_person: job_level['person_type'].blank?), class: "delete", method: :delete, data: {confirm: t("people.show.confirm_deletion")}, alt: t('admin.actions.delete'),title:t('admin.actions.delete') do %>
        <i class="fa fa-trash-alt fa-lg"></i>
    <%end%>
</td>
