<fieldset>
<legend><%=t('people.profile_data')%></legend>
<%= f.fields_for :profile, (Profile.new if f.object.profile.blank?) do |profile| %>
    <div class="row">
        <div class="small-3 column">
            <%= profile.input :portrait, label: t('profiles.portrait'), input_html: { onchange: "change_image($(this),$('#image_preview'))"} %>
            <div id="image_preview" style="height: 100px;width: 100px; margin-bottom: 60px">
                <%unless profile.object.portrait.blank?%>
                    <%= link_to portrait_delete_admin_person_path(profile.object, job_id: params[:id], public_data: params[:public_data], corporation: params[:corporation]), class: "delete person_portrait", 
                    style: "float: left; display: block; position: absolute; background: white;",
                    data: {confirm: t("people.edit.confirm_deletion_portrait").html_safe}, 
                    alt: t('admin.actions.delete'),title:t('admin.actions.delete') do %>
                    <i class="fa fa-trash-alt fa-lg"></i>
                    <%end%>
                <%end%>
                <%= profile_picture(profile.object, :thumb) %>
            </div>
        </div>
        <div class="small-9 column">
            <div class="row">
                <div class="small-4 column">
                    <%= profile.input :email, label: t('profiles.email') %>
                </div>
                <div class="small-4 column">
                    <%= profile.input :twitter, label: t('profiles.twitter') %>
                </div>
                <div class="small-4 column">
                    <%= profile.input :facebook, label: t('profiles.facebook') %>
                </div>
            </div>
            <div class="row">
                <div class="small-4 column">
                    <%= profile.input :calendar_url, label: t('profiles.calendar_url') %>
                </div>
                <div class="small-4 column">
                    <%= profile.input :updated_at,as: :string, label: t('profiles.updated_at'), input_html: {placeholder: "dd/mm/aaaa hh:mm", type: "datetime", 
                        value: (profile.object.updated_at.nil? ? Time.zone.now.strftime("%Y-%m-%d %H:%M") : profile.object.updated_at.strftime("%Y-%m-%d %H:%M")), class: "fdatepicker"} %>
                </div>
                <div class="small-3 column"></div>
            </div>
        </div>
    </div>
    <fieldset>
        <legend><%=t('profiles.studies_data')%></legend>
        <table id="studies">
            <thead>
                <tr>
                    <th scope="col"><%= Study.human_attribute_name(:education_level) %>*</th>
                    <th scope="col"><%= Study.human_attribute_name(:official_degree) %></th>
                    <th scope="col"><%= Study.human_attribute_name(:center) %>*</th>
                    <th scope="col"><%= Study.human_attribute_name(:start_year) %>*</th>
                    <th scope="col"><%= Study.human_attribute_name(:end_year) %>*</th>
                    <th scope="col"><%= t('table_orders') %></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <%= profile.fields_for :studies, :wrapper => false do |study| %>
                <tr class="fields">
                    <td><%= study.input :education_level, label: false, id: nil %></td>
                    <td><%= study.input :official_degree, label: false, id: nil %></td>
                    <td><%= study.input :center, label: false, id: nil %></td>
                    <td><%= study.input :start_year, label: false, id: nil %></td>
                    <td><%= study.input :end_year, label: false, id: nil %></td>
                    <td><%= study.number_field :table_order, min: 0, label: false, id: nil %></td>
                    <td class="text-center"><%= study.link_to_remove t('shared.delete'), class: "delete" %></td>  
                </tr>
            <% end %>
            </tbody>
            <tfoot>
                <tr><td colspan="6">
                    <%= profile.link_to_add t('shared.add'), :studies,:class => "right small button radius success", :data => { :target => "#studies" } %>
                </td></tr>
                <tr><td colspan="6">
                    <%= profile.simple_fields_for :studies_comments, (Information.new(information_type: InformationType.find_by(name: "studies_comments")) if profile.object.studies_comments.blank?), :wrapper => false do |info| %>
                        <% info.object.information_type = InformationType.find_by(name: "studies_comments")%>
                        <%= info.input :information, as: :text, label: t('people.studies.comment'), id: nil, rows: 3 %>
                    <%end%>
                </td></tr>
            </tfoot>
        </table>
    </fieldset>
    <fieldset>
        <legend><%=t('profiles.courses_data')%></legend>
        <table id="courses">
            <thead>
                <tr>
                    <th scope="col"><%= Course.human_attribute_name(:title) %>*</th>
                    <th scope="col"><%= Course.human_attribute_name(:center) %>*</th>
                    <th scope="col"><%= Course.human_attribute_name(:start_year) %>*</th>
                    <th scope="col"><%= Course.human_attribute_name(:end_year) %>*</th>
                    <th scope="col"><%= t('table_orders') %></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <%= profile.simple_fields_for :courses, :wrapper => false do |course| %>
                    <tr class="fields">
                        <td><%= course.input :title, label: false, id: nil %></td>
                        <td><%= course.input :center, label: false, id: nil %></td>
                        <td><%= course.input :start_year, label: false, id: nil %></td>
                        <td><%= course.input :end_year, label: false, id: nil %></td>
                        <td><%= course.number_field :table_order, min: 0, label: false, id: nil %></td>
                        <td class="text-center"><%= course.link_to_remove t('shared.delete'), class: "delete" %></td>  
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr><td colspan="5">
                    <%= profile.link_to_add t('shared.add'), :courses,:class => "right small button radius success", :data => { :target => "#courses" } %>
                </td></tr>
                <tr><td colspan="5">
                    <%= profile.simple_fields_for :courses_comments, (Information.new(information_type: InformationType.find_by(name: "courses_comments")) if profile.object.courses_comments.blank?), :wrapper => false do |info| %>
                        <% info.object.information_type = InformationType.find_by(name: "courses_comments")%>
                        <%= info.input :information, as: :text, label: t('people.courses.comment'), id: nil, rows: 3 %>
                    <%end%>
                </td></tr>
            </tfoot>
        </table>
    </fieldset>
    <fieldset>
        <legend><%=t('profiles.languages_data')%></legend>
        <table id="languages">
        <thead>
        <tr>
            <th scope="col"><%= Language.human_attribute_name(:language_name) %>*</th>
            <th scope="col"><%= Language.human_attribute_name(:language_level) %>*</th>
            <th scope="col"><%= t('table_orders') %></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <%= profile.simple_fields_for :languages, :wrapper => false do |language| %>
            <tr class="fields">
                <td><%= language.input :name, label: false, id: nil %></td>
                <td><%= language.input :level, label: false, id: nil %></td>
                <td><%= language.number_field :table_order, min: 0, label: false, id: nil %></td>
                <td class="text-center"><%= language.link_to_remove t('shared.delete'), class: "delete" %></td>  
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr><td colspan="3">
            <%= profile.link_to_add t('shared.add'), :languages,:class => "right small button radius success", :data => { :target => "#languages" } %>
        </td></tr>
        </tfoot>
    </table>
    </fieldset>
    <fieldset>
        <legend><%=t('profiles.career_data')%></legend>
        <table id="public_jobs">
            <caption><%= t("profiles.public_jobs_data") %></caption>
            <thead>
                <tr>
                    <th scope="col"><%= PublicJob.human_attribute_name(:body_scale) %>*</th>
                    <th scope="col"><%= PublicJob.human_attribute_name(:init_year) %>*</th>
                    <th scope="col"><%= PublicJob.human_attribute_name(:consolidation_degree) %>*</th>
                    <th scope="col"><%= PublicJob.human_attribute_name(:position) %>*</th>
                    <th scope="col"><%= PublicJob.human_attribute_name(:public_administration) %>*</th>
                    <th scope="col"><%= PublicJob.human_attribute_name(:start_year) %>*</th>
                    <th scope="col"><%= PublicJob.human_attribute_name(:end_year) %></th>
                    <th scope="col"><%= t('table_orders') %></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <%= profile.simple_fields_for :public_jobs, :wrapper => false do |public_job| %>
                    <tr class="fields">
                        <td><%= public_job.input :body_scale, label: false, id: nil %></td>
                        <td><%= public_job.input :init_year, label: false, id: nil %></td>
                        <td><%= public_job.input :consolidation_degree, label: false, id: nil %></td>
                        <td><%= public_job.input :position, label: false, id: nil %></td>
                        <td><%= public_job.input :public_administration, label: false, id: nil %></td>
                        <td><%= public_job.input :start_year, label: false, id: nil %></td>
                        <td><%= public_job.input :end_year, label: false, id: nil %></td>
                        <td><%= public_job.number_field :table_order, min: 0, label: false, id: nil %></td>
                        <td class="text-center"><%= public_job.link_to_remove t('shared.delete'), class: "delete" %></td>  
                    </tr>
                <% end %>
            </tbody>

            <tfoot>
                <tr><td colspan="8">
                    <%= profile.link_to_add t('shared.add'), :public_jobs,:class => "right small button radius success", :data => { :target => "#public_jobs" } %>
                </td></tr>
            </tfoot>
        </table>

        <table id="private_jobs">
            <caption><%= t("profiles.private_jobs_data") %></caption>
            <thead>
                <tr>
                    <th scope="col"><%= PrivateJob.human_attribute_name(:position) %>*</th>
                    <th scope="col"><%= PrivateJob.human_attribute_name(:entity) %>*</th>
                    <th scope="col"><%= PrivateJob.human_attribute_name(:start_year) %>*</th>
                    <th scope="col"><%= PrivateJob.human_attribute_name(:end_year) %></th>
                    <th scope="col"><%= t('table_orders') %></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <%= profile.simple_fields_for :private_jobs, :wrapper => false do |private_job| %>
                    <tr class="fields">
                        <td><%= private_job.input :position, label: false, id: nil %></td>
                        <td><%= private_job.input :entity, label: false, id: nil %></td>
                        <td><%= private_job.input :start_year, label: false, id: nil %></td>
                        <td><%= private_job.input :end_year, label: false, id: nil %></td>
                        <td><%= private_job.number_field :table_order, min: 0, label: false, id: nil %></td>
                        <td class="text-center"><%= private_job.link_to_remove t('shared.delete'), class: "delete" %></td>  
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr><td colspan="5">
                    <%= profile.link_to_add t('shared.add'), :private_jobs,:class => "right small button radius success", :data => { :target => "#private_jobs" } %>
                </td></tr>
            </tfoot>
        </table>

        <%= profile.simple_fields_for :career_comments, (Information.new(information_type: InformationType.find_by(name: "career_comments")) if profile.object.career_comments.blank?), :wrapper => false do |info| %>
            <% info.object.information_type = InformationType.find_by(name: "career_comments")%>
            <%= info.input :information, as: :text, label: t('people.career_comment'), rows: 3, id: nil %>
        <%end%>
    </fieldset>
    <fieldset>
        <legend><%=t('profiles.political_post_data')%></legend>
        <table id="political_posts">
            <thead>
            <tr>
                <th scope="col"><%= PoliticalPost.human_attribute_name(:position) %>*</th>
                <th scope="col"><%= PoliticalPost.human_attribute_name(:entity) %>*</th>
                <th scope="col"><%= PoliticalPost.human_attribute_name(:start_year) %>*</th>
                <th scope="col"><%= PoliticalPost.human_attribute_name(:end_year) %></th>
                <th scope="col"><%= t('table_orders') %></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody >
            <%= profile.simple_fields_for :political_posts, :wrapper => false do |political_post| %>
                <tr class="fields">
                    <td><%= political_post.input :position, label: false, id: nil %></td>
                    <td><%= political_post.input :entity, label: false, id: nil %></td>
                    <td><%= political_post.input :start_year, label: false, id: nil %></td>
                    <td><%= political_post.input :end_year, label: false, id: nil %></td>
                    <td><%= political_post.number_field :table_order, min: 0, label: false, id: nil %></td>
                    <td class="text-center"><%= political_post.link_to_remove t('shared.delete'), class: "delete" %></td>  
                </tr>
            <% end %>
            </tbody>

            <tfoot>
                <tr><td colspan="5">
                    <%= profile.link_to_add t('shared.add'), :political_posts,:class => "right small button radius success", :data => { :target => "#political_posts" } %>
                </td></tr>
                <tr><td colspan="5">
                    <%= profile.simple_fields_for :political_posts_comments, (Information.new(information_type: InformationType.find_by(name: "political_posts_comments")) if  profile.object.political_posts_comments.blank?), :wrapper => false do |info| %>
                        <% info.object.information_type = InformationType.find_by(name: "political_posts_comments")%>
                        <%= info.input :information, as: :text, label: t('people.political_posts.comment'), id: nil, rows: 3 %>
                    <%end%>
                </td></tr>
            </tfoot>
        </table>
    </fieldset>

    <fieldset>
        <legend><%=t('profiles.publications_data')%></legend>
        <table id="publications">
            <thead>
            <tr>
                <th scope="col"><%= t('profiles.publications.date')%></th>
                <th scope="col"><%= t('profiles.publications.information') %></th>
                <th scope="col"><%= t('table_orders') %></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody >
            <%= profile.simple_fields_for :publications, :wrapper => false do |info| %>
                <tr class="fields">
                    <% info.object.information_type = InformationType.find_by(name: "publications")%>
                    <td><%= info.input :information_at,as: :string, label: false, id: nil, input_html: {type: :date,
                        value: (info.object.information_at.nil? ? Time.zone.now.strftime("%Y-%m-%d") : info.object.information_at.strftime("%Y-%m-%d"))} %></td>
                    <td><%= info.input :information, as: :string, label: false, id: nil %></td>
                    <td><%= info.number_field :table_order, min: 0, label: false, id: nil %></td>
                    <td class="text-center"><%= info.link_to_remove t('shared.delete'), class: "delete" %></td>  
                </tr>
            <% end %>
            </tbody>
            <tfoot>
                <tr><td colspan="5">
                    <%= profile.link_to_add t('shared.add'), :publications, :class => "right small button radius success", :data => { :target => "#publications" } %>
                </td></tr>
            </tfoot>
        </table>
    </fieldset>

    <%= profile.simple_fields_for :theacher_activity, (Information.new(information_type: InformationType.find_by(name: "theacher_activity")) if profile.object.theacher_activity.blank?), :wrapper => false do |info| %>
        <% info.object.information_type = InformationType.find_by(name: "theacher_activity")%>
        <%= info.input :information, as: :text, label: t('people.teaching_activity'), id: nil, rows: 3 %>
    <%end%>
    <%= profile.simple_fields_for :special_mentions, (Information.new(information_type: InformationType.find_by(name: "special_mentions")) if profile.object.special_mentions.blank?), :wrapper => false do |info| %>
        <% info.object.information_type = InformationType.find_by(name: "special_mentions")%>
        <%= info.input :information, as: :text, label: t('people.special_mentions'), id: nil, rows: 3 %>
    <%end%>
    <%= profile.simple_fields_for :other, (Information.new(information_type: InformationType.find_by(name: "other")) if profile.object.other.blank?), :wrapper => false do |info| %>
        <% info.object.information_type = InformationType.find_by(name: "other")%>
        <%= info.input :information, as: :text, label: t('people.other'), id: nil, rows: 3 %>
    <%end%>
<%end%>
</fieldset>
