<h1><%= t('admin.menu.audits', full_name: @person.try(:backwards_name)) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("audits.head.author") %></th>
      <th><%= t("audits.head.person") %></th>
      <th><%= t("audits.head.created_at") %></th>
      <th><%= t("audits.head.action") %></th>
      <th><%= t("audits.head.description") %></th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.try(:author) %></td>
        <td><%= audit.try(:person).try(:backwards_name) %></td>
        <td><%= audit.try(:created_at) %></td>
        <td><%= audit.action.html_safe unless audit.try(:action).blank? %></td>
        <td><%= audit.description.html_safe unless audit.try(:description).blank? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="text-center">
  <%= link_to t('audits.back'), admin_people_path, class: 'button' %>
</p>
