<%= simple_nested_form_for  @person, url: admin_person_path(params[:is_person].to_s=="true" ? @person : @job_level), html: { multipart: true } do |f| %>
  <%= render partial: "shared/errors", locals: {errors: f.object.errors, model: undescore(f.object.class.name)}%>
  <%= hidden_field_tag :public_data, params[:public_data]%>
  <%= hidden_field_tag :is_person, params[:is_person]%>
  <%= hidden_field_tag :corporation, params[:corporation]%>
  <%= render 'form', f: f %>
<% end %>


