<h1><%= t('admin.menu.people') %></h1>
<%= render "filter_index", people: @people_pag%>
<%= will_paginate @people_pag, renderer: FoundationPagination::Rails %>
<table>
  <thead>
    <tr>
      <% headers_files.each do |h|%>
        <th><%= h %></th>
      <%end%>
      <th><%= t("admin.people.headers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @people_pag.each do |job_level| %>
      <tr id="<%= job_level['id'] %>">
        <%= render partial: "people", locals: {job_level: job_level} %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @people_pag, renderer: FoundationPagination::Rails %>
