<%= simple_nested_form_for @person, url: admin_people_path, html: { multipart: true } do |f| %>
  <%= render partial: "shared/errors", locals: {errors: f.object.errors, model: undescore(f.object.class.name)}%>
  <%= render 'form', f: f %>
<% end %>