<h1><%= t('admin.people.hide_title', name: upper_case(@person.full_name)) %></h1>
<%= form_tag(admin_person_hide_path(@job_level.blank? ? @person : @job_level, is_person: @job_level.blank?), method: :put) do |f| %>
  <%= hidden_field_tag :corporation, params[:corporation] %>
  <div class="row">
   <div class="small-3 large-3 columns">
      <%= label_tag(:hidden_at, t('admin.people.actions.hidden_at')) %>
      <%= date_field_tag :hidden_at %>
    </div>
    <div class="small-12 large-9 columns">
      <%= label_tag(:hidden_reason, t('admin.people.actions.hidden_reason')) %>
      <%= text_field_tag :hidden_reason %>
    </div>
  </div>
  <%= submit_tag t('shared.submit'), class: "small radius success button"%>
<% end %>

