/*
*= require foundation-datepicker
*/
@import "foundation_and_overrides";
@import "fonts";
@import "icons";
@import "trix";
@import "variables";
@import "admin";
@import "layout";
@import "transparency";
@import "enquiries";
@import "jquery-ui/autocomplete";
@import "jquery-ui/custom";
@import "font-awesome";
@import "calendar_custom";


.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  
  .pretty th .asc {
    background-image: url(/images/up_arrow.gif);
  }
  
  .pretty th .desc {
    background-image: url(/images/down_arrow.gif);
  }

.declaration-date {
  padding-top: 1em;
  font-weight: bold;
}

.people-name {
  padding-top: 0.5em;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif";
  max-width: 200px;
  font-weight: bold;
  color: #222222;
  font-size: 20px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
}

.fixed-item {
  position: fixed;
  min-height: 120px;
  width: 252px;
  
}