.calendar_now {
    background-color: #0000e1;
    color: white !important;

    
    font-weight: bold;
  }

  .calendar_link {
    color: black;
    font-size: 0.8rem !important;
  }

  .calendar_link:hover {
    color: white;
    font-size: 0.8rem !important;
  }

  .calendar_now_button {
    color: white !important;
    font-weight: bold;
  }

.calendar_without {
  text-align: center;
    
}

  .calendar_now:hover {
    background-color: #0077b9;
    color: white;
    font-weight: bold;
  }

  .calendar_selected {
    background-color: #0077b9;
    color: white;

    
    font-weight: bold;
  }

  .calendar_event {
    margin: 0px;
    padding: 0.3rem;
    text-align: left;
    background-color: #FFC300;
    color: black;
    
    font-weight: bold;
  }

  .calendar_event_now {
    margin: 0px;
    padding: 0.3rem;
    text-align: left;
    background-color: #0000e1;
    color: white;
    font-weight: bold;
  }

  .calendar_event:hover {
    background-color: #0077b9;
    color: white;
    
    font-weight: bold;
  }

  .calendar_event_button_secondary {
    color: black;
    padding: 0.3rem;
    text-align: left;
  }

  .calendar_event_button_secondary:hover {
    color: #0077b9;
    padding: 0.3rem;
    
    text-align: left;
  }

  .calendar_event_button {
    margin: 0px;
    color: black;
    padding: 0.3rem;
    text-align: left;
  }

  .calendar_event_button:hover {
    margin: 0px;
    color: white;
    padding: 0.3rem;
    
    text-align: left;
  }


.calendar_buttons {
    padding: 10px;
    width: 100%;
}

.calendar_columns {
    padding: 1px;
}

.calendar_out {
    background-color: gray;
    padding: 0.3rem;
}

.calendar_secondary {
  background-color: lightgray;
}

