@charset "UTF-8";

@font-face {
  font-family: 'icons';
  src: font-url('icons.eot');
  src: font-url('icons.eot?#iefix') format('embedded-opentype'),
    font-url('icons.woff') format('woff'),
    font-url('icons.ttf') format('truetype'),
    font-url('icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-angle-down:before {
  content: "a";
}
.icon-angle-left:before {
  content: "b";
}
.icon-angle-right:before {
  content: "c";
}
.icon-angle-up:before {
  content: "d";
}
.icon-comments:before {
  content: "e";
}
.icon-twitter:before {
  content: "f";
}
.icon-calendar:before {
  content: "g";
}
.icon-debates:before {
  content: "i";
}
.icon-unlike:before {
  content: "j";
}
.icon-like:before {
  content: "k";
}
.icon-check:before {
  content: "l";
}
.icon-edit:before {
  content: "m";
}
.icon-star:before {
  content: "n";
}
.icon-user:before {
  content: "o";
}
.icon-settings:before {
  content: "q";
}
.icon-stats:before {
  content: "r";
}
.icon-proposals:before {
  content: "h";
}
.icon-organizations:before {
  content: "s";
}
.icon-deleted:before {
  content: "t";
}
.icon-tag:before {
  content: "u";
}
.icon-eye:before {
  content: "p";
}
.icon-x:before {
  content: "v";
}
.icon-flag:before {
  content: "w";
}
.icon-notification:before {
  content: "x";
}
.icon-comment:before {
  content: "y";
}
.icon-reply:before {
  content: "z";
}
.icon-facebook:before {
  content: "A";
}
.icon-google-plus:before {
  content: "B";
}
.icon-language:before {
  content: "C";
}
.icon-search:before {
  content: "E";
}
.icon-external:before {
  content: "F";
}
.icon-video:before {
  content: "D";
}
.icon-document:before {
  content: "G";
}
.icon-print:before {
  content: "H";
}
.icon-blog:before {
  content: "J";
}
.icon-box:before {
  content: "I";
}
.icon-youtube:before {
  content: "K";
}
.icon-letter:before {
  content: "L";
}
.icon-trash:before {
  content: "M";
}