// Contents
//
// 01. Variables
// 02. Mixins
// 03. Global styles
// 04. Header
// 05. Footer
// 06. Social
// 07. Alerts
// 08. Tables
// 09. Pagination
//

// 01. Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "variables";

// 02. Mixins
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin logo {
  color: white;
  font-family: $font-logo;
  font-weight: lighter;

  @media (min-width: $small-breakpoint) {
    font-size: rem-calc(24);
    line-height: rem-calc(48);
  }

  img {
    height: 48px;
    width: 48px;

    @media (min-width: $small-breakpoint) {
      height: 80px;
      margin-right: rem-calc(12);
      margin-top: 0;
      width: 80px;
    }
  }
}

@mixin title {
  font-size: $title-font-size;
  font-weight: $font-bold;
}

@mixin h1 {
  font-size: $h2-font-size;
  font-weight: $font-bold;

  @media (min-width: $small-breakpoint) {
    font-size: $h1-font-size;
  }
}

@mixin h2 {
  font-size: $h3-font-size;
  font-weight: $font-bold;

  @media (min-width: $small-breakpoint) {
    font-size: $h2-font-size;
  }
}

@mixin h3 {
  font-size: $h4-font-size;
  font-weight: $font-bold;

  @media (min-width: $small-breakpoint) {
    font-size: $h3-font-size;
  }
}

@mixin h4 {
  font-size: $h5-font-size;
  font-weight: $font-bold;

  @media (min-width: $small-breakpoint) {
    font-size: $h4-font-size;
  }
}

@mixin h5 {
  font-size: $h6-font-size;
  font-weight: $font-bold;

  @media (min-width: $small-breakpoint) {
    font-size: $h5-font-size;
  }
}

@mixin h6 {
  font-size: $h6-font-size;
  font-weight: $font-normal;
  text-transform: uppercase;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

h1, h2, h3, h4, h5, h6 {

  &.lead {
    border-bottom: rem-calc(6) solid $brand;
  }

  &.secondary {
    color: $text-medium;
  }
}

// 03. Global styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

*, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

::selection {
  color: white;
  background-color: $brand;
}

body {
  background: white;
  color: $text;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

p {
  color: $text;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  line-height: $heading-line-height;
  margin: rem-calc(12) 0 rem-calc(6);
}

a {
  color: $link;
  text-decoration: none;

  &:hover, &:active {
    color: $link-hover;
    text-decoration: underline;

    h1, h2, h3, h4, h5, h6 {
      color: $link-hover;
    }
  }

  &:focus {
    outline: 3px solid #ffbf47;
  }
}

form label {
  font-size: $base-font-size;
  font-weight: bold;
}

small {
  font-size: $small-font-size;
}

.button {
  background: $brand;
  font-size: $base-font-size;
}

.row {
  max-width: 1170px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto rem-calc(-280);
  height: auto !important;
  height: 100%;
}

.breadcrumbs {
  background: none;
  border-bottom: 1px solid $border;
  margin-bottom: rem-calc(24);

  @media (min-width: $small-breakpoint) {
    border: 0;
    margin: rem-calc(12) 0;
  }

  & > * {
    display: inline\9;
    float: none\9;
    font-size: $small-font-size;
    line-height: $line-height;
    text-transform: none;
  }

  a {
    color: $link;
    text-decoration: underline;
  }
}

.footer, .push {
  clear: both;
  min-height: rem-calc(280);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sidebar {
  border-top: 6px solid $brand;
  padding-top: rem-calc(12);
}

.inline-block {
  display: inline-block;
}

.margin {
  margin-bottom: rem-calc(24);
  margin-top: rem-calc(24);
}

.margin-top {
  margin-top: rem-calc(24);
}

.highlight, .highlight-grey {
  margin: rem-calc(24) 0;
  padding: rem-calc(12);
  padding-top: 0;
}

.highlight {
  background: $highlight;
}

.highlight-grey {
  background: $hover;
}

.relative {
  position: relative;
}

.fixed-left-sidebar {
  &.fixed {
    left: auto !important;
    max-width: rem-calc(270);
    width: 24%;
  }
  min-width: 0;
}

cite, var, address, dfn {
  font-style: normal;
}

.success {
  color: $check;
}

.pending {
  color: $text-medium;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  padding: 0;

  @media (min-width: $small-breakpoint) {
    padding: rem-calc(10);
  }
}

.details {
  margin: $line-height 0;
  padding-top: rem-calc(6);

  dt, dd {
    float: left;
  }

  dt {
    clear: left;
    font-weight: bold;
    min-width: rem-calc(240);
  }

  dd {
    clear: left;

    @media (min-width: $small-breakpoint) {
      clear: none;
    }
  }
}

.big-data {
  font-size: $h1-font-size;
  font-weight: bold;
}

.search-form {

  input[type="text"], input[type="submit"] {
    height: $line-height*2;
  }

}

// 04. Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

header {
  border-bottom: rem-calc(1) solid $border;

  .external-links {
    float: none;
    padding: rem-calc(6) 0;
    text-align: center;

    @media (min-width: $small-breakpoint) {
      float: right;
    }

    .selected {
      border-bottom: 2px solid white;
      padding-bottom: rem-calc(2);
      position: relative;
    }
  }
}

.contain-to-grid {
  background: black;
}

.top-bar {
  background: black;
  height: auto;
  max-width: 1170px !important;
  min-height: rem-calc(60);
  padding: 0 rem-calc(12);

  @media (min-width: $small-breakpoint) {
    padding: 0;
  }

  .name {
    line-height: rem-calc(60);

    @media (min-width: $small-breakpoint) {
      margin-left: rem-calc(12);
    }

    a {
      @include logo;
    }
  }

  .title-area {

    @media (min-width: $small-breakpoint) {
      min-height: rem-calc(60);
    }
  }

  .toggle-topbar {

    a {
      font-size: rem-calc(10);
    }

    &.menu-icon a {
      padding: 0 rem-calc(24);

      span::after {
        box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
        right: 0;
      }
    }
  }

  &.expanded {

    .title-area {
      background: none;
    }

    .toggle-topbar a {
      color: #FFF;

      span::after {
        box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
      }
    }
  }
}

.top-bar-section {

  a {
    color: white;
    display: inline-block;
    font-size: $small-font-size;
    line-height: $line-height;
    position: relative;
    text-align: left;

    @media (min-width: $small-breakpoint) {
      margin: 0 rem-calc(24);
    }
  }

  ul {
    margin-left: 0;

    li {
      background: none;

      &:not(.has-form) a:not(.button) {
        background: none;
        color: white;
        font-size: rem-calc(16);
        line-height: rem-calc(48);
        padding: 0;
        text-align: center;

        @media (min-width: $small-breakpoint) {
          line-height: rem-calc(80);
        }

        &:hover {
          background: none;
          color: $text-light;
          text-decoration: underline;
        }

        &.selected {
          background: white;
          color: $brand;
        }
      }
    }
  }
}

.top-links {
  background: $dark;
  color: white;
  font-size: $small-font-size;
  padding-right: 12px;

  a {
    color: white;
    margin: 0 rem-calc(6);

    &:hover {
      text-decoration: underline;
    }
  }
}

.jumbo {
  background: $brand;
  color: white;
  margin-bottom: $line-height;

  @media (min-width: $small-breakpoint) {
    padding: rem-calc(24) 0;
  }

  h1, h2, p, ul {
    color: white;
  }

  h2 {
    border-left: 1px solid white;
    padding-left: rem-calc(12);
  }
}

.subnavigation {
  background: white;
  clear: both;
  padding-left: rem-calc(12);

  ul {
    margin-bottom: 0;
  }

  @media (min-width: $small-breakpoint) {
    padding-left: 0;

    & > .column {
      padding-left: 0;
    }
  }

  .icon-external:before {
    color: $text;
    font-size: $small-font-size;
    position: absolute;
    right: -20px;
    top: 17px;
  }

  a {
    color: $text;
    display: inline-block;
    font-weight: bold;
    line-height: $line-height*2;
    position: relative;
    text-align: left;

    @media (min-width: $small-breakpoint) {
      margin-left: rem-calc(12);
      margin-right: rem-calc(36);
      margin-right: 12px\9;
    }

    &:after {
      color: $border;
      content: "|";
      padding: 0 rem-calc(12);

      @media (min-width: $small-breakpoint) {
        content: none;
        padding: 0;
      }
    }

    &:last-child:after {
      content: none;
    }

    &:hover {
      color: $link;
    }

    &.active {
      color: $brand;

      @media (min-width: $small-breakpoint) {
        border-bottom: 2px solid $brand;
      }
    }
  }
}

// 05. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

.footer {
  background: #292929;
  margin-top: $line-height*2;
  padding-top: $line-height;

  h1 {
    font-size: rem-calc(24);
    font-weight: bold;
    line-height: $line-height;
    margin: 0;
    margin-bottom: $line-height/2;

    a {
      color: white;
      text-decoration: none;
    }
  }

  p {
    color: white;
    font-size: $small-font-size;

    .info a {
      text-decoration: underline;
    }

    &.title {
      font-family: $font-logo;
      font-weight: bold;
      margin-bottom: $line-height/2;
    }
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover, &:active, &:focus {
      background: white;
      color: black;
    }
  }

  .footer-sections {
    padding-left: 0;
  }

  .sites-list {
    border-left: 2px solid #3F4649;
  }
}

.subfooter {
  background: black;
  margin-top: $line-height*2;
  padding-top: $line-height;

  ul li a {
    margin-right: $line-height/2;
  }
}

.copyright {
  display: inline-block;
  margin-right: rem-calc(30);
}

// 06. Social
// - - - - - - - - - - - - - - - - - - - - - - - - -

.social {
  margin-top: rem-calc(24);
  padding-top: rem-calc(6);
  text-align: center;
  vertical-align: middle;

  @media (min-width: $small-breakpoint) {
    margin-top: 0;
    text-align: right;
  }

  a {
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    margin: 0 rem-calc(12);
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      background: white;
      color: black;
      text-decoration: none;
    }

    @media (min-width: $small-breakpoint) {
      font-size: rem-calc(18);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// 07. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert-box {

  &.success {
    background-color: $success-bg;
    border-color: $success-border;
    color: $success-color;
  }

  &.info {
    background-color: $info-bg;
    border-color: $info-border;
    color: $info-color;
  }

  &.warning {
    background-color: $warning-bg;
    border-color: $warning-border;
    color: $warning-color;

    a {
      color: $warning-color;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &.alert {
    background-color: $alert-bg;
    border-color: $alert-border;
    color: $alert-color;
  }

  .close {
    text-decoration: none !important;
  }
}

span.error, small.error {
  background: $alert-bg;
  color: $alert-color;
}

.error small.error {
  background: $alert-bg;
  color: $alert-color;
  display: inline-block;
  margin: 0 rem-calc(6);
}

label.error, label.error a {
  color: $alert-color;
}

.alert-messages {
  background-color: white;
  padding-top: rem-calc(24);
}

// 08. Tables
// - - - - - - - - - - - - - - - - - - - - - - - - -

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th {
    font-weight: bold;
  }

  .th-big {
    width: 30%;
  }

  .th-small {
    width: 15%;
  }

  .th-tiny {
    width: 8%;
  }

  tr td {
    border: 1px solid #DDDDDD;
  }

  @media screen and (max-width: 640px) {
    overflow-x: auto;
    display: block;
  }

  caption {
    color: $brand;
    font-weight: bold;
    padding: rem-calc(12) 0;
    text-align: left;
    text-transform: uppercase;
  }

  .linkable:hover {
    background-color: $highlight;
    color: $highlight-color;
    cursor: pointer;
    outline: 2px solid $brand;
  }

  .button {
    margin-bottom: 0;
  }
}

// 09. Pagination
// - - - - - - - - - - - - - - - - - - - - - - - - -

/*ul.pagination {
  margin-top: rem-calc(24);
  .linkable:hover {
    background-color: $link;
    color: $highlight-color;
    cursor: pointer;
    outline: 2px solid $brand;
  }
  li {
    color: $text-medium;
  }
}*/

ul.pagination {
  display: block;
  margin-left: -0.3125rem;
  min-height: 1.5rem; }
ul.pagination li {
  color: #222222;
  font-size: 0.875rem;
  height: 1.5rem;
  margin-left: 0.3125rem; }
ul.pagination li a, ul.pagination li button {
  border-radius: 3px;
  transition: background-color 300ms ease-out;
  background: none;
  color: #8C8C8C;
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  padding: 0.0625rem 0.625rem 0.0625rem; }
ul.pagination li:hover a, ul.pagination li a:focus, ul.pagination li:hover button, ul.pagination li button:focus {
  background: #0077b9; 
  color: #FFFFFF;
  text-decoration: none;
}
ul.pagination li.unavailable a, ul.pagination li.unavailable button {
  cursor: default;
  color: #8C8C8C; }
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus, ul.pagination li.unavailable:hover button, ul.pagination li.unavailable button:focus {
  background: transparent; }
ul.pagination li.current {
  background: #0077b9;
  color: #FFFFFF;
  padding: 0px 10px;
  font-weight: bold;
  border-radius: 3px;
}
ul.pagination li.current a, ul.pagination li.current button {
  background: #0077b9;
  color: #FFFFFF;
  cursor: default;
  font-weight: bold; }
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
  background: #0077b9; }
ul.pagination li {
  display: block;
  float: left; }

/* Pagination centred wrapper */
.pagination-centered {
  text-align: center; }
.pagination-centered ul.pagination li {
  display: inline-block;
  float: none; }
