// Contents
//
// 01. Browse panes
// 02. People
// 03. Column sorting
// 04. Accesibility

// 01. Browse panes
// - - - - - - - - - - - - - - - - - - - - - - - - -

.menu ul {
  list-style-type: none;
  margin-left: 0;

  li {
    margin: 0 rem-calc(-15);

    &:hover {
      background: $hover;
    }

    a {
      display: block;
      line-height: rem-calc(24);
      padding: rem-calc(12) rem-calc(18);
      position: relative;

      p {
        color: $text;
      }

      &.active {
        background: $brand;
        color: white;

        h3, p {
          color: white;
        }
      }

      &:after {
        content: "c";
        font-family: "icons" !important;
        margin-top: rem-calc(-12);
        position: absolute;
        top: 50%;
        right: 0;
      }
    }
  }
}

.no-style-list {
  list-style-type:none
}
.pane {
  border-left: 1px solid $border;
}

pre {
  white-space: pre-wrap;
}

// 02. People
// - - - - - - - - - - - - - - - - - - - - - - - - -

.people {

  .tabs {

    &.divider {
      border-bottom: 1px solid $border;
      border-top: 1px solid $border;
    }
  }
}

.people-card {

  i {
    font-size: $base-font-size;
  }

  .column {

    @media (min-width: $small-breakpoint) {
      padding-bottom: rem-calc(480);
    }
  }
}

.text_content {
  color: $text-medium;
}

.people-list {
  margin-left: 0;
  margin-top: rem-calc(24);

  li {
    display: inline-block;
    display: inline\9;
    float: left\9;
    vertical-align: top;
    width: 49%;
    width: 24%\9;

    @media (min-width: $small-breakpoint) {
      width: 32%;
    }

    @media (min-width: $medium-breakpoint) {
      width: 24%;
    }

    a {
      display: inline\9;

      &:focus {
        display: inline-block;
      }
    }

    h3 {
      margin-top: rem-calc(12);
      max-width: 200px;
    }
  }

  p {
    color: $text-medium;
    margin: 0 0 rem-calc(24);
    max-width: 200px;
  }
}

.people-list-text {
  list-style-type: none;
  margin-left: 0;
  margin-top: rem-calc(24);

  li {
    border-bottom: 1px solid $border;
    padding: rem-calc(6) 0;
  }

  h3 {
    font-weight: normal;
    margin: 0;
  }
}

.people-affiliation {
  background: $brand;
  border-top-left-radius: rem-calc(12);
  bottom: 0;
  color: white;
  font-size: rem-calc(12);
  padding: rem-calc(3) rem-calc(6);
  position: absolute;
  right: 0;
}

.people-photo {
  display: inline\9;

  figure {
    display: inline-block;
    position: relative;
  }
}

.fixed-left-sidebar {

  .people-photo {
    padding-left: rem-calc(12);
  }
}

.role {
  color: $brand;
  font-size: rem-calc(24);
  margin-top: 0;
}

.secondary-role {
  display: block;
}

.charge-role {
  font-size: rem-calc(24);
  margin-top: 0;
  display: block;
}

.profile {

  @media (min-width: $small-breakpoint) {
    padding-top: rem-calc(70);
  }
}

.tabs.vertical {
  border-right: 1px solid $border;
  margin-right: rem-calc(24);
}

.tabs dd.active > a, .tabs .tab-title.active > a {
  background: $brand;
  color: white;
}

.tabs dd > a, .tabs .tab-title > a {
  background: #fff;
  color: $brand;
}
.tabs dd > a, .tabs .tab-title > a:focus {
  outline: 3px solid #ffbf47;
}
.tabs-content > .content {
  padding: 0;
}

.side-nav li {
  font-size: $base-font-size;

  &:hover {
    background: #DEE0E2;
  }

  a:not(.button) {
    color: $link;
    padding: 0;

    @media (min-width: $small-breakpoint) {
      padding: rem-calc(7) rem-calc(14);
    }

    &:hover, &:focus {
      background: none;
      color: $link-hover;
    }
  }

  &.active {
    background: $brand;
    color: white;

    & > a:first-child:not(.button), a {
      background: $brand;
      color: white;
    }
  }
}

table.same-width td {
  width: 50%;
}

// 03. Column sorting
// - - - - - - - - - - - - - - - - - - - - - - - - -

.sortable th {

  .current {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: rem-calc(12);
  }

  .asc {
    background-image: image-url('up_arrow.gif');
  }

  .desc {
    background-image: image-url('down_arrow.gif');
  }
}

// 04. Accesibility
// - - - - - - - - - - - - - - - - - - - - - - - - -

.breadcrumbs > *.unavailable {
  color: $text;
}
