// Table of Contents
//
// 01. Typography
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Responsive
//

// 01. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-font-size:      rem-calc(17);
$small-font-size:     rem-calc(14);
$lead-font-size:      rem-calc(20);
$title-font-size:     rem-calc(52);
$h1-font-size:        rem-calc(40);
$h2-font-size:        rem-calc(30);
$h3-font-size:        rem-calc(20);
$h4-font-size:        rem-calc(17);
$h5-font-size:        rem-calc(15);
$h6-font-size:        rem-calc(13);
$base-line-height:    1.5;
$heading-line-height: 1.3;
$lead-line-height:    1.7;

$font-sans:           'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-logo:           'Lato' !important;

$font-normal:         400;
$font-bold:           700;

$line-height: rem-calc(24);

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$body:              #E9E9E9;
$background:        #EDEFF0;
$border:            #DEE0E3;
$brand:             #004A83;
$dark:              darken($brand, 10%);

$text:              #222222;
$text-medium:       #8C8C8C;
$text-light:        #CCCCCC;

$link:              #005EA5;
$link-hover:        #2E8ACA;

$delete:            #E12B0F;
$check:             #46DB91;

$hover:             #DEE0E2;
$highlight:         #E7F2FC;
$highlight-color:   #3D464D;

// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:           #D9EDF7;
$info-border:       #BCE8F1;
$info-color:        #31708F;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$alert-color:       #A94442;

// 05. Responsive
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:             em-calc(480);
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));