<p id="notice"><%= notice %></p>

<h1>Listing Data Preferences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_preferences.each do |data_preference| %>
      <tr>
        <td><%= link_to 'Show', data_preference %></td>
        <td><%= link_to 'Edit', edit_data_preference_path(data_preference) %></td>
        <td><%= link_to 'Destroy', data_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data preference', new_data_preference_path %>
