<h1><%= t('admin.text_contents.edit.title') %></h1>

<%= simple_form_for(@text_content, url: admin_text_content_path(@text_content)) do |f| %>
  <%= render partial: "shared/errors", locals: {errors: f.object.errors, model: undescore(f.object.class.name)}%>
  <div class="row">
    <div class="column">
      <%= f.label :section%>
      <%= TextContent.human_attribute_name(@text_content.section) %>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="column">
      <%=f.input :content, input_html: {maxlength: 250, onkeyup: "count_characters()"} %>
      <small class="text_content"><%= t('admin.text_contents.character_count')%>: <span id="characters">0</span></small>
    </div>
  </div>
  <div class="actions" style="margin-top: 30px">
    <%= link_to t('admin.actions.back'), admin_preferences_path(text_content: true), class: "button radius" %>
    <%= f.button :submit, class: "button radius" %>
  </div>
<% end %>

<script>
  function count_characters() {
    var characters = $("#characters")
    var content = $("#text_content_content")

    characters.text(250 - content.val().length);
  }
  count_characters();
</script>

