<header>
  <div class="contain-to-grid clear">
    <div class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to root_path do %>
            <%= t("layouts.header.transparency") %> | <%= t("layouts.header.subtitle") %>
          <% end %>
        </li>
      </ul>
      <div class="float-right text-right">
        <%= image_tag('header_logo_madrid.png', alt: "#{t("layouts.header.transparency") }|#{t("layouts.header.subtitle")}") %>
      </div>
    </div>
  </div>
  
  <nav class="subnavigation">
    <div class="row">
      <ul class="no-bullet">
        <li class="inline-block">
          <%= link_to t("layouts.header.councillors"), councillors_people_path, class: ("active" if current_page?(root_path)), accesskey: 0 %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.directors"), directors_people_path, class: ("active" if current_page?(directors_people_path)), accesskey: 1 %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.temporary_workers"), temporary_workers_people_path, class: ("active" if current_page?(temporary_workers_people_path)), accesskey: 2 %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.public_workers"), public_workers_people_path, class: ("active" if current_page?(public_workers_people_path)), accesskey: 3 %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.spokespeople"), spokespeople_people_path, class: ("active" if current_page?(spokespeople_people_path)), accesskey: 4 %>
        </li>
        <li class="inline-block">
          <%= link_to "https://agendas.madrid.es/",accesskey: 5, target: "_blank", title: t("layouts.header.open_new") do %>
              <%=  t("layouts.header.calendars") %>
              <span class="icon-external"></span>
          <% end %>
        </li>
        <% unless current_administrator.blank?%>
          <li class="inline-block">
            <%= link_to t("layouts.footer.admin"), admin_root_path %>
          </li>
        <%end%>
      </ul>
    </div>
  </nav>
</header>
