<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= content_for?(:title) ? yield(:title) : t("transparency") %></title>
  <meta name="description" content="Transparencia | Concejales, directivos y eventuales">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= content_for :head %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= favicon_link_tag "apple-touch-icon-200.png",
                   rel: "icon apple-touch-icon",
                   sizes: "200x200",
                   type: "image/png" %>
  <%= csrf_meta_tags %>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>
