<!DOCTYPE html>
<html lang="es">
  <%= render 'layouts/head' %>
  <body class="admin">
    <%= render 'layouts/header' %>
    <main class="wrapper">
      <%= render 'shared/notice' %>
      <div class="row expanded">
        <div class="small-12 medium-3 large-2 column">
          <%= render 'admin/menu' %>
        </div>
        <div class="admin-content small-12 medium-9 large-10 column">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
