<!DOCTYPE html>
<html lang="es">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <main class="wrapper">
      <h1 class="sr-only"><%= t("layouts.header.transparency") %> | <%= t("layouts.header.subtitle") %></h1>
      <%= render 'shared/notice' %>
      <div class="row">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
