<h1><%= t('admin.profile_uploads.index.title') %></h1>
<p class="text-center">
  <%= link_to t('admin.profile_uploads.index.new_button'), new_admin_profile_upload_path, class: 'button' %>
</p>

<%= render partial: 'admin/delete_data/logs', locals: {logs: @profile_uploads, model: ProfileUpload, path: "admin_profile_upload_path", section_m: false} %>
