<h1><%= t('admin.profile_uploads.new.title') %></h1>
<%= render partial: "shared/errors", locals: {errors: @profile_upload.errors, model: undescore(@profile_upload.class.name)}%>

<%= form_tag({:controller => "profile_uploads", :action => "create"}, :method => "post", :enctype =>"multipart/form-data" ) do %>
  <div class="row">
    <div class="column">
      <%= label_tag "#{t('admin.profile_uploads.fields.file')}*",nil, class: ("error" unless @profile_upload.errors[:file].blank?)%>
      <%= file_field_tag "profile_upload[file]", class: ("error" unless @profile_upload.errors[:file].blank?) %>
      <% unless @profile_upload.errors[:file].blank?%>
        <small class="error error"><%=@profile_upload.errors[:file][0]%></small>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="small-4 column">
      <%= label_tag t('admin.profile_uploads.fields.corporation')%>
      <%= select_tag "profile_upload[corporation]", options_from_collection_for_select(@corporation_list,"id", "name"), include_blank: true %>
    </div>
  </div>
  <%= submit_tag t("shared.submit"), class: "button radius" %>
<% end %>
