<h1><%= t('admin.profile_uploads.show.title') %></h1>
<%=render "/shared/logs_emails", obj: @profile_upload, 
  url_send: send_mailer_admin_profile_upload_path(@profile_upload), 
  model: ProfilesEmailLog, 
  url_model: "show_mailer_admin_profile_upload_path",
  url: "/admin/profile_uploads/"%>
<p class="text-center">
  <%= link_to t('admin.profile_uploads.show.back'), admin_profile_uploads_path, class: 'button' %>
</p>
