<h1><%= t('admin.profile_email_uploads.show.title') %></h1>
<%= render "/shared/log_data", log_data: @profile_mailer.try(:log)%>
<p class="text-center">
  <%= link_to t('admin.profile_email_uploads.show.back'), admin_profile_upload_path(@profile_mailer.try(:log_id),{section_m: true}), class: 'button' %>
</p>